@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Team |";
}
<main id="main">

    <!-- ======= Our Team Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Team</h2>
               @*@* <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Our Team</li>
                </ol>*@
            </div>

        </div>
    </section><!-- End Our Team Section -->
    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img" >
                            <img src="assets/img/team/Sonali.jpg" class="img-fluid" alt="Team Member" style="height:350px; width:350px">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sonali Rawat</h4>
                            <span>Director</span>
                            <p>Sonali, our Director, has over 4 years of experience in IT Industry. She is PowerPlaform (Canvas, Model Driven Application, Power BI) Expert, making them a valuable asset to our team</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/Abhishek.jpeg" class="img-fluid" alt="Team Member" style="height:350px; width:350px">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/abhishek-kumar-82493b26a" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Abhishek Kumar</h4>
                            <span>Office 365 & Power Platform Developer</span>
                            <p>Abhishek, Office 365 & Power Platform Developer, has experience in Microsoft's Dynamics And Power Platform. They are an expert in Power Apps, Power BI, Dynamics 365 and have worked on Multipule Office 365 Projects.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/Sumit1.jpeg" class="img-fluid" alt="Team Member" style="height:350px; width:350px">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/sumiit-joshii/" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sumit Joshi</h4>
                            <span>RPA Developer (UI Path and Power Automate)</span>
                            <p>Sumit, RPA Developer, has experience in UI Path and Microsoft's Power Automate Desktop and Web. They are an expert in RPA and have worked on Multipule RPA Projects.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/Shivani.jpeg" class="img-fluid" alt="Team Member" style="height:350px; width:350px">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href="" ><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shivani Gusain</h4>
                            <span>Dot NET Developer (Web and Desktop)</span>
                            <p>Shivani,.NET Developer, has experience in Developing Web and Desktop application. Expert in Web development and have worked on Multipule Projects.</p>
                        </div>
                    </div>
                </div>

               

            </div>

        </div>
    </section><!-- End Team Section -->

</main>