@model ContactUs

@if (TempData["success"] != null)
{
    @TempData["success"];
}
@{
    // ViewData["Title"] = "Contact us for Best Power Platform Services & Perfect Digital Solution |";
    ViewData["Title"] = "Contact Voxtus Technology | Get in Touch with Us |";
}
@section MetaTags{
    <meta name="title" content="Contact us for Best Power Platform Services & Perfect Digital Solution">
    <meta name="description" content="Voxtus Technologies: Expertise in software Development, driving digital innovation, delivers innovative software solutions and transforming IT visions to reality." />
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
<!-- ======= Meta Desctiption ======= -->
@* <meta name="title" content="Contact us: Customized Business solution |Power Platform | Dynamics 365 | .NET | RPA">
<meta name="description" content="Looking for customized business solution, consultation or specialized services? | Email:info@voxtus.com | +91-8630235507 | Get free consultation call from our expert.">
<meta name="keywords" content="Voxtus, Microsoft Power Platform Services, Consult , Reach Us , Call Us , RPA , Dynamics 365">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English"> *@

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h1 class="h2 fw-light">Contact</h1>
                @*<ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Contact</li>
                </ol>*@
            </div>

        </div>
    </section><!-- End Contact Section -->
    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>
                                    Lane No 5F, Shivraj Nagar,
                                    Badonwala, Uttarakhand, 248007
                                    India
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>info@voxtus.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                @* <p>+918630235507<br></p> *@
                                <p>
                                    @* +1 (213) 269‑4912 (USA)<br> *@
                                    +918630235507
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                
                <div class="col-lg-6">
                    <p class="text-center">@TempData["success"]</p>
                    <form method="post" class="mt-2">
                        <div>
                    <form method="post"  role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                    <input asp-for="Name" type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input asp-for="Email" type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                        </div>
                        <div class="form-group mt-3">
                                <input asp-for="PhoneNo" type="text" class="form-control" name="PhoneNo" id="PhoneNo" placeholder="PhoneNo" required>
                        </div>
                        <div class="form-group mt-3">
                                <textarea input asp-for="Message" class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                        @*<div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div> *@
                                <div class="text-center mt-2"><button type="submit" class="btn-primary">Send Message</button></div>
                    </form>
                </div>
                </form>

                   
                </div>

                @*<script type="text/javascript">
                    $(document).ready(function(){
                        setTimeout(function(){
                            $("#myform").Index("show")
                        }),5000
                    });

                </script>*@


               


            </div>

        </div>
    </section><!-- End Contact Section -->
    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
        <div class="container-fluid p-0">
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.2219901290355!2d-74.00369368400567!3d40.71312937933185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a23e28c1191%3A0x49f75d3281df052a!2s150%20Park%20Row%2C%20New%20York%2C%20NY%2010007%2C%20USA!5e0!3m2!1sen!2sbg!4v1579767901424!5m2!1sen!2sbg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>*@
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.698022623495!2d77.95684897436816!3d30.302657306292677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092b8e81ce4f09%3A0xf5e6934c439d9ddd!2sVoxtus%20Technologies%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1687276744381!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section><!-- End Map Section -->

</main><!-- End #main -->
