@{
    ViewData["Title"] = "Auto Scrollable Gallery Control in Power Apps |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Auto Scrollable Gallery Control in Power Apps">
    <meta name="description" content="Learn how to create an auto-scrollable gallery control in Power Apps. Enhance user experience by automating gallery scrolling for seamless navigation.">
    <meta name="keywords" content="auto scrollable gallery, Power Apps gallery, Power Apps control, gallery control, Power Platform, scrollable gallery, auto scroll Power Apps, user experience, Power Apps tutorial, gallery scrolling, app development, automation in Power Apps, Power Apps design, seamless navigation, gallery customization">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}


<div class="container  text-justify mt-4  bg-light service-details align-content-center" style="border:2px solid black">
                    <div class="mt-2 mx-3">
                        <h1 class="mt-4 mx-3 text-center">
                            How to make an Auto scrollable Gallery Control in Power Apps
                        </h1><hr />
                    </div>
                    <div class="mt-3 mx-3 bg-white pt-1 pb-2">
                        <p class="mt-3 mx-3">Ever found yourself wanting to add an auto-scrolling feature to your PowerApps gallery control? While it's not a standard option, you're in for a treat. I'll guide you through the process of making your gallery automatically scroll in PowerApps, and it's easier than you might think. Let's dive into the step-by-step instructions!"</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto Scroll Gallery.gif" alt="AutoScrollableGalleryControl" title="AutoScrollableGalleryControl" loading="lazy" class="img-fluid  border" /></div>
                        <h4 class="mt-4 mx-3">Launch Power Apps</h4>
                        <ul class="mx-3">
                            <li>Open Power Apps by visiting <a href="http://make.powerapps.com/" target="_blank" class="text-decoration-none">make.powerapps.com</a> and signing in with your Microsoft account.</li>
                            <li>Next create a New App or Open an Existing App.</li>
                            <li>Afterward, establish a connection to your data source by selecting the SharePoint list or Dataverse table you've created.</li>
                        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto_Scrollable_Gallery1.png" alt="AutoScrollableGalleryControl" title="AutoScrollableGalleryControl" loading="lazy" class="img-fluid  border" /></div>
                        <p class="mt-4 mx-3 h6">Let's explore some straightforward examples to illustrate filter queries:</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto_Scrollable_Gallery2.png" alt="AutoScrollableGalleryControl" title="AutoScrollableGalleryControl" loading="lazy" class="img-fluid  border" /></div>
                        <div class="container mt-5">
                            <!-- Button to copy the code snippets -->
                            <div class=" d-flex justify-content-between">
                                <h5>Code:</h5>
                            <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code1">
                                <i class="bi bi-clipboard"></i>
                                </button>
                            </div>
                            <!-- Your code snippets -->
                            <pre id="code1" class="border px-5" style="background-color:whitesmoke">ClearCollect(
     BookCollection, 	//(Replace BookCollection with your Collection)
Scrolls);  		//(Replace this with your Data Source)
ClearCollect(
    BookCollection,
    ForAll(
        Sequence(CountRows(BookCollection)),
        Patch(
            Last(
                FirstN(
                    BookCollection,
                    Value
                )
            ),
            {RowNumber: Value}
        )
    )
);
Set(varRowsPerPage,4);
Set(varCurrentPage,1);
Set(
    varTotalPages,
    RoundUp(
        CountRows(BookCollection) / varRowsPerPage,
        0
    )
);
Set(varStartTimer,true);
</pre>

                            
                        </div>
                        <p class="mt-4 mx-3 h6">Add or Select a screen </p>
                        <ul class="mx-3">
                            <li>Now Add a New screen or select one in which you want scrollable gallery.</li>
                        </ul>
                        <p class="mt-4 mx-3 h6">Insert a Gallery Control</p>
                        <ul class="mx-3 d-flex flex-column gap-3">
                            <li>Choose <span class="fw-bold">'Gallery'</span> from the <span class="fw-bold">’Insert’</span> menu, and you'll see options for different types of galleries. Select <span class="fw-bold">'Blank vertical gallery'</span>.</li>
                            <li>
                                Now, add labels inside the gallery control's template to display the text.
                                Update the Text property of each label control to reflect the appropriate data fields from your data source.
                            </li>
                            <li>Drag and drop a blank vertical gallery control onto your page, and update the Item property with the following code. Additionally, set the properties as indicated:<ol>
                                    <li class="fw-bold">ShowScrollBar: false</li>
                                    <li class="fw-bold">ShowNavigation: false</li>
                            </ol></li>
                            <li>Items Property:</li>
                        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto_Scrollable_Gallery3.png" alt="AutoScrollableGalleryControl" title="AutoScrollableGalleryControl" loading="lazy" class="img-fluid  border" /></div>
                        <div class="container mt-5">
                            <!-- Button to copy the code snippets -->
                            <div class=" d-flex justify-content-between">
                                <h5>Code:</h5>
                                <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code2">
                                    <i class="bi bi-clipboard"></i>
                                </button>
                            </div>
                            <!-- Your code snippets -->
                            <pre id="code2" class="border px-5" style="background-color:whitesmoke">Filter(
    BookCollection,
    RowNumber <= (varRowsPerPage * varCurrentPage) && RowNumber > (varRowsPerPage * varCurrentPage) - varRowsPerPage
)
</pre>
                        </div>
                        <p class="mt-4 mx-3 h6">Insert Power Apps Timer Control </p>
                        <ul class="mx-3">
                            <li>Drag and drop a PowerApps timer control onto your page, and configure the following properties:
                                <ul class="mt-2 d-flex flex-column gap-2">
                                    <li><span class="fw-semibold">Duration:</span> Set the desired duration for the timer, e.g., 1000 (1 second).</li>
                                    <li><span class="fw-semibold">AutoStart:</span> Set it to <span class="fw-bold">"true"</span> if you want the timer to start automatically when the screen is loaded.</li>
                                    <li><span class="fw-semibold">Start:</span> varStartTimer</li>
                                    <li><span class="fw-semibold">Repeat:</span> true</li>
                                    <li><span class="fw-semibold">AutoPause:</span> true</li>
                                    <li><span class="fw-semibold">OnTimerEnd:</span> Enter the following code</li>
                                </ul>
                            </li>
                        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto_Scrollable_Gallery4.png" alt="AutoScrollableGalleryControl" title="AutoScrollableGalleryControl" loading="lazy" class="img-fluid  border" /></div>
                        <div class="container mt-5">
                            <!-- Button to copy the code snippets -->
                            <div class=" d-flex justify-content-between">
                                <h5>Code:</h5>
                                <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code3">
                                    <i class="bi bi-clipboard"></i>
                                </button>
                            </div>
                            <!-- Your code snippets -->
                            <pre id="code3" class="border px-5" style="background-color:whitesmoke">If(
    varCurrentPage = varTotalPages,
    Set(varCurrentPage, 1),
    Set(varCurrentPage, varCurrentPage + 1)
)
</pre>
                        </div>
                        <p class="mt-4 mx-3 text-center">By following these steps, you can add an impressive auto-scrolling feature to your PowerApps gallery control, providing a dynamic and engaging user experience. This creative solution allows you to display content in a more interactive and visually appealing way. Experiment with different scroll speeds and durations to find the perfect balance for your specific use case.</p>
                        <p class="mt-4 mx-3 text-center">We hope this guide has been helpful in expanding your PowerApps toolkit.</p>
                    </div>
                    <hr />
                    <div class="row mb-2">
                        <h6 class="text-center text-primary">
            If you have any doubts or questions related to this blog, you can Contact us by Email: <a href="mailto:info@voxtus.com" target="_blank" class="text-decoration-none">info@voxtus.com</a>
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4"><p><b>Sumit Joshi<br />Power Apps Consultant</b></p></div>
                    </div>
</div>           
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

<script>
    new ClipboardJS('.btn');
</script>

