@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Auto-Scrolling Galleries in PowerApps: Step-by-Step Guide |";
}
<meta name="description" content="Learn how to create interactive auto-scrolling gallery controls in PowerApps with our comprehensive step-by-step guide, boosting user engagement and enhancing the user experience." />
<meta name="keywords" content="PowerApps, Power Platform, Learn PowerApps, scrollable galleries, user engagement, step-by-step guide, Voxtus" />
<meta name="author" content="Voxtus" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="Create Auto-Scrolling Galleries in PowerApps - Step-by-Step Guide" />
<meta property="og:description" content="Enhance user engagement with interactive auto-scrolling galleries in PowerApps. Follow our step-by-step guide." />


<main id="main">
    <section>
        <div class="row">
            <div class=" col-lg-9">
                <div class="container  text-justify mt-4  bg-light service-details align-content-center" style="border:2px solid black">
                    <div class="mt-2 mx-3">
                        <h2 class="mt-4 mx-3 text-center">
                            How to make an Auto scrollable Gallery Control in Power Apps
                        </h2><hr />
                    </div>
                    <div class="mt-3 mx-3 bg-white pt-1 pb-2">
                        <p class="mt-3 mx-3">Ever found yourself wanting to add an auto-scrolling feature to your PowerApps gallery control? While it's not a standard option, you're in for a treat. I'll guide you through the process of making your gallery automatically scroll in PowerApps, and it's easier than you might think. Let's dive into the step-by-step instructions!"</p>
                        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto Scroll Gallery.gif" class="img-fluid  border" /></div>
                        <h4 class="mt-4 mx-3">Launch Power Apps</h4>
                        <ul class="mx-3">
                            <li>Open Power Apps by visiting <a href="http://make.powerapps.com/" target="_blank" class="text-decoration-none">make.powerapps.com</a> and signing in with your Microsoft account.</li>
                            <li>Next create a New App or Open an Existing App.</li>
                            <li>Afterward, establish a connection to your data source by selecting the SharePoint list or Dataverse table you've created.</li>
                        </ul>
                        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto_Scrollable_Gallery1.png" class="img-fluid  border" /></div>
                        <p class="mt-4 mx-3 h6">Let's explore some straightforward examples to illustrate filter queries:</p>
                        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto_Scrollable_Gallery2.png" class="img-fluid  border" /></div>
                        <div class="container mt-5">
                            <!-- Button to copy the code snippets -->
                            <div class=" d-flex justify-content-between">
                                <h5>Code:</h5>
                            <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code1">
                                <i class="bi bi-clipboard"></i>
                                </button>
                            </div>
                            <!-- Your code snippets -->
                            <pre id="code1" class="border px-5" style="background-color:whitesmoke">ClearCollect(
     BookCollection, 	//(Replace BookCollection with your Collection)
Scrolls);  		//(Replace this with your Data Source)
ClearCollect(
    BookCollection,
    ForAll(
        Sequence(CountRows(BookCollection)),
        Patch(
            Last(
                FirstN(
                    BookCollection,
                    Value
                )
            ),
            {RowNumber: Value}
        )
    )
);
Set(varRowsPerPage,4);
Set(varCurrentPage,1);
Set(
    varTotalPages,
    RoundUp(
        CountRows(BookCollection) / varRowsPerPage,
        0
    )
);
Set(varStartTimer,true);
</pre>

                            
                        </div>
                        <p class="mt-4 mx-3 h6">Add or Select a screen </p>
                        <ul class="mx-3">
                            <li>Now Add a New screen or select one in which you want scrollable gallery.</li>
                        </ul>
                        <p class="mt-4 mx-3 h6">Insert a Gallery Control</p>
                        <ul class="mx-3 d-flex flex-column gap-3">
                            <li>Choose <span class="fw-bold">'Gallery'</span> from the <span class="fw-bold">’Insert’</span> menu, and you'll see options for different types of galleries. Select <span class="fw-bold">'Blank vertical gallery'</span>.</li>
                            <li>
                                Now, add labels inside the gallery control's template to display the text.
                                Update the Text property of each label control to reflect the appropriate data fields from your data source.
                            </li>
                            <li>Drag and drop a blank vertical gallery control onto your page, and update the Item property with the following code. Additionally, set the properties as indicated:<ol>
                                    <li class="fw-bold">ShowScrollBar: false</li>
                                    <li class="fw-bold">ShowNavigation: false</li>
                            </ol></li>
                            <li>Items Property:</li>
                        </ul>
                        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto_Scrollable_Gallery3.png" class="img-fluid  border" /></div>
                        <div class="container mt-5">
                            <!-- Button to copy the code snippets -->
                            <div class=" d-flex justify-content-between">
                                <h5>Code:</h5>
                                <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code2">
                                    <i class="bi bi-clipboard"></i>
                                </button>
                            </div>
                            <!-- Your code snippets -->
                            <pre id="code2" class="border px-5" style="background-color:whitesmoke">Filter(
    BookCollection,
    RowNumber <= (varRowsPerPage * varCurrentPage) && RowNumber > (varRowsPerPage * varCurrentPage) - varRowsPerPage
)
</pre>
                        </div>
                        <p class="mt-4 mx-3 h6">Insert Power Apps Timer Control </p>
                        <ul class="mx-3">
                            <li>Drag and drop a PowerApps timer control onto your page, and configure the following properties:
                                <ul class="mt-2 d-flex flex-column gap-2">
                                    <li><span class="fw-semibold">Duration:</span> Set the desired duration for the timer, e.g., 1000 (1 second).</li>
                                    <li><span class="fw-semibold">AutoStart:</span> Set it to <span class="fw-bold">"true"</span> if you want the timer to start automatically when the screen is loaded.</li>
                                    <li><span class="fw-semibold">Start:</span> varStartTimer</li>
                                    <li><span class="fw-semibold">Repeat:</span> true</li>
                                    <li><span class="fw-semibold">AutoPause:</span> true</li>
                                    <li><span class="fw-semibold">OnTimerEnd:</span> Enter the following code</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/Blog/PowerApps/AutoScrollableGalleryControl/Auto_Scrollable_Gallery4.png" class="img-fluid  border" /></div>
                        <div class="container mt-5">
                            <!-- Button to copy the code snippets -->
                            <div class=" d-flex justify-content-between">
                                <h5>Code:</h5>
                                <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code3">
                                    <i class="bi bi-clipboard"></i>
                                </button>
                            </div>
                            <!-- Your code snippets -->
                            <pre id="code3" class="border px-5" style="background-color:whitesmoke">If(
    varCurrentPage = varTotalPages,
    Set(varCurrentPage, 1),
    Set(varCurrentPage, varCurrentPage + 1)
)
</pre>
                        </div>
                        <p class="mt-4 mx-3 text-center">By following these steps, you can add an impressive auto-scrolling feature to your PowerApps gallery control, providing a dynamic and engaging user experience. This creative solution allows you to display content in a more interactive and visually appealing way. Experiment with different scroll speeds and durations to find the perfect balance for your specific use case.</p>
                        <p class="mt-4 mx-3 text-center">We hope this guide has been helpful in expanding your PowerApps toolkit.</p>
                    </div>
                    <hr />
                    <div class="row mb-2">
                        <h6 class="text-center text-primary">
                            If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4"><p><b>Sumit Joshi<br />Power Apps Consultant</b></p></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sidebar mt-4 bg-light service-details">
                <h3 class="sidebar-title mt-5 pb-4 text-center">Recent Posts</h3><hr />
                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="BarCodeReader" style="text-decoration:none"><p class="text-primary">How to use Barcode Scanner Application in Power Apps.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="MultipleMakerFeature" style="text-decoration:none"><p class="text-primary">Multiple Makers Feature of Microsoft Power Apps.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="CanvasOrModelDrivenApp" style="text-decoration:none"><p class="text-primary">The difference between Canvas Apps, Model driven App and Power Pages.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="CustomizingControls" style="text-decoration:none"><p class="text-primary">"Customizing Controls in Power Apps: Hidden Gems You Should Know"</p></a>
                        @* <time datetime="2020-05-016">September 14, 2023</time> *@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="PowerAppsFlow" style="text-decoration:none"><p class="text-primary">What to do when your flow is not working and showing error "Invalid type. Execpted Integer but got null.".</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="BuildingCustomForms" style="text-decoration:none"><p class="text-primary">Leveraging sharepoint list in Canvas application.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="Environment_variables" style="text-decoration:none">
                            <p class="text-primary">
                                Environment Variables in Power Platform.
                            </p>
                        </a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="Using_Git_for_Version_Control" style="text-decoration:none">
                            <p class="text-primary">
                                Using Git for Version Control with Power Apps.
                            </p>
                        </a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-3"><a style="text-decoration:none" asp-controller="PowerApps" asp-action="Index"><h5 class="text-primary"><i class="bi bi-arrow-left-circle"></i> Go back to Power Apps Blogs</h5></a></div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

<script>
    new ClipboardJS('.btn');
</script>


<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />



<!--The End of the Links Section-->