<center>
	<div>
		<p style="line-height:108%; font-size:14pt">
			<span style="font-family:Arial; font-weight:bold">
				<h1><b>How to make a Barcode Scanner Application for Mobile using PowerApps…!</b></h1>
			</span>
		</p>
		<p style="line-height:108%; font-size:14pt">
			<span style="font-family:Arial; font-weight:bold; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="-aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial">
				<h2>This is how you can make a Barcode Scanner Application from </br>PowerApps in few steps.</h2>
			</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">
				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial">
				<h3>
					<b><u>Step 1.</u></b>Create New Canvas App in PowerApps Solution (Application format = Phone).
					<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.001.png" width="60" height="25" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
				</h3>
			</span>
		</p>
		</br>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.5pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">

				</span>
				<span style="width: 0pt; font:15pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial">• Select the “Canvas App” option from :</span>
		</p>
		<p>
			<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.002.png" width="461" height="252" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">

				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial"> • Select Format of the application as Phone:</span>
		</p>
		<p>
			<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.003.png" width="466" height="212" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">

				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
		<p>
			<span style="font-family:Arial">
				<h3> <b><u>Step 2.</u></b> In Blank canvas insert the Barcode Reader by following these steps:</h3>
			</span>
		</p>

		</p>
		<p style="margin-left:0pt">
			<span style="font-family:Arial"><b>(Insert&gt; Media&gt; Barcode Reader).</b></span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">

				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial">• Look for “Barcode reader” in Insert button:</span>
		</p>
		<p>
			<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.004.png" width="493" height="402" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">

				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial">• Barcode reader Button will appear on the Screen:</span>
		</p>
		<p>
			<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.005.png" width="578" height="267" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial">
				<h3> <b><u>Step 3.</u></b> Now Add a Gallery and set the layout property of the Gallery to (Title and Sub-Title) </br>and set item property of Gallery to [BarcodeReader1.Barcodes] </br> where “BarcodeReader1” is name of the Barcode Reader. </h3>
			</span>
		<p>
			<span style="font-family:Arial"> </span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">

				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial">• Select Vertical Gallery to show the recorded data by Barcode Scanner:</br></br></span>
		</p>
		<p>
			<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.006.png" width="516" height="439" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial">
				<h2> <i>Your Barcode Reader Application is now ready to use.😊</i></h2>
			</span>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial">
				<h3><b><u>Step 4.</u></b> Now open install and open PowerApps in your mobile phone: </h3>
			</span>
		</p>
		<p>
			<span style="font-family:Arial"></span>
		</p>
		<p>
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">

				<span style="font-family:Arial"><i> Wait for application to load in Mobile...</i></span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">

				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial">• Now Click on the Application to open and use the <b>Barcode Reader.</b></span>

			</br><img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.007.png" width="269" height="393" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
		<p style="margin-left:306pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:306pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">
					<span></span>
				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial">• This is the first screen of our Barcode Reader Application:</br></span>
		</p>
		<p style="margin-left:36pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:36pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:36pt">
			<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.008.png" width="260" height="216" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
		<p style="margin-left:36pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p>
			<span style="font-family:Arial">
				<h3><b><u>Step 5.</u></b> Now Click On The Barcode Reader Button To Open The Mobile </br>Camera to Scan Barcode.</h3>
			</span>
		</p>
		<p>
			<span style="font-family:Arial"><i>Scan Any bar Code With The Camera And App Will Capture It's Data.</i></span>
		</p>
		<p style="margin-left:54pt">

			<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.010.png" width="246" height="452" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
		<p style="margin-left:54pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:36pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:0pt; text-indent:-100pt; -aw-import:list-item; -aw-list-level-number:0; -aw-list-number-format:'•'; -aw-list-number-styles:'bullet'; -aw-list-padding-sml:14.15pt">
			<span style="-aw-import:ignore">
				<span style="font-family:Arial">

				</span>
				<span style="width:14.15pt; font:7pt 'Times New Roman'; display:inline-block; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
			</span>
			<span style="font-family:Arial">• In this Gallery (CODE_128) is the type of Barcode and (ABC-abc-1234) is data of Barcode.</span>
		</p>
		<p style="margin-left:36pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:36pt">
			<span style="font-family:Arial; -aw-import:ignore">&#xa0;</span>
		</p>
		<p style="margin-left:36pt">
			<img src="images/Aspose.Words.1a68bb08-0984-4596-a503-ea3dd15e1c19.011.png" width="271" height="235" alt="" style="-aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" />
		</p>
	</div>
</center>
<p align="left">
	By <b>Abhishek Kumar </b> Date - 15 May 2023
</p>