
<main id="main">
	<section>
		<div class="container  text-justify mx-2 mt-4 my-2" style="border:1px solid black">
	@*<div class="container  text-justify mx-3"  style="border:1px solid black">*@
			<div class="mt-2 mx-5">
		<h2 class="mt-3 mx-5">How to use Barcode Scanner Application in PowerApps…</h2>
		<h5 class="mt-5 mx-5">This is how you can make a Barcode Scanner Application from PowerApps in few steps.</h5>
		<ul class ="mt-3 mx-5">
			<li>
				Create New Canvas App in PowerApps Solution (Application format = Phone).
			</li>
		</ul>
				<div class="mt-3 mx-5">
						<img src="\Images\Blog\PowerApps\BarCodeReader\ClickNew.png" class="img-fluid ounded mx-auto d-block" height="60" width="70" />
	    </div>
	</div>


			<div class="mt-3 mx-5">
		 <ul class =" mx-5">
			<li>Select the “Canvas App” option from :</li>
		</ul>
	</div>
			<div class="mt-3 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\SelectCanvasApp.png" class="img-fluid rounded mx-auto d-block"/>
	</div>


			<div class="mt-3 mx-5">
				<ul class=" mx-5 mx-5">
			<li>Select Format of the application as Phone:</li>
		</ul>
	</div>
			<div class="mt-3 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\ApplicationAsPhone.png" class="img-fluid rounded mx-auto d-block" />
	</div>


			<div class="mt-3 mx-5">
		<h5 class="mt-5 mx-5">In Blank canvas insert the Barcode Reader by following these steps: "(Insert> Media> Barcode Reader)".</h5>
		<ul class =" mx-5">
			<li>Look for “Barcode reader” in Insert button:</li>
		</ul>
	</div>
			<div class="mt-3 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\BarcodeReader.png" class="img-fluid rounded mx-auto d-block" />
	</div>

			<div class="mt-3 mx-5">
		<ul class=" mx-5">
			<li>Barcode reader Button will appear on the Screen:</li>
		</ul>
	</div>
			<div class="mt-3 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\BarCodeButton.png" class="img-fluid rounded mx-auto d-block" />
	</div>


			<div class="mt-3 mx-5">
					<h5 class="mt-5 mx-5">
						Now Add a Gallery and set the layout property of the Gallery to (Title and Sub-Title) and set item <br />property of Gallery to [BarcodeReader1.Barcodes] where “BarcodeReader1” is name of the Barcode Reader.
		</h5>
		<ul class =" mx-5">
			<li>Select Vertical Gallery to show the recorded data by Barcode Scanner:</li>
		</ul>
	</div>
			<div class="mt-3 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\VerticalGallery.png" class="img-fluid rounded mx-auto d-block"  />
	</div>
			<div class="mx-5">
		 <h5 class="mt-5 mx-5">Your Barcode Reader Application is now ready to use.</h5>
	</div>


			<div class="mt-3 mx-5">
		<h5 class ="mt-3 mx-5">Now open install and open PowerApps in your mobile phone:</h5>
		<ul class=" mx-5">
				<li>
						Wait for application to load in Mobile:
				</li>
				<li>Click on the Application to open it :</li>
		</ul>
	</div>
			<div class="mt-3 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\loadinmobile.png" class="img-fluid rounded mx-auto d-block" />
     </div>


			<div class="mt-3 mx-5">
			<ul class=" mx-5">
				<li>
					This is the first screen of our Barcode Reader Application:
                </li>
			</ul>
	</div>
			<div class="mt-3 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\automaticallyscan.png" class="img-fluid rounded mx-auto d-block" />
     </div>


			<div class="mt-3 mx-5">
			<h5 class="mt-5 mx-5">Now Click On The Barcode Reader Button To Open The Mobile Camera to Scan Barcode.	</h5>
			<h5 class ="mt-3 mx-5">Scan Any bar Code With The Camera And App Will Capture Its Data:	</h5>
	</div>
			<div class="mt-3 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\scanbarcode.png" class="img-fluid rounded mx-auto d-block" />
	</div>


			<div class="mt-3 mx-5">
			<ul class=" mx-5">
				<li>
						In this Gallery (CODE_128) is the type of Barcode and (ABC-abc-1234) is data of Barcode.
				</li>
			</ul>
	</div>
			<div class="mt-3  mb-2 mx-5">
					<img src="\Images\Blog\PowerApps\BarCodeReader\dataofbarcode.png" class="img-fluid rounded mx-auto d-block" />

			</div>

			<hr />

		<div class="row">
				<div class="col-sm-9"></div>
				<div class="col-sm-3"><p><b>Abhishek Kumar<br />PowerApps Consultant</b></p></div>
		</div>
			

</div>
@*</div>*@
	</section>
</main>


<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->
