@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<div class="container  text-justify mt-4  bg-light service-details align-items-center" style="border:2px solid black">
                    <div class="mt-2 mx-3">
                        <h1 class="mt-4 mx-3">
                            Leveraging sharepoint list in Canvas application.
                        </h1><hr />
                    </div>
                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h4 class="mt-4 mx-3">
                            Introduction:
                        </h4>
                        <p class="mt-3 mx-3">
                            Power Apps is a powerful and user-friendly low-code platform developed by Microsoft. It empowers individuals and 
                            organizations to create custom business applications and solutions without the need for extensive coding expertise.
                            With Power Apps, you can build intuitive apps that automate processes, streamline workflows, and connect to various data sources.
                        </p>
                    </div>
                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h4 class="mt-3 mx-3">
                            Why we need custom form:
                        </h4>
                        <ul class="mt-3 mx-3">
                            <li>
                                <b>Ensure Data Accuracy:</b> Custom forms enforce data validation, reducing errors in data entry.
                            </li>
                            <li>
                                <b>Streamline Workflows:</b> They automate tasks, speeding up processes and reducing manual effort.
                            </li>
                            <li><b>Enhance User Experience:</b> User-friendly interfaces improve usability and efficiency.</li>
                            <li><b>Enable Real-Time Access:</b> Custom forms connect to databases, providing up-to-date information.</li>
                            <li><b>Customization:</b> Forms adapt to specific business needs, aligning with unique requirements.</li>
                        </ul>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h4 class="mt-3 mx-3">
                            Creating a new Power Apps Form
                        </h4>
                        <ul class="mt-3 mx-3">
                            <li>
                                First create a new app in the power App.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_1.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                Enter the App name and its layout as Tablet
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_2.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                Click on Insert and select Edit form from there .
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_3.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                Now in new tab first create a connection for SharePoint  by entering your credintials.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_4.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                After that select the connection.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_5.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                After that select the form and select its data source from SharePoint.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_6.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_7.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                After that Select your site and List.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_8.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_9.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                And now your data source will be connected and you can use share point to store data.
                            </li>
                            <li>
                                As I have already created a SharePoint list like below.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_10.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                Now add a button in the screen and change its on select property to submitform (Form1).
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_11.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                Now In Play mode you can enter your details in the form and click on button. Your details will be saved on SharePoint.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_12.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white">
                        <ul class="mt-3 mx-3">
                            <li>
                                Like this.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/buildingcustomforms/screenshot_13.png" alt="buildingcustomforms" class="img-fluid rounded mx-lg-auto d-block " />
                        </div>
                    </div>

                    <hr />
                    <div class="row mb-2">
                        <h6 class="text-center text-primary">
                            If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3"><p><b>Abhishek Kumar<br />Power Apps Consultant</b></p></div>
                    </div>
                </div>
