@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<div class="container  text-justify mt-4  bg-light service-details align-items-center" style="border:2px solid black">
            <div class="mt-2 mx-3">
                <h1 class="mt-4 mx-3">
                    "Customizing Controls in Power Apps: Hidden Gems You Should Know"
                </h1><hr />
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <h4 class="mt-4 mx-3">
                    Introduction:
                </h4>
                <p class="mt-3 mx-3">
                    Power Apps offers a plethora of controls that enable you to create dynamic and interactive user interfaces for your apps.
                    While many controls are well-known and commonly used, there are several hidden gems that can take your app customization
                    to the next level. In this blog, we'll explore some lesser-known controls and customization options in Power Apps that
                    will unlock new possibilities for your app designs.
                </p>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <h4 class="mt-3 mx-3">
                    Data Table Control:
                </h4>
                <p class="mt-3 mx-3">
                    Discover the power of the Data Table control, a versatile tool that allows you to display tabular data with advanced functionalities.
                    Learn how to enable sorting, filtering, and grouping to provide a rich user experience for handling large datasets.
                </p>
                <ul class="mt-3 mx-3">
                    <li>
                        So in here data table you can view your data or large data sets in the table.
                    </li>
                    <li>
                        It is similar to Gallery in power apps but is not flexible like gallery. Yes you can select an item in the data table.
                    </li>
                </ul>
            <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/customizing controls/ss1 (1).jpg" alt="customizing controls" class="img-fluid rounded mx-lg-auto d-block " />
            </div>
            <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/customizing controls/ss2 (1).jpg" alt="customizing controls" class="img-fluid rounded mx-lg-auto d-block " />
            </div>
            </div>

            <div class="mt-2 mx-3 bg-white">
                <ul class="mt-3 mx-3">
                    <li>
                        Just add your data in the data table control and it will show all data in the table.
                    </li>
                    <li>
                        And here if you want to edit the data in the data table then you need to add a form control also.
                    </li>
                </ul>
            <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/customizing controls/ss3 (1).jpg" alt="customizing controls" class="img-fluid rounded mx-lg-auto d-block " />
            </div>
            </div>

            <div class="mt-2 mx-3 bg-white">
                <ul class="mt-3 mx-3">
                    <li>
                        And after that change the item property of the form control to (DataTable1.Selected).
                    </li>
                    <li>
                        It will show the data of the selected column in the form control.
                    </li>
                </ul>
            <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/customizing controls/ss4 (1).jpg" alt="customizing controls" class="img-fluid rounded mx-lg-auto d-block " />
            </div>
            </div>

            <div class="mt-2 mx-3 bg-white">
                <ul class="mt-3 mx-3">
                    <li>
                        After that add a button in the screen and set its onselect property to [submitform(Form1)].
                    </li>
                </ul>
            <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/customizing controls/ss5 (1).jpg" alt="customizing controls" class="img-fluid rounded mx-lg-auto d-block " />
            </div>
            </div>

            <div class="mt-2 mx-3 bg-white">
                <ul class="mt-3 mx-3">
                    <li>
                        Now as you have added a button in the screen your can change the data in the data table control.
                    </li>
                    <li>
                        You can change the data of the data table control.
                    </li>
                </ul>
            <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/customizing controls/ss6 (1).jpg" alt="customizing controls" class="img-fluid rounded mx-lg-auto d-block " />
            </div>
            </div>

            <div class="mt-2 mx-3 bg-white">
                <ul class="mt-3 mx-3">
                    <li>
                        Like this change the selected information and click on button.
                    </li>
                </ul>
            <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/customizing controls/ss7 (1).jpg" alt="customizing controls" class="img-fluid rounded mx-lg-auto d-block " />
            </div>

            <div class="mt-2  mb-4 mx-3">
                <ul class="mt-3 mx-3">
                    <li>
                        It will change the data of the data table like you can see in the above image.
                    </li>
                </ul>
            </div>
            </div>
            <hr />
            <div class="row mb-2">
                <h6 class="text-center text-primary">
                    If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                </h6>
            </div>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3"><p><b>Abhishek Kumar<br />Power Apps Consultant</b></p></div>
            </div>
        </div>
