@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">
    <section>
        <div class="row">
            <div class=" col-lg-9">
                <div class="container  text-justify mt-4  bg-light service-details align-items-center" style="border:2px solid black">
                    <div class="mt-2 mx-3">
                        <h2 class="mt-4 mx-3 text-center">
                            Mastering Error Handling in Power Automate Flow.
                        </h2><hr />
                    </div>
                    <div class="mt-2 mx-3 bg-white pt-1">
                        <p class="mt-4 mx-3">
                            Are you tired of your automated workflows going haywire when something unexpected happens? Don't worry; we've got your back! In this guide,
                            we'll demystify **error handling in Power Automate Flow**, making it as easy as a walk in the park.
                        </p>
                        <h4 class="mt-3 mx-3">Understanding Errors in Power Automate Flow</h4>
                        <p class="mt-4 mx-3">
                            First things first, let's talk about what errors are in the context of Power Automate Flow. Errors can happen when a flow encounters a problem,
                            such as a missing file, a failed API call, or even just a typo in your configuration. Instead of your flow breaking down, you can plan for these 
                            mishaps and tell your flow what to do when things go awry.
                        </p>
                    </div>
                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h4 class="mt-3 mx-3">
                            The Three Musketeers of Error Handling
                        </h4>
                        <p class="mt-3 mx-3">In Power Automate Flow, we have three powerful actions to handle errors:</p>
                        <h6 class="mt-3 mx-3">Scope Action:</h6>
                        <ul class="mt-3 mx-3">
                            <li>
                                Think of a Scope as a protective bubble around a set of actions. You can define a scope for a specific part of your flow.
                            </li>
                            <li>
                                If an error occurs within that scope, you can set rules on what the flow should do next, like sending an email or recording the error in a log.
                            </li>
                        </ul>
                        <h6 class="mt-3 mx-3">Configure Run After:</h6>
                        <ul class="mt-3 mx-3">
                            <li>
                                When you add actions to your flow, you can configure what should happen if an action fails. You can decide whether the flow should continue or stop.
                            </li>
                            <li>
                                This is like telling your flow, "If this action fails, don't give up; try the next one."
                            </li>
                        </ul>
                        <h6 class="mt-3 mx-3">Initialize Variable:</h6>
                        <ul class="mt-3 mx-3">
                            <li>
                                You can use a variable to store information about errors. If an error occurs, you can store details like the error message in the variable.
                            </li>
                            <li>
                                Later in your flow, you can check this variable to see if any errors occurred and take action accordingly.
                            </li>
                        </ul>
                    </div>
                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h4 class="mt-3 mx-3">
                            Step-by-Step Guide: Handling Errors with a Simple Use Case
                        </h4>
                        <p class="mt-3 mx-3">Use Case: Let's say you have a flow that sends email notifications when a new item is added to a SharePoint list. 
                            You want to make sure the flow keeps running, even if there's an issue with sending an email.</p>
                        <h6 class="mt-3 mx-3"><b>Step 1:</b> Create a New Flow</h6>
                        <ul class="mt-3 mx-3">
                            <li>
                                Log in to Power Automate.
                            </li>
                            <li>
                                Create a new flow or edit an existing one.
                            </li>
                        </ul>
                        <h6 class="mt-3 mx-3"><b>Step 2:</b> Add a Scope</h6>
                        <ul class="mt-3 mx-3">
                            <li>
                                In your flow, add a Scope action before the email sending action.
                            </li>
                            <li>
                                Name it "Send Email."
                            </li>
                        </ul>
                        <h6 class="mt-3 mx-3"><b>Step 3:</b> Configure Run After</h6>
                        <ul class="mt-3 mx-3">
                            <li>
                                Select the email sending action and configure its "Run After" settings.
                            </li>
                            <li>
                                Choose "Configure run after" and specify what to do if the action fails. You can choose to continue the flow even if the email fails to send.
                            </li>
                        </ul>
                        <h6 class="mt-3 mx-3"><b>Step 4:</b> Initialize a Variable</h6>
                        <ul class="mt-3 mx-3">
                            <li>
                                Add an Initialize Variable action within the scope.
                            </li>
                            <li>
                                Name the variable "EmailError."
                            </li>
                            <li>If the email action fails, set the "EmailError" variable to "Yes."</li>
                        </ul>
                        <h6 class="mt-3 mx-3"><b>Step 5:</b> Check for Errors</h6>
                        <ul class="mt-3 mx-3">
                            <li>
                                After the scope, add a condition to check the "EmailError" variable.
                            </li>
                            <li>
                                If it's "Yes," you can send an email to yourself or a team member to notify them of the issue.
                            </li>
                        </ul>
                        <p class="mt-3 mx-3">
                            That's it! You've created a flow that gracefully handles errors when sending emails.
                            Even if the email action fails, your flow won't break, and you'll be informed of the error.</p>
                        <p class="mt-3 mx-3">Remember, error handling in Power Automate Flow is your superhero cape when it comes to dealing with unexpected bumps in the automation road.
                            With these simple steps and actions, you'll ensure your flows keep running smoothly, even in the face of errors.</p>
                        <p class="mt-4 mx-3 text-center pb-3">Now, go ahead and create error-resistant flows like a pro! Happy automating!</p>
                    </div>
                    <hr />
                    <div class="row mb-2">
                        <h6 class="text-center text-primary">
                            If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                        </h6>
                    </div>

                    <div class="row">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-3"><p><b>Sumit Joshi<br />Power Apps Consultant</b></p></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sidebar mt-4 bg-light service-details">
                <h3 class="sidebar-title mt-5 pb-4 text-center">Recent Posts</h3><hr />
                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="BarCodeReader" style="text-decoration:none"><p class="text-primary">How to use Barcode Scanner Application in Power Apps.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="MultipleMakerFeature" style="text-decoration:none"><p class="text-primary">Multiple Makers Feature of Microsoft Power Apps.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                <div class="post-item clearfix col-3">
                <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                </div>
                <div class="col-9">
                <a asp-controller="PowerApps" asp-action="CanvasOrModelDrivenApp" style="text-decoration:none"><p class="text-primary">The difference between Canvas Apps, Model driven App and Power Pages.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="CustomizingControls" style="text-decoration:none"><p class="text-primary">"Customizing Controls in Power Apps: Hidden Gems You Should Know"</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>
                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="PowerAppsFlow" style="text-decoration:none"><p class="text-primary">What to do when your flow is not working and showing error "Invalid type. Execpted Integer but got null.".</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="BuildingCustomForms" style="text-decoration:none"><p class="text-primary">Creating Power Apps Form using SharePoint list.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-3"><a style="text-decoration:none" asp-controller="PowerApps" asp-action="Index"><h5 class="text-primary"><i class="bi bi-arrow-left-circle"></i> Go back to Power Apps Blogs</h5></a></div>
    </section>
</main>


<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->
