 <!-- ======= Header ======= -->


<main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>PowerApps Blog</h2>
                <ol>
                    @*<li><a href="index.html">Home</a></li>
                    <li>Our Portfolio</li>*@
                </ol>
            </div>

        </div>
    </section><!-- End Our Portfolio Section -->
    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                       
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

               
                <!--Barcode Reader start-->
                <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
                    <div class="portfolio-item">
                        <a asp-controller="PowerApps" asp-action="BarCodeReader">
                            <img src="~/images/blog/powerapps/barcodereader/scanbarcode.png" class="img-fluid rounded mx-lg-auto d-block" width="120" height="50" alt="">
                        </a>
                        
                        <div class="portfolio-info">
                            <h3>How to make a Barcode Scanner Application in PowerApps…</h3>
                            @*<div>
                                <a href="~/images/blog/powerapps/barcodereader/scanbarcode.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="BarCode Reader"><i class="bx bx-plus"></i></a>
                                <a asp-controller="PowerApps" asp-action="BarCodeReader" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!--End of BarCode Reader-->

                <!--Multiple Maker Feature Start-->
                <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
                    <div class="portfolio-item">
                        <a asp-controller="PowerApps" asp-action="MultipleMakerFeature">
                            <img src="~/images/blog/powerapps/multiplemakerfeature/ss6 (2).jpg" class="img-fluid rounded mx-lg-auto d-block mt-4 mb-4" width="320" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h3>Multiple Makers Feature of Microsoft PowerApps.</h3>
                            @*<div>
                                <a href="~/images/blog/powerapps/multiplemakerfeature/ss6 (2).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!--End of Multiple Maker Feature-->

                @*<div class="col-lg-4 col-md-6 portfolio-wrap filter-card">
                    <div class="portfolio-item">
                        <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h3>Card 2</h3>
                            <div>
                                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>*@

             

            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
