@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mastering Multi-Value Dropdown in PowerApps |";
}
@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
@section MetaTags{
<meta name="description" content="Explore advanced techniques for optimizing multi-value dropdowns in PowerApps Canvas Apps. Learn how to implement dynamic selections based on user choices and elevate your app development skills." />
<meta name="keywords" content="PowerApps, Canvas Apps, Dropdowns, Multi-Value Dropdown, App Development, Power Platform, DataVerse, Combo Boxes, User Experience" />
<meta name="author" content="Voxtus" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="Mastering Multi-Value Dropdown in PowerApps: Advanced Techniques for Seamless User Experience" />
}

<div class="container  text-justify mt-4  bg-light service-details align-content-center" style="border:2px solid black">
    <div class="mt-2 mx-3">
        <h1 class="mt-4 mx-3 text-center">
            Mastering Multi-Value Dropdown in PowerApps
        </h1><hr />
    </div>
    <div class="mt-3 mx-3 bg-white pt-1 pb-2">
        <p class="mt-3 mx-3">Explore the intricacies of multi-select functionality in PowerApps Canvas Apps. Learn how to optimize combo boxes for a seamless user experience. Dive into advanced Power Platform techniques and elevate your app development skills.</p>
        <p class="mt-3 mx-3">In a Power Apps Canvas App scenario with two combo boxes, where the first combo box displays distinct values from a DataVerse table using the formula:</p>
        <p class="mt-3 mx-3 px-lg-5 fw-semibold">“Distinct(recurrences, RecurrenceDays)”</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/powerapps/multivaluedropdown/multivaluedropdown1.webp" alt="multivaluedropdown" title="multivaluedropdown" loading="lazy" class="img-fluid  border" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/powerapps/multivaluedropdown/multivaluedropdown2.webp" alt="multivaluedropdown" title="multivaluedropdown" loading="lazy" class="img-fluid  border" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/powerapps/multivaluedropdown/multivaluedropdown3.webp" alt="multivaluedropdown" title="multivaluedropdown" loading="lazy" class="img-fluid  border" /></div>
        <p class="mt-3 mx-3">And the second combo box is populated with choices from a 'DaysOfWeek Choice' table using:</p>
        <pre class="mt-3 mx-3 px-lg-5 fw-semibold">“Choices('DaysOfWeek Choice')” </pre>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/powerapps/multivaluedropdown/multivaluedropdown4.webp" alt="multivaluedropdown" title="multivaluedropdown" loading="lazy" class="img-fluid  border" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/powerapps/multivaluedropdown/multivaluedropdown5.webp" alt="multivaluedropdown" title="multivaluedropdown" loading="lazy" class="img-fluid  border" /></div>
        <p class="mt-3 mx-3">Now, let's consider a requirement: If "Weekly" is selected in the first combo box, the second combo box should automatically select all weekdays, excluding weekends.</p>
        <p class="mt-3 mx-3">To implement this functionality, adjust the second combo box's DefaultSelectedItems property using the following formula:</p>
        <pre class="mt-3 mx-3 px-lg-5 fw-semibold">
“Filter
Choices('DaysOfWeek Choice'),
Value <> 471010006  // Exclude Saturday
)”
        </pre>
        <p class="mt-3 mx-3">This Function filters the choices to automatically select all weekdays, excluding Saturday, based on the specific values from the 'DaysOfWeek Choice' table.</p>
        <p class="mt-3 mx-3">By incorporating this Function, you enhance the user experience by automating the selection process in the second combo box, aligning with the Weekly selection in the first combo box.</p>
        <pre class="mt-3 mx-3 px-lg-5 fw-semibold">
"If(DataCardValue1_3.Selected.Value="Weekly",
Filter
(Choices('DaysOfWeek Choice'),
And( Value <> 471010006,Value <> 471010000)),[])"</pre>
        <p class="mt-3 mx-3">"If the value of the first data card is 'Weekly,' the second data card will automatically select five weekdays by default; otherwise, it will remain blank."</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/powerapps/multivaluedropdown/multivaluedropdown6.png" alt="multivaluedropdown" title="multivaluedropdown" loading="lazy" class="img-fluid  border" /></div>
    </div>
    <hr />
    <div class="row mb-2">
        <h6 class="text-center text-primary">
            If you have any doubts or questions related to this blog, you can Contact us by Email: <a href="mailto:info@voxtus.com" target="_blank" class="text-decoration-none">info@voxtus.com</a>
        </h6>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><p><b>Abhishek Kumar<br />Power Apps Consultant</b></p></div>
    </div>
</div>