
@{
    // ViewData["Title"] = "MultipleMakerFeature";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
<div class="container  text-justify mt-4  bg-light service-details align-items-center" style="border:2px solid black">
            <div class="mt-2 mx-3">
                <h2 class="mt-4 mx-3 text-center">
        Multiple Makers Feature of Microsoft Power Apps.
    </h2><hr /></div>
            <div class="mt-2 mx-3 bg-white pt-1">
              <p class="mt-4 mx-3 h6">
                Here are some points by which multiple users can use the same app at a time.
                But here is a problem if one user is in edit mode then the other user will be in the view mode.
            </p>
                <ul class="mt-3 mx-3 h6">
                <li>First share your app with the user by clicking on the apps in the power apps home page and the click on the app and then click on share option.</li>
            </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
              <center><img src="~/images/blog/powerapps/multiplemakerfeature/ss1 .jpg" class="img-fluid rounded mx-lg-auto d-block " /></center>
    </div>
    </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>Select the app.</li>
           </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss2.jpg" class="img-fluid rounded mx-auto d-block" />
        </div>
        </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>Click On Share.</li>
           </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss3.jpg" class="img-fluid rounded mx-auto d-block" />
            </div>
            </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            After that enter the name of the user and give all the necessary permissions to the user.
                        </li>
                        <li>Enter the User Name with whom you want to share the app.</li>
                    </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss4.png" class="img-fluid rounded mx-auto d-block" />
                </div>
                </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            After the in another window open the website make.powerapps.com and login with another user name.
                        </li>
                        <li>
                            As you have shared the app with this new user you will see the app after login.
                        </li>
                    </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss5 (2).jpg" class="img-fluid rounded mx-auto d-block" height="500" width="900" />
                </div>
                </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            Click on the app and if user 1 have opened the app after that if second user will open the app the second users app will open in the view mode And user 1 will be in edit mode.

                        </li>
                    </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss6 (2).jpg" class="img-fluid rounded mx-auto d-block" height="500" width="900"/>
                </div>
                </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            Like in this screenshot Abhishek is In view mode and can only view the application.
                        </li>
                    </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss7.jpg" class="img-fluid rounded mx-auto d-block" />
                </div>
                </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            And Sonali is Edit mode and can do all type of changes.
                        </li>
                    </ul>
                <div class="mt-3 mb-4 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss8.jpg" class="img-fluid rounded mx-auto d-block" />
                </div>
                </div>

            <hr />
            <div class="row mb-2">
                <h6 class="text-center text-primary">
                    If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                </h6>
            </div>

            <div class="row">
                <div class="col-9"></div>
                <div class="col-3"><p><b>Abhishek Kumar<br />Power Apps Consultant</b></p></div>
            </div>
</div>






