
@{
    ViewData["Title"] = "MultipleMakerFeature";
}
<main id="main">
    <section>
        <div class="row">
            <div class=" col-lg-9">
        <div class="container  text-justify mt-4  bg-light service-details align-items-center" style="border:2px solid black">
            <div class="mt-2 mx-3">
                <h2 class="mt-4 mx-3 text-center">
        Multiple Makers Feature of Microsoft Power Apps.
    </h2><hr /></div>
            <div class="mt-2 mx-3 bg-white pt-1">
              <p class="mt-4 mx-3 h6">
                Here are some points by which multiple users can use the same app at a time.
                But here is a problem if one user is in edit mode then the other user will be in the view mode.
            </p>
                <ul class="mt-3 mx-3 h6">
                <li>First share your app with the user by clicking on the apps in the power apps home page and the click on the app and then click on share option.</li>
            </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
              <center><img src="~/images/blog/powerapps/multiplemakerfeature/ss1 .jpg" class="img-fluid rounded mx-lg-auto d-block " /></center>
    </div>
    </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>Select the app.</li>
           </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss2.jpg" class="img-fluid rounded mx-auto d-block" />
        </div>
        </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>Click On Share.</li>
           </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss3.jpg" class="img-fluid rounded mx-auto d-block" />
            </div>
            </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            After that enter the name of the user and give all the necessary permissions to the user.
                        </li>
                        <li>Enter the User Name with whom you want to share the app.</li>
                    </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss4.png" class="img-fluid rounded mx-auto d-block" />
                </div>
                </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            After the in another window open the website make.powerapps.com and login with another user name.
                        </li>
                        <li>
                            As you have shared the app with this new user you will see the app after login.
                        </li>
                    </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss5 (2).jpg" class="img-fluid rounded mx-auto d-block" height="500" width="900" />
                </div>
                </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            Click on the app and if user 1 have opened the app after that if second user will open the app the second users app will open in the view mode And user 1 will be in edit mode.

                        </li>
                    </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss6 (2).jpg" class="img-fluid rounded mx-auto d-block" height="500" width="900"/>
                </div>
                </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            Like in this screenshot Abhishek is In view mode and can only view the application.
                        </li>
                    </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss7.jpg" class="img-fluid rounded mx-auto d-block" />
                </div>
                </div>


            <div class="mt-3 mx-3 bg-white">
                <ul class=" mx-3 h6">
                        <li>
                            And Sonali is Edit mode and can do all type of changes.
                        </li>
                    </ul>
                <div class="mt-3 mb-4 mx-3 pt-3 pb-3">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss8.jpg" class="img-fluid rounded mx-auto d-block" />
                </div>
                </div>

            <hr />
            <div class="row mb-2">
                <h6 class="text-center text-primary">
                    If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                </h6>
            </div>

            <div class="row">
                <div class="col-9"></div>
                <div class="col-3"><p><b>Abhishek Kumar<br />Power Apps Consultant</b></p></div>
            </div>
</div>
</div>
        <div class="col-lg-3 sidebar mt-4 bg-light service-details">
            <h3 class="sidebar-title mt-5 pb-4 text-center">Recent Posts</h3><hr />
            <div class="row sidebar-item recent-posts mt-3 bg-white">
                <div class="col-3">
                    <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                </div>
                <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="BarCodeReader" style="text-decoration:none"><p class="text-primary">How to use Barcode Scanner Application in Power Apps.</p></a>
                    @*<time datetime="2020-05-016">September 14, 2023</time>*@
                </div>
            </div>

            <div class="row sidebar-item recent-posts mt-3 bg-white">
                <div class="post-item clearfix col-3">
                    <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                </div>
                <div class="col-9">
                    <a asp-controller="PowerApps" asp-action="CanvasOrModelDrivenApp" style="text-decoration:none"><p class="text-primary">The difference between Canvas Apps, Model driven App and Power Pages.</p></a>
                    @*<time datetime="2020-05-016">September 14, 2023</time>*@
                </div>
            </div>

            <div class="row sidebar-item recent-posts mt-3 bg-white">
                <div class="post-item clearfix col-3">
                    <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                </div>
                <div class="col-9">
                    <a asp-controller="PowerApps" asp-action="CustomizingControls" style="text-decoration:none"><p class="text-primary">"Customizing Controls in Power Apps: Hidden Gems You Should Know"</p></a>
                    @*<time datetime="2020-05-016">September 14, 2023</time>*@
                </div>
            </div>

            <div class="row sidebar-item recent-posts mt-3 bg-white">
                <div class="post-item clearfix col-3">
                    <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                </div>
                <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="PowerAppsFlow" style="text-decoration:none"><p class="text-primary">What to do when your flow is not working and showing error "Invalid type. Execpted Integer but got null.".</p></a>
                    @*<time datetime="2020-05-016">September 14, 2023</time>*@
                </div>
            </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="BuildingCustomForms" style="text-decoration:none"><p class="text-primary">Leveraging sharepoint list in Canvas application.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="Environment_variables" style="text-decoration:none">
                            <p class="text-primary">
                                Environment Variables in Power Platform.
                            </p>
                        </a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="Using_Git_for_Version_Control" style="text-decoration:none">
                            <p class="text-primary">
                                Using Git for Version Control with Power Apps.
                            </p>
                        </a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="Using_with_function" style="text-decoration:none">
                            <p class="text-primary">
                                Using ‘with’ function in Power Apps.
                            </p>
                        </a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

        </div>
        </div>
        <div class="container-fluid pt-3"><a style="text-decoration:none" asp-controller="PowerApps" asp-action="Index"><h5 class="text-primary"><i class="bi bi-arrow-left-circle"></i> Go back to Power Apps Blogs</h5></a></div>
</section>
</main>




<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->

