
@{
    ViewData["Title"] = "MultipleMakerFeature";
}
<main id="main">
    <section>
        <div class="container  text-justify mx-2 mt-4" style="border:1px solid black">
@*<div class="container text-justify mx-3" style="border:1px solid black">*@
            <div class="mt-2 mx-5">
         <h2 class="mt-4 mx-5">
        Multiple Makers Feature of Microsoft PowerApps.
    </h2>
              <p class="mt-4 mx-5">
                Here are some points by which multiple users can use the same app at a time.
                But here is a problem if one user is in edit mode then the other user will be in the view mode.
            </p>
            <ul class="mt-3 mx-5">
                <li>First share your app with the user by clicking on the apps in the power apps home page and the click on the app and then click on share option.</li>
            </ul>
    </div>
            <div class="mt-3 mx-5">
            <img src="~/images/blog/powerapps/multiplemakerfeature/ss1 .jpg"  class="img-fluid rounded mx-lg-auto d-block "/>
    </div>


            <div class="mt-3 mx-5">
           <ul class=" mx-5">
                        <li>Select the app.</li>
             </ul>
       </div>
            <div class="mt-3 mx-5">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss2.jpg" class="img-fluid rounded mx-auto d-block" />
        </div>


            <div class="mt-3 mx-5">
            <ul class=" mx-5">
                        <li>Click On Share.</li>
           </ul>
          </div>
            <div class="mt-3 mx-5">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss3.jpg" class="img-fluid rounded mx-auto d-block" />
            </div>


            <div class="mt-3 mx-5">
                    <ul class=" mx-5">
                        <li>
                            After that enter the name of the user and give all the necessary permissions to the user.
                        </li>
                        <li>Enter the User Name with whom you want to share the app.</li>
                    </ul>
                </div>
            <div class="mt-3 mx-5">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss4.png" class="img-fluid rounded mx-auto d-block" />
                </div>


            <div class="mt-3 mx-5">
                    <ul class=" mx-5">
                        <li>
                            After the in another window open the website make.powerapps.com and login with another user name.
                        </li>
                        <li>
                            As you have shared the app with this new user you will see the app after login.
                        </li>
                    </ul>
                </div>
            <div class="mt-3 mx-5">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss5 (2).jpg" class="img-fluid rounded mx-auto d-block" height="500" width="900" />
                </div>


            <div class="mt-3 mx-5">
                    <ul class=" mx-5">
                        <li>
                            Click on the app and if user 1 have opened the app after that if second user will open the app the second users app will open in the view mode And user 1 will be in edit mode.

                        </li>
                    </ul>
                </div>
            <div class="mt-3 mx-5">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss6 (2).jpg" class="img-fluid rounded mx-auto d-block" height="500" width="900"/>
                </div>


            <div class="mt-3 mx-5">
                    <ul class=" mx-5">
                        <li>
                            Like in this screenshot Abhishek is In view mode and can only view the application.
                        </li>
                    </ul>
                </div>
            <div class="mt-3 mx-5">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss7.jpg" class="img-fluid rounded mx-auto d-block" />
                </div>


            <div class="mt-3 mx-5">
                    <ul class=" mx-5">
                        <li>
                            And Sonali is Edit mode and can do all type of changes.
                        </li>
                    </ul>
                </div>
            <div class="mt-3 mb-4 mx-5">
                    <img src="~/images/blog/powerapps/multiplemakerfeature/ss8.jpg" class="img-fluid rounded mx-auto d-block" />
                </div>

            <hr />

            <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2"><p><b>Abhishek Kumar</b></p></div>
            </div>
</div>
@*</div>*@
</section>
</main>




<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->

