<main id="main">
	<section>
		<div class="row">
			<div class=" col-lg-9">
		<div class="container  text-justify mt-4  bg-light service-details align-items-center" style="border:2px solid black">
			<div class="mt-2 mx-3 pt-3 pb-1">
				<h2 class="mt-4 mx-3 text-center">
					What to do when your flow is not working and showing error.
				</h2><hr />
			</div>
			<div class="mt-2 mx-3 bg-white pt-2">
				<ul class="mt-3 mx-3 h6">
					<li>
						 Go to the flows section in the solution. And select the flow which is not working
					</li>
				</ul>
                <div class="mt-3 mx-3 pt-3">
					<img src="~/images/blog/powerapps/powerappsflow/s1.jpg" class="img-fluid ounded mx-auto d-block" height="760" width="870" />
				</div>
			</div>

			<div class="mt-3 mx-3 bg-white pt-2">
				<ul class=" mx-3 h6">
					<li>Then click on the failed flow to see the error.</li>
					<li>
						So in this case I have the (validation Failed. The schema validation failed.)
					</li>
				</ul>

                <div class="mt-3 mx-3 pt-3 pb-3">
					<img src="~/images/blog/powerapps/powerappsflow/s2.png" class="img-fluid rounded mx-auto d-block" />
				</div>
                <div class="mt-3 mx-3 pt-3 pb-3">
					<img src="~/images/blog/powerapps/powerappsflow/s3.png" class="img-fluid rounded mx-auto d-block" />
				</div>
			</div>

			<div class="mt-3 mx-3 bg-white pt-2">
				<ul class=" mx-3 h6">
					<li>Here in the output it is showing a message that “invalid Type. Expected Integer but got Null”</li>
					<li>
						It means somewhere in my app it is giving the null value in the schema that I have passed in the JSON.
					</li>
					<li>
						So as in the next image you can see I have passed the “integer” in the schema. in “Max Marks” and “Obtained Marks”
					</li>
				</ul>

                <div class="mt-3 mx-3 pt-3 pb-3">
					<img src="~/images/blog/powerapps/powerappsflow/s4.png" class="img-fluid rounded mx-auto d-block" height="620" width="740" />
				</div>
			</div>

			<div class="mt-3 mx-3 bg-white pb-3 pt-2">
				<ul class=" mx-3 h6">
					<li>Now I have to change the data type of these like shown in the next image</li>
				</ul>

                <div class="mt-3 mx-3 pt-3 pb-3">
					<img src="~/images/blog/powerapps/powerappsflow/s5.png" class="img-fluid rounded mx-auto d-block" />
				</div>
                <div class="mt-3 mx-3 pt-3 pb-3">
					<img src="~/images/blog/powerapps/powerappsflow/s6.png" class="img-fluid rounded mx-auto d-block" />
				</div>
				<ul class=" mx-3 h6">
					<li>Now your flow will work perfectly.</li>
				</ul>
            </div>
			<hr />
			<div class="row mb-2">
				<h6 class="text-center text-primary">
					If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
				</h6>
			</div>

			<div class="row">
				<div class="col-sm-9"></div>
				<div class="col-sm-3"><p><b>Abhishek Kumar<br />Power Apps Consultant</b></p></div>
			</div>
		</div>
		</div>
			<div class="col-lg-3 sidebar mt-4 bg-light service-details">
				<h3 class="sidebar-title mt-5 pb-4 text-center">Recent Posts</h3><hr />
				<div class="row sidebar-item recent-posts mt-3 bg-white">
					<div class="col-3">
						<img src="~/images/logo/powerappslogo.png" width="80" height="60" />
					</div>
					<div class="col-9">
						<a asp-controller="PowerApps" asp-action="BarCodeReader" style="text-decoration:none"><p class="text-primary">How to use Barcode Scanner Application in Power Apps.</p></a>
						@*<time datetime="2020-05-016">September 14, 2023</time>*@
					</div>
				</div>

				<div class="row sidebar-item recent-posts mt-3 bg-white">
					<div class="col-3">
						<img src="~/images/logo/powerappslogo.png" width="80" height="60" />
					</div>
					<div class="col-9">
						<a asp-controller="PowerApps" asp-action="MultipleMakerFeature" style="text-decoration:none"><p class="text-primary">Multiple Makers Feature of Microsoft Power Apps.</p></a>
						@*<time datetime="2020-05-016">September 14, 2023</time>*@
					</div>
				</div>

				<div class="row sidebar-item recent-posts mt-3 bg-white">
					<div class="post-item clearfix col-3">
						<img src="~/images/logo/powerappslogo.png" width="80" height="60" />
					</div>
					<div class="col-9">
						<a asp-controller="PowerApps" asp-action="CanvasOrModelDrivenApp" style="text-decoration:none"><p class="text-primary">The difference between Canvas Apps, Model driven App and Power Pages.</p></a>
						@*<time datetime="2020-05-016">September 14, 2023</time>*@
					</div>
				</div>

				<div class="row sidebar-item recent-posts mt-3 bg-white">
				<div class="post-item clearfix col-3">
				<img src="~/images/logo/powerappslogo.png" width="80" height="60" />
				</div>
				<div class="col-9">
				<a asp-controller="PowerApps" asp-action="CustomizingControls" style="text-decoration:none"><p class="text-primary">"Customizing Controls in Power Apps: Hidden Gems You Should Know"</p></a>
				@*<time datetime="2020-05-016">September 14, 2023</time>*@
				</div>
				</div>

				@*<div class="row sidebar-item recent-posts mt-3 bg-white">
					<div class="post-item clearfix col-3">
						<img src="~/images/logo/powerappslogo.png" width="80" height="60" />
					</div>
					<div class="col-9">
						<a asp-controller="PowerApps" asp-action="PowerAppsFlow" style="text-decoration:none"><p class="text-primary">What to do when your flow is not working and showing error.</p></a>
						<time datetime="2020-05-016">September 14, 2023</time>
					</div>
				</div>*@

				<div class="row sidebar-item recent-posts mt-3 bg-white">
					<div class="post-item clearfix col-3">
						<img src="~/images/logo/powerappslogo.png" width="80" height="60" />
					</div>
					<div class="col-9">
						<a asp-controller="PowerApps" asp-action="BuildingCustomForms" style="text-decoration:none"><p class="text-primary">Building Custom Forms with Power Apps: A Step-by-Step Guide using custom connectors “SharePoint”</p></a>
						@*<time datetime="2020-05-016">September 14, 2023</time>*@
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt-3"><a style="text-decoration:none" asp-controller="PowerApps" asp-action="Index"><h5 class="text-primary"><i class="bi bi-arrow-left-circle"></i> Go back to Power Apps Blogs</h5></a></div>
	</section>
</main>









<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->