@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">
    <section>
        <div class="row">
            <div class=" col-lg-9">
                <div class="container  text-justify mt-4  bg-light service-details align-content-center" style="border:2px solid black">
                    <div class="mt-2 mx-3">
                        <h2 class="mt-4 mx-3 text-center">
                            Using Git for Version Control with Power Apps.
                        </h2><hr />
                    </div>
                    <div class="mt-3 mx-3 bg-white pt-1">
                        <p class="mt-3 mx-3">
                            Are you tired of struggling with version control in your Power Apps projects? Git integration is the solution you've been waiting for. Integrating Git with Power Apps can significantly improve your development workflow by providing version control and collaboration capabilities. In this step-by-step guide, we'll walk you through how to set up and use Git integration in Power Apps.
                        </p>
                        <h6 class="mt-3 mx-3">
                            First we’ll start with Creating Repository in Git.
                        </h6>
                        <ul class="mt-3 mx-3">
                            <li>Simply click on “New” Button on top right corner.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_1.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Enter the repository Name, and make sure to keep this repository “Private”.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_2.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-75 w-75" />
                        </div>
                        <ul class="mt-3 mx-3">
                            <li>Customise setting as per you need I’ve added README File. Later on you can hit on Create repository Button.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_3.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h6 class="mt-3 mx-3">
                            Once Repository is created we can move to Power Apps.
                        </h6>
                        <ul class="mt-3 mx-3">
                            <li>Go to App Settings</li>
                            <li>Under Upcoming features > Experimental</li>
                            <li>Look for “Show the Git Version Control Settings” and turn this feature ON.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_5.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Now we can see “Git version control” option under setting, Click on connect.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_6.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>After this we’ll get a window where we need to enter following things.</li></ul>
                        <ol class="mt-3 mx-5 pb-3">
                            <li>
                                Git repository URL
                            </li>
                            <li>Branch</li>
                            <li>Directory Name (if the directory is not created this will create it)</li>
                        </ol>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_7.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-75 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h6 class="mt-3 mx-3">
                            After Clicking on Apply Button, we’ll again move to GitHub.
                        </h6>
                        <ul class="mt-3 mx-3"><li>Go to Settings in GitHub profile.</li> </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_8.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Find Developer setting 'i.e. last option in settings menu.</li> </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_9.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>In Developer settings we’ll have to generate token by following steps.</li></ul>
                        <ol class="mt-3 mx-5">
                            <li>
                                Click on ‘Personal Access Tokens’
                            </li>
                            <li>Select ‘Tokens (Classic)’ from expanded options</li>
                            <li>From the top right corner click on ‘Generate new token’</li>
                            <li>Under this select ‘Generate new token (classic)’</li>
                        </ol>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_10.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Give a Note for token and select expiration period for your token.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_11.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Once we are done with all the above steps we can generate the token by clicking on ‘Generate Token’.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_12.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-75 w-100 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Now you have GitHub Generated token in your screen.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_13.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h6 class="mt-3 mx-3">
                            Let’s get back to the Power Apps.
                        </h6>
                        <ul class="mt-3 mx-3"><li>We’ll continue on Power Apps where we have left after following step 2.</li>
                            <li>Enter Username and Personal Access token in the respective fields.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_14.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>If the directory is not present in the repository branch, you’ll get this popup to create new directory.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_15.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Once this is configured you’ll get screen like this with some details in Git version control option.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_16.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h6 class="mt-3 mx-3">
                            Congrats Power Platform Family!! You have successfully Integrated Git with Power Apps.
                        </h6>
                        <ul class="mt-3 mx-3"><li>Now you can find all the project files in your GitHub repository.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_17.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h5 class="mt-3 mx-3 pb-3">With Git integration in Power Apps, two developers can work simultaneously on the same app, making collaborative app development more efficient and productive.</h5>
                        <h6 class="mt-3 mx-3">
                            In Below example we will try to show you how the application is getting updated on real-time basis while one user is making any changes in application.
                        </h6>
                        <ul class="mt-3 mx-3"><li>We’ve opened same application for two users.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_18.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Now if one of the user makes any change in the application.</li></ul>
                        <ol class="mt-3 mx-5 pb-3">
                            <li>In below example user has deleted Label1 from the application and saved the application.</li>
                            <li>Now another user will have to Clicks on sync Button to see the changes.</li>
                        </ol>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_19.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Once the application is synced, another user can also see the changed in the application.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using git for version control/screenshot_20.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <h5 class="mt-5 mx-5 pb-4">In conclusion, Git integration in Power Apps not only simplifies collaboration but also empowers developers to build and improve apps more effectively. By enabling concurrent development, it enhances productivity and fosters a culture of seamless teamwork. Embrace Git integration to take your Power Apps development to the next level, and unlock the full potential of collaborative app building.</h5>
                    </div>
                    <hr />
                    <div class="row mb-2">
                        <h6 class="text-center text-primary">
                            If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4"><p><b>Sumit Joshi<br />Power Apps Consultant</b></p></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sidebar mt-4 bg-light service-details">
                <h3 class="sidebar-title mt-5 pb-4 text-center">Recent Posts</h3><hr />
                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="BarCodeReader" style="text-decoration:none"><p class="text-primary">How to use Barcode Scanner Application in Power Apps.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="MultipleMakerFeature" style="text-decoration:none"><p class="text-primary">Multiple Makers Feature of Microsoft Power Apps.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="CanvasOrModelDrivenApp" style="text-decoration:none"><p class="text-primary">The difference between Canvas Apps, Model driven App and Power Pages.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="CustomizingControls" style="text-decoration:none"><p class="text-primary">"Customizing Controls in Power Apps: Hidden Gems You Should Know"</p></a>
                        @* <time datetime="2020-05-016">September 14, 2023</time> *@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="PowerAppsFlow" style="text-decoration:none"><p class="text-primary">What to do when your flow is not working and showing error "Invalid type. Execpted Integer but got null.".</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="BuildingCustomForms" style="text-decoration:none"><p class="text-primary">Leveraging sharepoint list in Canvas application.</p></a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="Environment_variables" style="text-decoration:none">
                            <p class="text-primary">
                                Environment Variables in Power Platform.
                            </p>
                        </a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

                <div class="row sidebar-item recent-posts mt-3 bg-white">
                    <div class="post-item clearfix col-3">
                        <img src="~/images/logo/powerappslogo.png" width="80" height="60" />
                    </div>
                    <div class="col-9">
                        <a asp-controller="PowerApps" asp-action="Using_with_function" style="text-decoration:none">
                            <p class="text-primary">
                                Using ‘with’ function in Power Apps.
                            </p>
                        </a>
                        @*<time datetime="2020-05-016">September 14, 2023</time>*@
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid pt-3"><a style="text-decoration:none" asp-controller="PowerApps" asp-action="Index"><h5 class="text-primary"><i class="bi bi-arrow-left-circle"></i> Go back to Power Apps Blogs</h5></a></div>
    </section>
</main>

<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.css" rel="stylesheet" />

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->
