@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}
<div class="container  text-justify mt-4  bg-light service-details align-content-center" style="border:2px solid black">
                    <div class="mt-2 mx-3">
                        <h2 class="mt-4 mx-3 text-center">
                            Using ‘with’ function in Power Apps.
                        </h2><hr />
                    </div>
                    <div class="mt-3 mx-3 bg-white pt-1">
                        <p class="mt-3 mx-3">
                            In this blog we will explain you how to use “with” Function in canvas app.
                        </p>
                        <p class="mt-3 mx-3">
                            Let’s get started with the few simple steps.
                        </p>
                        <ul class="mt-3 mx-3">
                            <li>
                                Create a new app by clicking on the left menu of the home page of the power apps.
                                You can access that by entering make.PowerApps.com in your browser and login with you credentials.
                             </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using_with_function/screenshot_1.png" class="img-fluid rounded mx-auto d-block h-50 w-50 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <ul class="mt-3 mx-3">
                            <li>After that click on the new app and select the canvas app after that select the canvas layout for the app.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using_with_function/screenshot_2.png" class="img-fluid rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <p class="mt-3 mx-3">
                            So, before that let me explain “With” Function
                        </p>
                        <p class="mt-3 mx-3">
                            The "With" function in Power Apps is used to temporarily change the context within a formula. It allows you to work with a specific context, making it easier to reference properties, controls, and variables within that context. The basic syntax of the "With" function is as follows:
                        </p>
                        <p class="mt-3 mx-5 p-3">
                            Syntax:   With (<br />
                            Context,<br />
                            Expression<br />
                            )
                        </p>
                        <ol class="mt-3 mx-3">
                            <li>Context: This is the context or item you want to work with. It could be a record, a variable, or any other context in which you want to perform operations.</li>
                            <li>Expression: This is the formula or set of operations you want to perform within the specified context.</li>
                        </ol>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <ul class="mt-3 mx-3">
                            <li>Now in the Screen add 5 Text labels, And 3 text inputs./li>
                        </ul>
                        <ol class="mt-3 mx-5">
                            <li>1 for heading of value 1.</li>
                            <li>After that add a text input add text input where you can enter your 1st value.</li>
                            <li>After that add a label in which you can enter operator for mathematical operations.</li>
                            <li>And repeat the process as shown below.</li>
                            <li>Now add a Text box where we can see the total value of the equation.</li>
                        </ol>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using_with_function/screenshot_3.png" class="img-fluid rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <ul class="mt-3 mx-3">
                            <li>Add this function in the text property of the total text box</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using_with_function/screenshot_4.png" class="img-fluid rounded mx-auto d-block h-50 w-50 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <ul class="mt-3 mx-3">
                            <li>
                                In the image below you can see how this app works.
                            </li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
                            <img src="~/images/blog/powerapps/using_with_function/screenshot_5.png" class="img-fluid rounded mx-auto d-block h-50 w-50 " />
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-2">
                        <h6 class="text-center text-primary">
                            If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4"><p><b>Abhishek Kumar<br />Power Apps Consultant</b></p></div>
                    </div>
                </div>
 