@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}

<div class="container  text-justify mt-4  bg-light service-details align-content-center" style="border:2px solid black">
                    <div class="mt-2 mx-3">
                        <h1 class="mt-4 mx-3 text-center">
                            Using Git for Version Control with Power Apps.
                        </h1><hr />
                    </div>
                    <div class="mt-3 mx-3 bg-white pt-1">
                        <p class="mt-3 mx-3">
                            Are you tired of struggling with version control in your Power Apps projects? Git integration is the solution you've been waiting for. Integrating Git with Power Apps can significantly improve your development workflow by providing version control and collaboration capabilities. In this step-by-step guide, we'll walk you through how to set up and use Git integration in Power Apps.
                        </p>
                        <h6 class="mt-3 mx-3">
                            First we’ll start with Creating Repository in Git.
                        </h6>
                        <ul class="mt-3 mx-3">
                            <li>Simply click on “New” Button on top right corner.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_1.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Enter the repository Name, and make sure to keep this repository “Private”.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_2.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-75 w-75" />
                        </div>
                        <ul class="mt-3 mx-3">
                            <li>Customise setting as per you need I’ve added README File. Later on you can hit on Create repository Button.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_3.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h6 class="mt-3 mx-3">
                            Once Repository is created we can move to Power Apps.
                        </h6>
                        <ul class="mt-3 mx-3">
                            <li>Go to App Settings</li>
                            <li>Under Upcoming features > Experimental</li>
                            <li>Look for “Show the Git Version Control Settings” and turn this feature ON.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_5.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Now we can see “Git version control” option under setting, Click on connect.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_6.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>After this we’ll get a window where we need to enter following things.</li></ul>
                        <ol class="mt-3 mx-5 pb-3">
                            <li>
                                Git repository URL
                            </li>
                            <li>Branch</li>
                            <li>Directory Name (if the directory is not created this will create it)</li>
                        </ol>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_7.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-75 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h6 class="mt-3 mx-3">
                            After Clicking on Apply Button, we’ll again move to GitHub.
                        </h6>
                        <ul class="mt-3 mx-3"><li>Go to Settings in GitHub profile.</li> </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_8.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Find Developer setting 'i.e. last option in settings menu.</li> </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_9.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>In Developer settings we’ll have to generate token by following steps.</li></ul>
                        <ol class="mt-3 mx-5">
                            <li>
                                Click on ‘Personal Access Tokens’
                            </li>
                            <li>Select ‘Tokens (Classic)’ from expanded options</li>
                            <li>From the top right corner click on ‘Generate new token’</li>
                            <li>Under this select ‘Generate new token (classic)’</li>
                        </ol>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_10.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Give a Note for token and select expiration period for your token.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_11.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Once we are done with all the above steps we can generate the token by clicking on ‘Generate Token’.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_12.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-75 w-100 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Now you have GitHub Generated token in your screen.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_13.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h6 class="mt-3 mx-3">
                            Let’s get back to the Power Apps.
                        </h6>
                        <ul class="mt-3 mx-3"><li>We’ll continue on Power Apps where we have left after following step 2.</li>
                            <li>Enter Username and Personal Access token in the respective fields.</li>
                        </ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_14.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>If the directory is not present in the repository branch, you’ll get this popup to create new directory.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_15.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Once this is configured you’ll get screen like this with some details in Git version control option.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_16.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h6 class="mt-3 mx-3">
                            Congrats Power Platform Family!! You have successfully Integrated Git with Power Apps.
                        </h6>
                        <ul class="mt-3 mx-3"><li>Now you can find all the project files in your GitHub repository.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_17.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>

                    <div class="mt-2 mx-3 bg-white pt-1">
                        <h5 class="mt-3 mx-3 pb-3">With Git integration in Power Apps, two developers can work simultaneously on the same app, making collaborative app development more efficient and productive.</h5>
                        <h6 class="mt-3 mx-3">
                            In Below example we will try to show you how the application is getting updated on real-time basis while one user is making any changes in application.
                        </h6>
                        <ul class="mt-3 mx-3"><li>We’ve opened same application for two users.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_18.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Now if one of the user makes any change in the application.</li></ul>
                        <ol class="mt-3 mx-5 pb-3">
                            <li>In below example user has deleted Label1 from the application and saved the application.</li>
                            <li>Now another user will have to Clicks on sync Button to see the changes.</li>
                        </ol>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_19.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <ul class="mt-3 mx-3"><li>Once the application is synced, another user can also see the changed in the application.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/powerapps/using git for version control/screenshot_20.jpg" alt="using git for version control" class="img-fluid img-thumbnail rounded mx-auto d-block h-50 w-75 " />
                        </div>
                        <h5 class="mt-5 mx-5 pb-4">In conclusion, Git integration in Power Apps not only simplifies collaboration but also empowers developers to build and improve apps more effectively. By enabling concurrent development, it enhances productivity and fosters a culture of seamless teamwork. Embrace Git integration to take your Power Apps development to the next level, and unlock the full potential of collaborative app building.</h5>
                    </div>
                    <hr />
                    <div class="row mb-2">
                        <h6 class="text-center text-primary">
                            If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4"><p><b>Sumit Joshi<br />Power Apps Consultant</b></p></div>
                    </div>
                </div>
 