@{
    ViewData["Title"] = "How to Add Screens in Canvas App: Step-by-Step Guide |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="How to Add Screens in Canvas App: Step-by-Step Guide">
    <meta name="description" content="Learn how to add screens in a Canvas app with this step-by-step guide. Customize your app layout and improve user experience effortlessly.">
    <meta name="keywords" content="Add screens Canvas app, Canvas app tutorial, create screens Canvas app, Power Apps Canvas, screen customization, Canvas app design, app layout guide, Canvas app features, step-by-step Canvas app, Canvas app development, screen navigation Canvas, Power Apps guide, Canvas app user experience, add screens Power Apps, app customization Canvas.">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center h4">Once you have created this basic application, you can proceed to add additional screens and customize their layouts to meet your specific requirements.</h1>
        <h1 class="text-center fs-2 mt-3">Adding Screens</h1>
        <p class="mt-4">In Power Apps, screens are an essential part of building and designing your app. Screens serve several important purposes and are added to your app for the following reasons:</p>
        <ol class="d-flex flex-column pb-3 justify-content-center gap-2">
            <li><span class="fw-semibold">User Interface (UI):</span> Screens provide the user interface for your app. Each screen represents a distinct view or page within your application, where users can interact with data, enter information, view records, and perform various actions.</li>
            <li><span class="fw-semibold">Navigation:</span> Screens enable you to create a structured navigation flow within your app. You can define how users move from one screen to another, creating a seamless and logical user experience. This is crucial for building apps that are easy to navigate and understand.</li>
            <li><span class="fw-semibold">Separation of Content:</span> Screens allow you to separate different types of content or functionality within your app. For example, you might have a screen for data entry, a screen for viewing reports, and a screen for settings. This separation helps organize your app and keeps related functions together.</li>
            <li><span class="fw-semibold">Device Adaptation:</span> Power Apps supports responsive design, and screens play a key role in adapting your app to various devices and screen sizes. You can design screens to work well on mobile phones, tablets, and desktop computers.</li>
            <li><span class="fw-semibold">Different Use Cases:</span> Screens can be customized for specific use cases or user roles. You can create screens with different layouts, controls, and functionality to meet the needs of different user groups or scenarios.</li>
        </ol>
        <p>To create a new screen, click on the <span class="fw-bold">"<i class="bi bi-plus-lg"></i>New Screen"</span> button located in the top-left corner of the left panel, and select the <span class="fw-bold">"Blank Screen"</span> option. Please note that you won't see other layout options as we are using the mobile layout in this context.
        </p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/basic app building blocks/screenshot_1.webp" alt="Adding Screens" title="Adding Screens" loading="lazy" class="img-fluid" /></div>
        <p>Now, proceed to rename the screens to ensure easy identification. We are transitioning this application into a three-page application, where the first page is designated for adding students, the second screen is intended for previewing students, and the third screen is for editing student information.
        </p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/basic app building blocks/screenshot_2.webp" alt="Adding Screens" title="Adding Screens" loading="lazy" class="img-fluid" /></div>
        <div class="d-flex justify-content-around pb-3">
        <a asp-controller="Tutorial" asp-action="BuildCanvasAppQuickly" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

        <a asp-controller="Tutorial" asp-action="Customizingscreenlayouts" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>