@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2">Build a Canvas Application Quickly</h1>
        <p class="mt-4">Now using the previous interface let’s build a canvas application quickly.</p>
        <ul>
            <li>Begin by selecting <span class="fw-bold">"Solutions"</span> on the home page of <a href="http://make.powerapps.com/" target="_blank" class="text-decoration-none">make.powerapps.com</a> afterward, choose the previously created solution. Subsequently, select the earlier created application</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_1.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_2.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>As the header and footer containers have been added to the screen, proceed to the next step.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_3.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>Now, select the main container, and from the <span class="fw-bold">"Insert"</span> menu in the right navigation pane, add an edit form. Afterward, click on the <span class="fw-bold">"Connect data"</span> option on the form. This action will redirect to the left navigation menu. From there, click on <span class="fw-bold">"Add data"</span> and search for data source.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_4.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_5.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_6.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>Data source is now connected. Select the edit form, and from the right navigation pane, click on <span class="fw-bold">"Data source"</span>. Choose the data source added earlier, and then manually edit the fields in the form. Change the default Mode to NEW from the right navigation menu.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_7.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_8.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>Views of the Data cards can also be customized.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_9.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>Select the header container, and from the <span class="fw-bold">"Insert"</span> menu, add a text label. Modify the text property of the label. Adjust the font size, font color, and background color of the label. Change the height and width of the label to <span class="fw-bold">"Parent.Height"</span> and <span class="fw-bold">"Parent.Width”</span>.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_10.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_11.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>Next, include an additional button in the footer menu for saving the form to the Dataverse table. Customize the button's height and width according to your preferences.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_12.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>After adding the button, in case buttons are too close to each other, just select the footer container and include a gap to create some separation.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_13.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>Now, for the automatic population of <span class="fw-bold">'Full Name'</span> by calculating the values of <span class="fw-bold">'First Name'</span> and <span class="fw-bold">'Last Name,'</span> select the <span class="fw-bold">'Full Name'</span> data card and configure its default property as follows: <span class="fw-bold">Concatenate(DataCardValue1.Text, ' ', DataCardValue2.Text)</span>.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_14.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>To change the font, select <span class="fw-bold">'DataCardKey,'</span> and from the right navigation menu, adjust the font properties, such as applying bold text or changing the font size.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_15.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>10.	If there are hours and minutes dropdowns in the date datacard, and you don't want them, simply select the dropdowns and delete them. Afterward, check for any errors on the data card and resolve them.<ul>
                    <li>Select the dropdowns and separator, and delete them.</li>
                    <li>Select the error and open it in the formula bar.</li>
            </ul></li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_16.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_17.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>Change the formula to <span class="fw-bold">'If(Not IsBlank(DateValue1.SelectedDate), DateValue1.SelectedDate, 0)'</span> then select the second error, update the formula, and add a comment to the formula as shown below.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_18.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_19.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_20.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>After that change the width property of the date picker and edit its formula like below.<span class="fw-bold">” (Parent.Width - 60)”</span>.  </li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_21.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_22.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <ul>
            <li>Next, select the <span class="fw-bold">"Save"</span> button, and in its OnSelect property, enter the following: <span class="fw-bold">"SubmitForm(Form2)"</span>.</li>
            <li>Following these steps, you will be able to save the entries made in the form.</li>
            <li>
                To automatically calculate the age based on the date selected in the <span class="fw-bold">
                    "Date"
                </span> data card, add the following function to the default property of the <span class="fw-bold">
                    "Age"</span> data card:<br />
                <span class="fw-bold">Round(DateDiff(DateValue1.SelectedDate, Today(), TimeUnit.Days) / 365, 0)</span>.
            </li>
            <li>Save and publish the application, then click on the play button in the top navigation panel to test the application. The app can also be played from the home screen. </li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_23.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-2"><img src="~/images/learn/canvas app interface/creating a canvas application quickly/screenshot_24.png" alt="Build a Canvas Application Quickly" class="img-fluid" /></div>
    <div class="d-flex justify-content-around pb-3">
        <a asp-controller="Tutorial" asp-action="ControlsandProperties" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

        <a asp-controller="Tutorial" asp-action="Addingscreens" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
    </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

