@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2">Understanding the Canvas App Interface</h1>
        <p class="mt-4">
            In the Canvas app interface, individuals design and customize mobile or web applications. This interface comprises screens, controls (such as buttons and text fields), data sources, and formulas used for creating app functionality. It is possible to personalize the application's appearance, integrate data from various sources, and establish navigation between screens. The app development process includes steps like testing, debugging, and publishing. Canvas apps are a suitable choice for constructing custom, visually appealing applications without the necessity for extensive coding
        </p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/4. creating a new canvas app and overview of pwer app studio/creating canvas app 4.png" alt="Understanding the Canvas App Interface" class="img-fluid" /></div>
        <p>In this layout, the Top Navigation Panel, Left Navigation Panel, Right Navigation Panel, and the canvas are all visible. </p>
        <p class="fw-semibold mt-4">The Top Navigation Panel includes:</p>
        <ul>
                    <li><span class="fw-semibold">Back Button:</span> Utilized to exit the current application.</li>
                    <li><span class="fw-semibold">Undo Button:</span> Functions to undo a change or go back one step. </li>
                    <li><span class="fw-semibold">Copy/Paste Button:</span> Employed for copying and pasting various content types. </li>
                    <li><span class="fw-semibold">Insert Button:</span> Allows us to add numerous components such as Galleries, Forms, icons, and more through the insert option.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/4. creating a new canvas app and overview of pwer app studio/creating canvas app 5.png" alt="Understanding the Canvas App Interface" class="img-fluid" /></div>
        <ul>
                    <li><span class="fw-semibold">Add data:</span> Data sources or connections can be added from here.</li>
                    <li><span class="fw-semibold">Theme:</span> The application's theme can be customized.</li>
                    <li><span class="fw-semibold">Background Color / Background Image:</span> Customize the background color or image from this option.</li>
                    <li><span class="fw-semibold">Settings:</span> In this section, you can modify general settings such as the app name, icon, display settings, and access upcoming features (which are in testing). You can also find support from Microsoft through this option.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/4. creating a new canvas app and overview of pwer app studio/creating canvas app 6.png" alt="Understanding the Canvas App Interface" class="img-fluid" /></div>
        <p>Following this, an indicator displays whether the app is in editing mode or view mode.</p>
        <ul>
                    <li>Discover a sharing button for easy app sharing.</li>
                    <li>Access an app checker for real-time debugging.</li>
                    <li>Next, use the comment button for discussing errors or other matters with individuals with whom the app has been shared.</li>
                    <li>Then, use the play button to preview the app in the same window/tab.</li>
                    <li>Save button is available for saving the app or using the save-as feature.</li>
                    <li>Lastly, there's a publish button to publish the app within the solution. Now, let’s proceed to the Left Navigation Panel.</li>
        </ul>
        <p class="fw-semibold mt-4">Left Pane:</p>
        <p> Displays a hierarchical view of all the controls on each screen or a thumbnail for each screen in canvas app.</p>
        <div class="container d-lg-flex flex-row justify-content-center mt-4 mb-4 gap-2">
            <img src="~/images/learn/getting started with power apps/4. creating a new canvas app and overview of pwer app studio/creating canvas app 7.png" alt="Understanding the Canvas App Interface" class="img-fluid" />
            <ul class="d-flex flex-column justify-content-center gap-3">
                <li>Within the Left navigation panel at the top, a properties dropdown is visible. These properties pertain to the components added to the screen.</li>
                <li>Beneath that, a hamburger menu is located, housing a tree view that manages the hierarchy of app building.</li>
                <li>Following that is the insert button, which is identical to the one in the top navigation menu.</li>
                <li>Next is <span class="fw-bold">"data,"</span> which is similar to the data option in the top navigation menu.</li>
                <li>Subsequently, there's <span class="fw-bold">"media"</span> where media files like photos or videos can be added and used in the app.</li>
                <li>Afterward, there's the <span class="fw-bold">"power automate"</span> option, allowing the creation of flows within the canvas app.</li>
                <li>Then, there's the <span class="fw-bold">"variable"</span> option, enabling the search for variables and collections, with a direct search feature.</li>
                <li>Finally, there's a <span class="fw-bold">"search"</span> option for searching keywords within the app.</li>
            </ul>
        </div>
        <p class="fw-semibold mt-4">Right Pane:</p>
        <p>Let's proceed to the Properties menu on the right side. Within it, Custom properties for the selected elements can be find and advanced properties where functions can be added.</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/4. creating a new canvas app and overview of pwer app studio/creating canvas app 8.png" alt="Understanding the Canvas App Interface" class="img-fluid" /></div>
    <div class="d-flex justify-content-around pb-3">
        <a asp-controller="Tutorial" asp-action="CreatingCanvasapp" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

        <a asp-controller="Tutorial" asp-action="Layoutandcomponents" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
    </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
