@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2">How to create New (Environment, Publisher, Solution)</h1>
        <p class="fs-4 fw-semibold px-2 mt-4">Environment:-</p>
        <p>Let’s Begin with setting up an Environment first because creating multiple Environments in Power Apps is a best practice for organizations that develop and manage applications using the Power Platform, including Power Apps.</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 1.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <p>We’ll have one default environment selected here, let’s start with creating a developer environment.</p>
        <ul>
            <li>Click on the <span class="fw-bold">“Settings”</span> option from the home and after that click on admin center, a new tab will open up.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 2.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <ul><li>This is the admin center’s home page and here select the Environment Option form the left navigation panel.</li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 3.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <ul><li>Now click on the new button and on the right side a new pop up window will appear in which you have to <span class="fw-semibold" style=" background-color:yellow">fill the required fields and click on next.</span></li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 4.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <ul><li>After completing the aforementioned steps, choose your preferred language and currency, and then click the <span class="fw-bold">'Save'</span> button. Following these instructions will enable you to establish a new working environment.</li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 5.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <ul><li>After hitting on save button New Environment will get created and it’s ready to use. (This process might take some time)</li>
            <li>Environment can be selected/changed from the Home Page of Power Apps. </li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 6.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <p class="fs-4 fw-semibold px-2 mt-4">Publisher:-</p>
        <p>Since New Environment setup is completed. It's time to proceed to the next step, which involves creating a new publisher for the environment. </p>
        <span class="fs-6 text-center fw-semibold" style=" background-color:yellow">“Creating a new publisher in Power Apps is a common practice for various reasons. In Power Apps, a publisher represents the entity that publishes and manages custom connectors, custom connector APIs, and custom connector connection references”. </span>
        <ul class="mt-4">
            <li>To create new publisher click on the <span class="fw-bold">“More”</span> Option form the Left Navigation panel and Click on the <span class="fw-bold">“Discover all”</span> option there.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 7.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <ul><li>Now scroll down the screen and click on the publisher option there.</li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 8.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <ul><li>A new screen will appear. From there, select the <span class="fw-bold">"<i class="bi bi-plus-lg"></i>New Publisher"</span> option. Afterward, a new pop-up window will appear, where the necessary details should be filled, as shown in the image below. Clicking the save button will add a new publisher to the list.</li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 9.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <p>Environment and the publisher are ready for use. Proceed to the next step of learning how to create a new <span class="fw-bold">'Solution'</span> in Power Apps.</p>
        <p class="fs-4 fw-semibold px-2 mt-4">Solutions:-</p>
        <span class="fs-6 text-center fw-semibold" style=" background-color:yellow">“Creating a new solution for a new canvas app is a best practice in app development for several reasons. In the context of Power Apps, a solution is a container that helps you manage and package different components of your application”.</span>
        <ul class="list-unstyled mt-4 mx-4"><li>-	Solutions simplify application deployment between different environments.</li>
            <li>-	You can control security and access permissions at the solution level.</li>
            <li>-	Power Apps offers two types of solutions: managed and unmanaged.</li>
            <li>-	Solutions are crucial for customizing and configuring applications in Power Apps.</li>
        </ul>
        <ul class="mt-4"><li>Select <span class="fw-bold">“Solution”</span> form left navigation panel on home page.</li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 10.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
        <ul><li>Click the <span class="fw-bold">"<i class="bi bi-plus-lg"></i>New Solution"</span> button, and a new pop-up window will appear on the right side of the screen. Fill in the Display name, Name, Publisher, and then click the save button. The new solution will be created and can be seen on the solution lists.</li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/3. creating new environment solution and publisdher/creating esp 11.png" alt="Environment, Publisher, Solution" class="img-fluid" /></div>
    <div class="d-flex justify-content-around pb-3">
        <a asp-controller="Tutorial" asp-action="ExploringthePowerApps" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

        <a asp-controller="Tutorial" asp-action="DataSource" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
    </div>
    </div>
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>