@{
    ViewData["Title"] = "Explore Power Apps: Features, Benefits, and Tutorials |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Explore Power Apps: Features, Benefits, and Tutorials">
    <meta name="description" content="Discover Power Apps with this comprehensive landing page. Learn about its features, benefits, tutorials, and how to build powerful applications effortlessly.">
    <meta name="keywords" content="Explore Power Apps, Power Apps features, Power Apps landing page, Power Apps benefits, create apps Power Apps, Power Apps tutorials, app development, Power Apps guide, Power Apps overview, build apps Power Apps, Microsoft Power Apps, Power Apps platform, app design tips, Power Apps tools, Power Apps solutions.">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" title="Voxtus" loading="lazy" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-2 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2">Exploring the Power Apps (Landing Page).</h1>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/2. exploring home page/screenshot_1.webp" alt="Exploring the Power Apps" title="Exploring the Power Apps" loading="lazy" class="img-fluid" width="100%" /></div>
        <p class="fs-4 fw-semibold text-center">Power Apps left Navigation Bar</p>
        <div class="container d-flex flex-column-reverse flex-lg-row justify-content-center mt-4 mb-4 gap-2">
            <ol class="d-flex flex-column justify-content-center gap-3">
                <li><span class="fw-semibold">Home:</span> The Home section typically serves as the starting point when you open Power Apps. It may display recent apps, dashboards, or other relevant information.</li>
                <li><span class="fw-semibold">Create:</span> This is where you can create new Power Apps. You can choose to create canvas apps, model-driven apps, and more based on your specific needs.</li>
                <li><span class="fw-semibold">Learn:</span> The Learn section provides access to educational resources, tutorials, documentation, and training materials to help you learn how to use Power Apps effectively.</li>
                <li><span class="fw-semibold">Apps:</span> In this section, you can view and manage the Power Apps you've created. You can also open, edit, and share your existing apps from here.</li>
                <li><span class="fw-semibold">Tables:</span> Tables represent the data sources for your apps. You can manage and create tables that store the data your apps use, such as Excel files, SharePoint lists, or Common Data Service tables.</li>
                <li><span class="fw-semibold">Flows:</span> This section is where you can create, manage, and automate workflows using Power Automate. You can connect various apps and services to create automated processes.</li>
                <li><span class="fw-semibold">Solutions:</span> Solutions are containers for packaging and managing apps, flows, and other Power Apps components. They are useful for organizing and deploying related items together.</li>
                <li><span class="fw-semibold">More:</span> This section may contain additional features and settings, including app settings, connectors, gateways, custom connectors, and settings specific to your environment.</li>
                <li class="list-unstyled mt-2"> <p>These components provide a well-organized interface for creating, managing, and learning about Power Apps. </p></li>
            </ol>
            <div class="align-item-center mt-3 mb-3"><img src="~/images/learn/getting started with power apps/2. exploring home page/screenshot_2.webp" alt="Exploring the Power Apps" title="Exploring the Power Apps" loading="lazy" class="img-fluid" /></div>
        </div>
        <p class="fs-4 fw-semibold text-center">Now coming to the Top Navigation menu of Power Apps.</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/2. exploring home page/screenshot_3.webp" alt="Exploring the Power Apps" title="Exploring the Power Apps" loading="lazy" class="img-fluid" /></div>
        <ul>
            <li><span class="fw-semibold">App Launcher:</span> App Launcher in Power Apps is a feature that allows users to access and manage the various applications and tools available within the Microsoft 365.</li>
            <li class="list-unstyled mx-4 mt-2"><span class="fw-semibold">Access Multiple Apps:</span> App Launcher gives users a single entry point to access all the apps they have permission to use, whether they are Power Apps, Power Automate flows, Power BI dashboards, Outlook, OneDrive, Word/Excel(Online), PowerPoint, OneNote, SharePoint and many more.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/2. exploring home page/screenshot_4.webp" alt="Exploring the Power Apps" title="Exploring the Power Apps" loading="lazy" class="img-fluid" /></div>
        <ul class="d-flex flex-column gap-3">
            <li><span class="fw-semibold">Search Bar:</span> Search bar in Power Apps Home allows users to quickly find and access various apps, flows, connectors, and resources within their Power Apps environment. It's a helpful tool for locating specific items or exploring the available resources.</li>
            <li><span class="fw-semibold">Environment selector:</span> The environment selector in Power Apps Home is a feature that allows users to switch between different environments within their Power Apps organization. It's a vital tool for managing various development, testing, and production environments.</li>
            <li><span class="fw-semibold">Notification:</span> You can create notifications within Power Apps to alert users about specific events or actions within an app. These notifications are typically displayed as part of the app's user interface and are triggered by events or conditions you specify.</li>
            <li><span class="fw-semibold">Settings:</span> In power apps setting there are many options to control and manage Power Apps.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/2. exploring home page/screenshot_5.webp" alt="Exploring the Power Apps" title="Exploring the Power Apps" loading="lazy" class="img-fluid" /></div>
        <ol class="d-flex flex-column gap-2">
            <li>
                <span class="fw-semibold">
                    Admin center:</span> The Power Apps admin center is a web-based portal that allows administrators to manage and govern the Power Apps environment within their organization. It provides tools and features to configure, monitor, and control various aspects of Power Apps.
                Here are some options inside this admin center.
                <ul class="d-flex flex-column gap-2 mt-2">
                    <li>Environments.</li>
                    <li>Analytics</li>
                    <li>Billing(Preview)</li>
                    <li>Settings</li>
                    <li>Resources</li>
                    <li>Help + support etc.</li>
                </ul></li>
            <li><span class="fw-semibold">Plan(s):</span> In this you can see your current active plan </li>
            <li><span class="fw-semibold">Advanced settings:</span> You can manage your admin setting from here</li>
            <li><span class="fw-semibold">Session details:</span> View your Power Apps session details such as session ID, tenant ID, environment ID and more.</li>
            <li><span class="fw-semibold">Developer resources:</span> Access developer resources.</li>
            <li><span class="fw-semibold">Power Apps settings:</span> View or update your language and time settings, notifications, or access directories.</li>
            <li><span class="fw-semibold">Themes and password:</span> From the list of themes, select a theme for your organization. And password is used for changing your password.</li>
        </ol>
    <div class="d-flex justify-content-around pb-3">
        <a asp-controller="Tutorial" asp-action="SettingupEnvironment" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

        <a asp-controller="Tutorial" asp-action="EnvironmentPublisherSolution" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
    </div>
    </div>
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>