@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}
@{
    ViewData["Title"] = "Building Custom Apps on Power Platform |";
}
@section MetaTags{
    <meta name="title" content="Building Custom Apps on Power Platform">
    <meta name="description" content="Transform your business with bespoke Canvas apps. Enhance productivity and user experience with our tailored solutions." />
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <h1 class="text-center mx-5 px-4 mt-3">Introduction to Power Apps</h1>
    <div class="container p-3 pb-5 mb-4">
        
        <div class="row flex-column-reverse flex-lg-row py-4">
            <div class="col-lg-8">
                <h4 class="mt-4">Introduction</h4>
                <p class="my-2">Power Apps is a Low-code / No-code application development platform developed by Microsoft. It empowers users to create custom business applications and solutions without extensive coding. Power Apps is part of the Microsoft Power Platform, which also includes Power BI for business intelligence and Power Automate (formerly known as Flow) or workflow automation.</p>
            </div>
            <div class="col-lg-4 text-center"><img src="~/images/logo/PowerApps_scalable.svg" alt="Introduction to Power Apps" class="img-fluid" height="160" width="160"></div>
        </div>
     <h4>What is Power Apps?(Canvas App)  </h4>
        <span class="fs-5 fw-semibold ms-3">Canvas app: -</span>
        <p class="ms-4">A Canvas app is one of the two main types of apps that you can create using Microsoft Power Apps. It's a custom business application that allows us to design and build apps with a high degree of flexibility and customization</p>
        <h4>Why use Power Apps for app development?</h4>
        <p>Power Apps is a rapid, low-code/no-code platform for custom app development, offering seamless integration with Microsoft services, cross-platform support, diverse data connections, custom UI design, and formula-based logic. It ensures security, cost-efficiency, and empowers both developers and non-developers. With scalability and integration capabilities, Power Apps facilitates end-to-end solutions.</p>
        <h4>Overview of Canvas Apps vs. Model-Driven Apps.</h4>
        <div class="row border border-2 border-dark ms-lg-4 me-lg-4 mt-4 p-lg-3 mb-5">
            <div class="col-6 border-end"><h6 class="border-bottom border-dark text-center">Canvas Apps</h6>
                <p>1.	Custom UI design with drag-and-drop.</p>
                <p>2.	Ideal for creative, flexible solutions.</p>
                <p>3.	Diverse data source connectivity.</p>
                <p>4.	Low-code, no-code approach for developers.</p>
                <p>5.	Greater customization control.</p>
            </div>
            <div class="col-6"><h6 class="border-bottom border-dark text-center">Model-Driven Apps</h6>
                <p>1.	Data-driven, structured UI.</p>
                <p>2.	Suited for CRM and data-centric apps.</p>
                <p>3.	Dataverse (C D S) integration.</p>
                <p>4.	Automation and workflow-focused.</p>
                <p>5.	Ideal for business processes and structured data models.</p>
            </div>
        </div>
    <div class="d-flex justify-content-around pb-3">
        <a asp-controller="Tutorial" asp-action="SettingupEnvironment" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
    </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>