@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2 mt-3">Navigating between Screens</h1>
        <p class="mt-4">Now to show the navigation between screens we have to jump on the first screen.</p>
        <ul>
        <li>
            In the last Edit screen, when you fill out the form, you can select the <span class="fw-bold">"Save"</span> button and update its <span class="fw-bold">"OnSelect"</span> property as follows:

            <span class="fw-bold">`SubmitForm(Form2); Navigate(ScrnDetails)`</span>
        </li>
        <li>With this modification, the button will submit the form data and navigate to the <span class="fw-bold">"ScrnDetails"</span> screen, allowing you to view the entry you've just submitted.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/basic app building blocks/screenshot_12.png" alt="Navigating between Screens" class="img-fluid" /></div>
        <ul>
            <li>After clicking on the <span class="fw-bold">"Save"</span> button with the updated <span class="fw-bold">"OnSelect"</span> property, the form data will be saved, and the app will navigate to the detail screen, allowing you to view the entry you've just submitted.</li>
            <li>After saving the form data and navigating to the detail screen, you'll be able to see the last record you've updated, providing a clear overview of your recent changes and entries.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/basic app building blocks/screenshot_13.png" alt="Navigating between Screens" class="img-fluid" /></div>
        <ul>
            <li>Now Click on the entry you want to edit and we have already changed the onselect property of the gallery template to <span class="fw-bold">“Navigate(ScrnEdit)”</span>.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/basic app building blocks/screenshot_14.png" alt="Navigating between Screens" class="img-fluid" /></div>
        <ul>
            <li>
                To enable selecting items in the gallery and having the <span class="fw-bold">"Navigation"</span> button within the gallery navigate to a parent screen, you can set the <span class="fw-bold">"OnSelect"</span> property of the button to:
                <span class="fw-bold">Select(Parent)</span>
            </li>
        </ul>
        <p>This will allow you to select items in the gallery and navigate to the appropriate parent screen for further actions or details.</p>
        <ul>
            <li>When you select an item in the gallery and the <span class="fw-bold">"Navigation"</span> button is set to <span class="fw-bold">Select(Parent)</span>, it will navigate you to the Edit screen where you can edit the selected entry. This provides a seamless way to update and modify the information for the selected record.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/basic app building blocks/screenshot_15.png" alt="Navigating between Screens" class="img-fluid" /></div>
        <p class="text-center fw-bold mb-4">"Here is a guide on navigating between screens with interconnected data."</p>
        <div class="d-flex justify-content-around pb-3">
            <a asp-controller="Tutorial" asp-action="Customizingscreenlayouts" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

            <a asp-controller="Tutorial" asp-action="Variables" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
    
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
