@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2 mt-3">Responsive design and layout techniques “need meta data”</h1>
        <h5>Introduction to Responsive Design:</h5>
        <p class="mt-3">Responsive design in Canvas app Power Apps refers to the practice of creating an application interface that dynamically adjusts and adapts its layout and components based on the screen size and orientation of the device on which it is being viewed.</p>
        <p class="mt-3">Key principles of responsive design in Canvas apps include:</p>
        <ol class="d-flex flex-column pb-3 justify-content-center gap-2">
            <li>Flexible Layouts: Designing layouts that can fluidly expand, contract, or reorganize based on available screen space.</li>
        </ol>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_1.png" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_1.png" class="img-fluid" /></div>
        <p class="mt-3">After adjusting the dimensions of the global container, the application will dynamically adapt its height and width to match the screen size. Make the Height  & Width to (Parent.height/width) accordingly.</p>
        <ol>
            <li>Grid Systems: Utilizing grid systems to structure the layout, allowing for consistent spacing and alignment across different screen sizes.</li>
        </ol>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_2.png" class="img-fluid" /></div>
        <p class="mt-3">From here, users can select multiple templates from the list, allowing them to utilize the same template across various screens. This ensures consistency throughout the app's design, preventing it from appearing disjointed or inconsistent.</p>
        <ol>
            <li>Dynamic Sizing: Components such as images, text boxes, and buttons are set to adjust their size proportionally to the available screen space.</li>
        </ol>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_3.png" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_3.png" class="img-fluid" /></div>
        <p class="mt-3">First select the form and make its width to parent.width and after the change the widths of the text box and text labels.</p>
        <p class="mt-3">
            After select the datacard and change its width to same .”Parent.Width ”
            Currently, the size of the text box doesn't match the screen size. To address this, simply select the text box and text label inside the form, and set their width to `Parent.Width`. This adjustment ensures that the text box and label expand or contract according to the width of the parent container, maintaining consistency across different screen sizes.
        </p>
        <ol>
            <li>Orientation Handling: Adapting the layout and content for both portrait and landscape orientations.</li>
        </ol>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_4.png" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_4.png" class="img-fluid" /></div>
        <p class="mt-3">These are the two orientations (Portrait and landscape).</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_5.png" class="img-fluid" /></div>
        <p class="mt-3">From here you can select weather to lock orientation or not.</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/building user interface/screenshot_6.png" class="img-fluid" /></div>
        <div class="d-flex justify-content-around pb-3">
            <a asp-controller="Tutorial" asp-action="WorkingwithControls" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

            <a asp-controller="Tutorial" asp-action="" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
