@{
    ViewData["Title"] = "Set Up Microsoft 365 Developers Account Easily |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Set Up Microsoft 365 Developers Account Easily">
    <meta name="description" content="Learn how to set up and create a Microsoft 365 Developers Account. Follow this step-by-step guide to access powerful tools and build apps on the Microsoft platform.">
    <meta name="keywords" content="Microsoft 365 Developers Account, set up Microsoft 365, create developers account, Microsoft 365 setup, developers account tutorial, Microsoft 365 guide, Microsoft app development, Microsoft platform, 365 developers tools, Microsoft developer setup, Microsoft 365 tutorial, app building tools, developers account configuration, Microsoft development guide, 365 account creation">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2">Setting up and creating Microsoft 365 Developers Account</h1>
        <p class="text-center fs-5 fw-semibold text-primary mt-4">"Getting Started with Power Apps: Setting up Your Environment"</p>
        <p>Create or Sign In to Your Microsoft Account: The first step in your Power Apps journey is to ensure you have a Microsoft account. If you already have one with appropriate <span style="color:red;font-weight:500">PowerApps license</span>, you can simply log in using your existing credentials on <a href="http://make.powerapps.com/" target="_blank" class="text-decoration-none">make.powerapps.com</a>.</p>
        <p class="text-center fw-semibold">“For more information about PowerApps license you can visit <a href="https://powerapps.microsoft.com/en-us/pricing/" target="_blank" class="text-decoration-none">https://powerapps.microsoft.com/en-us/pricing/</a>"</p>
        
        <p class="fs-5 fw-semibold mt-5">If you don’t have a Microsoft account with <span style="color:red;font-weight:500">“PowerApps License”</span> here are some steps to create one Developer Account.</p>
        <ul class="gap-3"><li>Go to the Microsoft developer Account Creation Page: Visit the Microsoft account creation page (<a href="https://developer.microsoft.com/en-us/microsoft-365/dev-program" target="_blank" class="text-decoration-none">https://developer.microsoft.com/en-us/microsoft-365/dev-program</a>) in your web browser. </li>
            <li>Click on "Join now” button to begin the registration process for Power Apps Developer Program.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_1.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid" width="100%" /></div>
        <ul class="gap-3">
            <li>Enter email and click on “Next” button. (You can use your existing  Microsoft account or create a new Microsoft account).</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_2.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid" width="70%" /></div>
        <ul>
            <li>Enter your country/region, company, and language preference. After that, accept the terms and conditions and click the 'Next' button.</li>
            <li>Select the appropriate answers for these questions, and then click the 'Next' button.</li>
        </ul>
        <div class="container d-flex flex-lg-row justify-content-center mt-4 mb-4">
            <img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_4.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid me-2" width="50%" />
            <img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_5.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid" width="50%" />
        </div>
        <ul><li>Now, set up and configure the sandbox, and then click on the 'Next' button.</li></ul>
        <div class="container d-flex justify-content-center flex-lg-row mt-4 mb-4">
            <img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_6.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid me-2" width="50%" height="50%" />
            <img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_7.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid" width="50%" height="50%" />
        </div>
        <ul><li>Add your phone number and click 'Send code.' Then, enter the code you received on your mobile.</li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_9.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid" /></div>
        <ul><li>You have successfully configured Microsoft 365 developer account. Just copy the email which is generated by Microsoft.</li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_10.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid" /></div>
        <ul><li>Now you can access the Power Apps services by using auto generated email by Microsoft. By Logging in to <a href="http://make.powerapps.com/" target="_blank" class="text-decoration-none">make.powerapps.com</a> with your credentials and can easily access all the services. </li></ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/getting started with power apps/1. how to sign in/screenshot_11.png" alt="Setting up and creating Microsoft 365 Developers Account" class="img-fluid" /></div>
    <div class="d-flex justify-content-around pb-3">
        <a asp-controller="Tutorial" asp-action="Introduction" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

        <a asp-controller="Tutorial" asp-action="ExploringthePowerApps" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
    </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>