@* <div class="row" style="background-image: linear-gradient(to bottom right, #101B35,#101B35,#101B35,#1E3A8A, rgba(29, 55, 129,0.5), #1E3A8A,#101B35); color:white;"> *@
<section class="services"  style="background-image: linear-gradient(to bottom right, #0f222b,#0f222b,#0f222b,#27576f, #d2e5ef, #27576f,#0f222b); color:white;">
<div class="container">
<div class="row">
    <div class="col-lg-12 px-4 pb-4">
        <h4>Check Out Our Portfolio</h4>
        <p class="mt-2">Want to see our expertise in action? Explore our<a asp-controller="Portfolio" asp-action="Index" class="text-decoration-none px-2 text-primary">portfolio</a>to discover how we’ve helped businesses innovate, streamline operations, and achieve measurable success.</p>
        <h4 class="mt-4">Transform Your Business with Voxtus</h4>
        <p class="mt-2">From strategy to execution, we deliver smart, scalable, and future-ready solutions that empower organizations to work smarter, faster, and more securely.</p>
        <button class="btn border border-1 border-white btn-light">
            <a asp-controller="ContactUs" asp-action="Index" class="text-decoration-none text-black">
                Contact Us
            </a>
        </button>
    </div>
    </div>
</div>

<!--Our Links Section Start Here-->
<link href="~/css/flex.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
@* <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />*@
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
@*<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" /> *@
@* <link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.css" rel="stylesheet" /> *@
<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />