@model Newsletter
@{
    string encodedUrl = "https://www.youtube.com/%40voxtus";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Voxtus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Voxtus_Tech.styles.css" asp-append-version="true" />


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    @*<title>Voxtus Technologies Pvt. Ltd.</title>*@
    <title>Voxtus:Software development Company | IT Company</title>
    <meta name="description" content="Voxtus Technologies: Expertise in software Development, driving digital innovation, delivers innovative software solutions and transforming IT visions to reality." />
    <meta name=keywords content="Voxtus Technology, IT services, Software development, App development, RPA Power Apps, .NET development, Digital innovation, Business IT solutions, Custom software, IT consultancy">
    <link rel="canonical" href="https://www.voxtus.com/" />
    <script type="application/ld+json">
        {
          "context": "https://schema.org/",
          "type": "BreadcrumbList",
          "itemListElement": [{
            "type": "ListItem",
            "position": 1,
            "name": "About",
            "item": "https://voxtus.com/About"
          },{
            "type": "ListItem",
            "position": 2,
            "name": "Services",
            "item": "https://voxtus.com/Services"
          },{
            "type": "ListItem",
            "position": 3,
            "name": "Blog",
            "item": "https://voxtus.com/Blog"
          },{
            "type": "ListItem",
            "position": 4,
            "name": "Contact Us",
            "item": "https://voxtus.com/ContactUs"
          }]
        }
    </script>
    <meta property="og:title" content=Voxtus:-IT Solutions>
    <meta property="og:site_name" content=Voxtus Technology Pvt Ltd>
    <meta property="og:url" content=https://voxtus.com />
    <meta property="og:description" content=Voxtus Technologies: Expertise in software Development, driving digital innovation, delivers innovative Software solutions and transforming IT visions to reality.>
    <meta property="og:type" content=website>
    <meta property="og:image" content=https://voxtus.com/images/v1.png>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/images/v1.png" rel="icon">
    @*<img src="~/assets/img/voxtuslogo.png" />*@

    @*<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">*@

    @* <link href="images/v1.png" rel="apple-touch-icon">*@
    @*<link rel="icon" href="~/assets/img/v1.ico" />
    <link rel="icon" href="/assets/img/v1.ico" />*@
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
   
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>

</head>
<body>
    @* <header id="header" class="fixed-top d-flex align-items-center "> *@
       
        @* <div class="container d-flex justify-content-between align-items-center" >

            <div class="logo">
                <h1 class="text-light"><a asp-controller="Home" asp-action="Index"><span><img src="~/images/v1.png" /></span></a></h1>
                <span class="text-light h2"><a style="text-decoration:none" asp-controller="Home" asp-action="Index"><span><img src="~/images/v1.png" /></span> <span class="text-light"><b>Voxtus</b></span></a></span>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul class="nav nav-pills">
                    <li><a data-toggle="pill" style="text-decoration:none" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a data-toggle="pill" style="text-decoration:none" asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                    
                    <li><a data-toggle="pill" style="text-decoration:none" asp-controller="Services" asp-action="Index">Services</a></li>
                    <li><a data-toggle="pill" style="text-decoration:none" asp-controller="Portfolio" asp-action="Index">Portfolio</a></li>
                    <li><a data-toggle="pill" style="text-decoration:none" asp-controller="Team" asp-action="Index">Team</a></li>
                    <li><a data-toggle="pill" style="text-decoration:none" asp-controller="Blog" asp-action="Index">Blog</a></li>
                   <li class="dropdown">
                        <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a data-toggle="pill" style="text-decoration:none" asp-controller="ContactUs" asp-action="Index"><p class="h5 border border-2 border-light p-2 mt-2" style="color:#1e4356;background-color:white; border-radius:20px"><b>Contact Us</b></p></a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div> *@
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
            @* <h1 class="text-light"><a asp-controller="Home" asp-action="Index"><span><img src="~/images/v1.png" /></span></a></h1> *@
            <span class="text-light h2"><a style="text-decoration:none" asp-controller="Home" asp-action="Index"><span><img src="~/images/v1.png" /></span> <span class="text-light"><b>Voxtus</b></span></a></span>
        </div>
        <nav class="navbar navbar-expand-lg bg-transparent p-3">
        <div class="container">
            @* <a class="navbar-brand fs-5" href="#">Voxtus</a> *@
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="offcanvas offcanvas-start bg-transparent bg-primary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header text-white border-bottom justify-content-end">
                        @* <h5 class="offcanvas-title mx-6" id="offcanvasNavbarLabel">Menu</h5> *@
                        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                <div class="offcanvas-body">
                    <ul class="d-flex flex-column flex-lg-row justify-content-end align-items-center fs-5 text-white flex-grow-1 pe-5">
                            <li class="nav-item mx-1">
                                <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item mx-1">
                            <a class="nav-link" asp-controller="About" asp-action="Index">About</a>
                            </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" asp-controller="Services" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" asp-controller="Team" asp-action="Index">Team</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                                <li class="dropdown">
                                    <a class="text-decoration-none"><span>Learn</span> <i class="bi bi-chevron-down"></i></a>
                                    <ul>
                                        <li><a asp-controller="Tutorial" asp-action="Introduction" class="text-decoration-none">Canvas Application</a></li>
                                    </ul>
                                </li>
                    </ul>
                        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
                            <a asp-controller="ContactUs" asp-action="Index" class="btn btn-lg text-black fs-6 pe-4 rounded-4 bg-white" style="text-decoration:none;background-color:whitesmoke">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        </div>
</header>

    @* </header> *@
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

        @* <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-5">
                        <h4>Our Newsletter</h4>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                            <input asp-for="Email" type="email" name="email" placeholder="Enter Your E-mail">
                            <button class="btn-primary rounded-4" type="submit" value="Subscribe">Subscribe</button>
                            <button type="button" class="btn-outline-primary btn-sm rounded-4">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> *@

        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="About" asp-action="Index">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Services" asp-action="Index">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Portfolio" asp-action="Index">Portfolio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Services" asp-action="TermsofServices">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Home" asp-action="Privacy">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        @*<ul>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" href="#">Graphic Design</a></li>
                        </ul>*@
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Services" asp-action="PowerPlatformDevelopment"> Power Platform Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Services" asp-action="Dynamics365Development">Dynamics 365 Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Services" asp-action="DOTNETDevelopment">.NET Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a style="text-decoration:none" asp-controller="Services" asp-action="RPADevelopment">RPA Development</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>@* 
                            Lane No 5F, Shivraj Nagar, <br>
                            Badonwala, Uttarakhand, 248007<br>
                            India <br><br> *@
                            <strong>Phone:</strong> +91-8630235507<br>
                            <strong>Email:</strong> info@voxtus.com<br>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>About Voxtus</h3>
                        <p>Voxtus is Your trusted partner for transformative solutions in Power Platform, Dynamics 365, RPA, and .NET Core, helping businesses thrive in the digital age.</p>
                        <div class="social-links mt-3">
                            <a href="https://www.linkedin.com/company/voxtus/?viewAsMember=true" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            <a href="@encodedUrl" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
                           @*  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> *@
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Voxtus</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-Voxtus/ -->
                Designed by <a href="http://voxtus.com/">Voxtus</a>
            </div>
        </div>
    </footer>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
