@{
    ViewData["Title"] = "Manage Power App Projects - Streamline Processes |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Manage Power App Projects - Streamline Processes">
    <meta name="description" content="Efficiently manage Power App projects with tools for processing, automation, and collaboration. Simplify workflows and enhance productivity with ease.">
    <meta name="keywords" content="Power App project, project management, Power Apps, app processing, workflow automation, Power App tools, task management, app development, collaboration tools, streamline processes, Power Platform, Microsoft Power Apps, project efficiency, app management, productivity tools">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@* @{
    ViewData["Title"] = "ABG Mold App |";
} *@

<main id="main">
    @* <section> *@
        <div class="container-fluid">
        <h1 class="text-center pt-5 ">
                ABG Mold App
            </h1><hr />
        <div style="border:3px solid Black" class=" mt-4"><img src="~/images/portfolio/abg mold app/abg1.webp" alt="ABG Mold App" title="ABG Mold App" loading="lazy" class="img-fluid w-100 d-block img-thumbnail" /></div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row mt-5 mx-2">
                <div class="col-lg-9 p-3 mt-4 d-flex flex-column justify-content-center align-items-center" style="background-color:aliceblue">
                    <div class="mt-4 p-3 mb-4 bg-white">
                        <h4 class="mt-2 m-3">Overview</h4>
                        <p class="m-3">
                            As part of the digital transformation initiative for American Bath Group (ABG), I designed and developed the <span class="fw-semibold">"ABG Mold App"</span>, a tailored solution using Microsoft Power Apps Canvas App. This application addresses ABG's mold management processes, offering a user-centric interface and robust functionalities.
                        </p>
                    <img src="~/images/portfolio/abg mold app/abg2.webp" alt="Power BI Integration" title="Power BI Integration" loading="lazy" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                        <h5 class="mt-2 m-3">Key Features:-</h5>
                        <h6 class="m-3">Multistep Forms:</h6>
                        <p class="m-3">Implemented intuitive multistep forms to simplify the often complex process of entering mold-related details. The user-friendly design ensures a smooth experience for data entry, enhancing user adoption and minimizing errors in record creation.</p>
                        <h6 class="m-3">Dataverse Integration:</h6>
                        <p class="m-3">Leveraged Microsoft Dataverse as the primary data source for the application. Dataverse provides a secure and structured environment for storing mold-related records. This integration not only ensures data integrity but also facilitates scalability and adaptability as ABG's data needs evolve.</p>
                        <h6 class="m-3">Cloud Flow Automation:</h6>
                        <p class="m-3">Integrated Microsoft Power Automate (Cloud Flow) to automate data updates and streamline communication across the organization. This automation ensures that the <span class="fw-semibold">"ABG Mold App"</span> is always up-to-date with the latest information, fostering real-time collaboration among users.</p>
                        <h6 class="m-3">Record Visualization Screen:</h6>
                        <p class="m-3">Developed a dedicated screen within the app to allow users to view and analyze saved records effortlessly. This screen serves as a central hub for data visualization, providing users with a comprehensive overview of mold-related information. The design prioritizes clarity and accessibility, empowering users to make informed decisions.</p>
                        <h6 class="m-3">Collaboration with ABG Quality App:</h6>
                        <p class="m-3">The seamless integration with the <span class="fw-semibold">"ABG Quality App"</span> demonstrates a holistic approach to digital solutions. By ensuring compatibility between the two applications, users can effortlessly transition between mold management and quality assurance processes. This collaborative effort enhances the overall efficiency of ABG's operations.</p>
                    <img src="~/images/portfolio/abg mold app/abg3.webp" alt="ABG Quality App" title="ABG Quality App" loading="lazy" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                        <h6 class="m-3">Power BI Integration:</h6>
                        <p class="m-3">
                            Integrated Power BI reports specifically tailored to ABG's requirements. These reports offer visually compelling and insightful analytics derived from the data captured in the <span class="fw-semibold">"ABG Mold App"</span>. Stakeholders can now make data-driven decisions with ease, thanks to the accessible and actionable insights provided by the integrated Power BI dashboards.
                        </p>
                        <h6 class="m-3">Outcome:</h6>
                        <p class="m-3">
                            The <span class="fw-semibold">"ABG Mold App"</span> has significantly transformed ABG's mold management processes. The user-centric design and robust functionalities have resulted in improved data accuracy, reduced processing time, and enhanced overall operational efficiency. The seamless collaboration with the <span class="fw-semibold">"ABG Quality App"</span> and the integration of Power BI reports underscore the project's success in delivering a comprehensive and interconnected solution.
                        </p>
                        <div>
                            <h5>Contact Information:</h5>
                            <ul>
                                <li>Email: <a href="mailto:info@voxtus.com" target="_blank" class="text-decoration-none">info@voxtus.com</a></li>
                            <li>Phone:+91-8630235507</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mt-4 p-3" style="background-color:ghostwhite">
                        <h4 class="mt-3">Project information</h4><hr />
                        <h6 class="mt-3">Category: App design</h6>
                        <h6 class="mt-3">Client: American Bath Group</h6>
                        <h6 class="mt-3">Project date: 22 January, 2024</h6>
                        <h6 class="mt-3">
                            Information Technology:
                        </h6>
                        <ul>
                            <li>Microsoft Power Apps</li>
                            <li>Microsoft Dataverse</li>
                            <li>Power Automate (Cloud Flow)</li>
                            <li>Power BI</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    @* </section> *@
</main>






<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />



<!--The End of the Links Section-->
