<main id="main">
    <section>
        <div class="container-fluid">
            <h2 class="text-center">
                Billing Process Automation
            </h2><hr />

            <!--For Slide-->
            @*<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="carousel-container">
            <img src="~/assets/img/portfolio/home1.jpg" class="img-fluid w-100 d-block img-thumbnail" /></div>
            <h4 class="animate__animated animate__fadeInDown animate__zoomIn text-center">Appointment and Medication Reminders</h4>
            </div>
            <div class="carousel-item">
            <div class="carousel-container">
            <img src="~/assets/img/portfolio/patient details.jpg" class="img-fluid w-100 d-block img-thumbnail" />
            </div>
            </div>
            <div class="carousel-item">
            <div class="carousel-container">
            <img class="d-block w-100" src="~/assets/img/portfolio/patient details.jpg" alt="Third slide">
            </div>
            </div>
            </div>
            </div>*@


            <div style="border:3px solid Black" class=" mt-4"><img src="~/images/portfolio/billing process automation/img1.jpg" class="img-fluid w-100 d-block img-thumbnail" /></div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row mt-5 mx-2">
                <div class="col-lg-9 p-3">
                    <div class="container-fluid p-2" style="background-color:aliceblue">
                    <center><div class="w-75 mt-4 p-3 bg-white text-end">
                    <h5 class="mt-3 mb-4">
                        Project Description:
                    </h5>
                    <p class="mt-3 mb-4">
                        The Billing Process Automation project at WTW involved automating a legacy billing application using UiPath. This transformative initiative aimed to streamline and enhance the billing process for increased efficiency and accuracy.
                    </p>
                    <h6>Key Highlights:</h6>
                    <ul class="m-3">
                        <li><b>Legacy Application Automation:</b> We successfully automated the complex billing process of the legacy application, eliminating the need for manual intervention and reducing errors.</li>
                        <li><b>UiPath Queue Integration:</b> Data processing was efficiently managed through UiPath Queue, ensuring seamless data flow and improved handling of transactions.</li>
                        <li><b>Email Automation:</b> In case of successful or failed transaction processes, the bot was configured to send automated emails with attached required documents, keeping stakeholders informed and updated.</li>
                    </ul>
                    <h6>Project Achievements:</h6>
                    <ul class="m-3">
                        <li>Significantly reduced processing time and errors in the billing process.</li>
                        <li>Enhanced communication through automated email notifications.</li>
                        <li>Improved overall efficiency in financial operations.</li>
                        <li>Completed the project within the stipulated timeframe of 3 months.</li>
                    </ul>
                     <h6>Outcome:</h6>
                      <p class="mt-3 mb-4">
                                    The Billing Process Automation project for WTW exemplified the power of Robotic Process Automation in optimizing legacy systems, increasing operational efficiency, and ensuring timely and accurate billing processes.
                      </p>
                    </div>
                        </center>
                        <center>
                            <div class="w-75 mt-4 p-3 bg-white">
                                <h5 class="text-center bg-white">Automation Framework</h5>
                                <img src="~/images/portfolio/billing process automation/img1.jpg" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                            </div>
                        </center>
                        <center>
                            <div class="w-75 mt-4 p-3 mb-4 bg-white">
                                <h5 class="text-center bg-white">Application Screenshot-1</h5>
                                <img src="~/images/portfolio/billing process automation/img2.png" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                            </div>
                        </center>
                        <center>
                            <div class="w-75 mt-4 p-3 mb-4 bg-white">
                                <h5 class="text-center bg-white">Application Screenshot-2</h5>
                                <img src="~/images/portfolio/billing process automation/img3.png" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                            </div>
                        </center>
                        <center>
                            <div class="w-75 mt-4 p-3 mb-4 bg-white">
                                <h5 class="text-center bg-white">Application Screenshot-3</h5>
                                <img src="~/images/portfolio/billing process automation/img4.png" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                            </div>
                        </center>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="p-3" style="background-color:ghostwhite">
                        <h4 class="mt-3">Project information</h4><hr />
                        <h6 class="mt-3">Project Name: Billing Process Automation</h6>
                        <h6 class="mt-3">Client: WTW </h6>
                        <h6 class="mt-3">RPA Platform: UiPath</h6>
                        <h6 class="mt-3">Project Duration: May 2023 to August 2023</h6>
                        <h6 class="mt-3">
                            Information Technology:
                        </h6>
                        <ul>
                            <li>UiPath (RPA Platform)</li>
                            <li>UiPath Queue</li>
                            <li>Email Automation</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>






<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<!--The End of the Links Section-->