@{
    ViewData["Title"] = "Billing Process Automation - Streamline Invoicing |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Billing Process Automation - Streamline Invoicing">
    <meta name="description" content="Automate billing processes with an advanced solution. Simplify invoicing, reduce errors, and enhance efficiency for seamless payment tracking and management.">
    <meta name="keywords" content="billing automation, invoicing process, billing process automation, automate invoicing, payment tracking, invoice management, workflow automation, billing tools, Power Platform, business automation, payment processing, billing system, efficient invoicing, Microsoft automation, error-free billing">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
<main id="main">
    @* <section> *@
        <div class="container-fluid">
        <h1 class="text-center pt-5">
                Billing Process Automation
            </h1><hr />

            <!--For Slide-->
            @*<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="carousel-container">
            <img src="~/assets/img/portfolio/home1.jpg" class="img-fluid w-100 d-block img-thumbnail" /></div>
            <h4 class="animate__animated animate__fadeInDown animate__zoomIn text-center">Appointment and Medication Reminders</h4>
            </div>
            <div class="carousel-item">
            <div class="carousel-container">
            <img src="~/assets/img/portfolio/patient details.jpg" class="img-fluid w-100 d-block img-thumbnail" />
            </div>
            </div>
            <div class="carousel-item">
            <div class="carousel-container">
            <img class="d-block w-100" src="~/assets/img/portfolio/patient details.jpg" alt="Third slide">
            </div>
            </div>
            </div>
            </div>*@


            <div style="border:3px solid Black" class=" mt-4"><img src="~/images/portfolio/billing process automation/img1.jpg" alt="Billing Process Automation" class="img-fluid w-100 d-block img-thumbnail" /></div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row mt-2">
                <div class="col-lg-9 mt-3">
                <div class="container-fluid p-2" style="background-color:aliceblue">
                    <div class="container-fluid bg-white p-3 mt-4 mb-4">
                    <p class="mt-3">
                        Our <span class="fw-semibold">Billing Process Automation project</span> for WTW automated a legacy billing application using UiPath, significantly improving the billing process and financial operations.
                    </p>
                    <h6 class="mt-4">Key Features:</h6>
                    <ul class="mt-4 d-flex flex-column gap-3">
                                <li><span class="fw-semibold">Legacy Application Automation:</span> Automated the complex billing system, reducing manual intervention and errors while increasing overall accuracy.</li>
                                <li><span class="fw-semibold">UiPath Queue Integration:</span> Streamlined data flow and transaction handling through efficient queue management, optimizing the process.</li>
                                <li><span class="fw-semibold">Email Automation:</span> Automated email notifications kept stakeholders updated on transaction statuses, with attachments provided for successful or failed processes.</li>
                    </ul>
                    <h6 class="mt-4">Project Achievements:</h6>
                        <ul class="mt-4 d-flex flex-column gap-3">
                            <li>Reduced processing time and errors significantly.</li>
                            <li>Improved communication and operational efficiency through automated updates.</li>
                            <li>Successfully completed the project within 3 months, achieving all goals.</li>
                    </ul>
                            <div class="w-100 mt-4 bg-white">
                                <h5 class="text-center bg-white">Automation Framework</h5>
                            <img src="~/images/portfolio/billing process automation/img1.jpg" alt="Automation Framework" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                            </div>
                            <div class="w-100 mt-4 mb-4 bg-white">
                                <h5 class="text-center bg-white">Application Screenshot-1</h5>
                            <img src="~/images/portfolio/billing process automation/img2.png" alt="Application Screenshot-1" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                            </div>
                            <div class="w-100 mt-4 mb-4 bg-white">
                                <h5 class="text-center bg-white">Application Screenshot-2</h5>
                            <img src="~/images/portfolio/billing process automation/img3.png" alt="Application Screenshot-2" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                            </div>
                            <div class="w-100 mt-4 mb-4 bg-white">
                                <h5 class="text-center bg-white">Application Screenshot-3</h5>
                            <img src="~/images/portfolio/billing process automation/img4.png" alt="Application Screenshot-3" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                        </div>
                        <h6 class="mt-4">Benefit:</h6>
                        <p class="mt-3">
                            This project showcases the impact of Robotic Process Automation (RPA) in modernizing legacy systems. By automating the billing process, we enabled WTW to increase accuracy, reduce errors, and optimize time management, ultimately improving their financial operations and decision-making.
                        </p>
                    </div>
                </div>
                </div>
                <div class="col-lg-3 mt-3">
                    <div class="p-3" style="background-color:ghostwhite">
                        <h4 class="mt-3">Project information</h4><hr />
                        <h6 class="mt-3">Project Name: Billing Process Automation</h6>
                        <h6 class="mt-3">Client: WTW </h6>
                        <h6 class="mt-3">RPA Platform: UiPath</h6>
                        <h6 class="mt-3">Project Duration: May 2023 to August 2023</h6>
                        <h6 class="mt-3">
                            Information Technology:
                        </h6>
                        <ul>
                            <li>UiPath (RPA Platform)</li>
                            <li>UiPath Queue</li>
                            <li>Email Automation</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    @* </section> *@
</main>






<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<!--The End of the Links Section-->