<main id="main">
    <section>
        <div class="container-fluid">
            <h1 class="text-center">
                Student Management Application
            </h1><hr />

            <!--For Slide-->
            @*<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="carousel-container">
            <img src="~/assets/img/portfolio/home1.jpg" class="img-fluid w-100 d-block img-thumbnail" /></div>
            <h4 class="animate__animated animate__fadeInDown animate__zoomIn text-center">Appointment and Medication Reminders</h4>
            </div>
            <div class="carousel-item">
            <div class="carousel-container">
            <img src="~/assets/img/portfolio/patient details.jpg" class="img-fluid w-100 d-block img-thumbnail" />
            </div>
            </div>
            <div class="carousel-item">
            <div class="carousel-container">
            <img class="d-block w-100" src="~/assets/img/portfolio/patient details.jpg" alt="Third slide">
            </div>
            </div>
            </div>
            </div>*@


            <div style="border:3px solid Black" class=" mt-4"><img src="~/images/portfolio/student management application app/dashboard.jpg" alt="Student Management Application" class="img-fluid w-100 d-block img-thumbnail" /></div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row mt-5 mx-2">
                <div class="col-lg-9 p-3">
                    <h5 class="mt-3 p-3">
                        Introduction:
                    </h5>
                    <p class="mt-2 m-2 p-2 mb-4">
                        Welcome to Student Management App Portfolio. This project showcases the development of a comprehensive student management system that streamlines
                        various aspects of student information and management. The app is built using Microsoft Power Apps and leverages Dataverse for data storage. Here,
                        you'll find an overview of the app's key features and functionalities.
                    </p>
                    <div class="container-fluid p-2" style="background-color:aliceblue">
                        <center>
                            <div class="w-75 mt-4 p-3 bg-white">
                                <img src="~/images/portfolio/student management application app/dashboard.jpg" alt="Student Management System Dashboard" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                                <h5 class="text-center mt-2 bg-white">Student Management System Dashboard</h5>
                            </div>
                        </center>
                        <div class="container-fluid bg-white w-75">
                            <p class="pt-2">
                                This project showcases the development of a comprehensive dashboard that provides valuable insights into active students and their status within an educational institution. The dashboard is designed to enhance decision-making and improve overall student management. Below, you'll find an overview of the key features and functionalities of this dashboard.
                            </p>
                            <h6 class="pt-1"><b>Features and Functionalities:</b></h6>
                            <p class="h6">Active Student Overview</p>
                            <ul class="m-2">
                                <li>
                                    <b>Student Status:</b> The dashboard focuses on active students, providing a clear view of their enrollment status.
                                </li>
                                <li><b>Real-time Data:</b> The data displayed is updated in real-time, ensuring accuracy and timeliness.</li>
                            </ul>
                            <p class="h6">Allocation of Students</p>
                            <ul class="m-2">
                                <li>
                                    <b>Stacked Column Chart:</b> A graphical representation of the allocation of students in different projects.
                                </li>
                                <li><b>Visualize Allocation:</b> Easily identify the distribution of students across various projects.</li>
                            </ul>
                            <p class="h6">Student Status</p>
                            <ul class="m-2">
                                <li>
                                    <b>Pie Chart:</b> Presents a pie chart illustrating the status of students—whether they are still studying in school or have successfully graduated.
                                </li>
                                <li><b>At-a-Glance Information:</b> Instantly grasp the proportion of students in each category.</li>
                            </ul>
                            <p class="h6">Active Students by Programs</p>
                            <ul class="m-2">
                                <li>
                                    <b>Program Allocation Chart:</b> A chart displaying active students allocated to various educational programs.
                                </li>
                                <li><b>Program-wise Insights:</b> Quickly assess the popularity and distribution of students among different programs.</li>
                            </ul>
                            <h6 class="pt-2">
                                <b> Project Impact</b>
                            </h6>
                            <p>
                                This Student Management Dashboard significantly enhances the ability of educational institutions to monitor and manage active
                                students effectively. It provides a centralized view of student allocation to projects, their status, and participation in various educational programs.
                                Key impacts include:
                            </p>
                            <ul class="m-2">
                                <li>Improved decision-making through data-driven insights.</li>
                                <li>Enhanced transparency in student allocation and status tracking.</li>
                                <li>Efficient resource allocation based on program popularity.</li>
                            </ul>
                        </div>
                        <center>
                            <div class="w-75 mt-5 p-3 bg-white">
                                <img src="~/images/portfolio/student management application app/student.jpg" alt="Student Profile Management" class="img-fluid w-100 img-thumbnail rounded mx-auto d-block" />
                                <h5 class="text-center mt-2 bg-white">Student Profile Management</h5>
                            </div>
                        </center>
                        <div class="container-fluid bg-white w-75 mb-4">
                            <h6 class="pt-2">Features and Functionalities</h6>
                            <p class="h6">Student Profile Management</p>
                            <ul>
                                <li><b>Personal Details:</b> The app allows for the entry of essential personal details such as first name, last name, enrollment number, and more.</li>
                                <li><b>Automatic Full Name Population:</b> Full name is automatically populated when first name and last name are entered.</li>
                                <li><b>Status:</b> Tracks whether the student is active or not.</li>
                                <li><b>Family Background:</b> Captures family background information.</li>
                                <li><b>Enrollment Date:</b> Records the date of enrollment.</li>
                            </ul>
                            <p class="h6">Student Allocation to Projects</p>
                            <ul>
                                <li><b>Project Allocation Form:</b> Allocates students to specific projects, including project details, start dates, and end dates.</li>
                            </ul>
                            <p class="h6">Family Relation Management</p>
                            <ul>
                                <li><b>Family Relation Form:</b> Records details of family members and their relationships with the student.</li>
                            </ul>
                            <p class="h6">Daily Attendance Tracking</p>
                            <ul>
                                <li><b>Attendance by Date:</b> Allows for the daily tracking of student attendance by date.</li>
                            </ul>
                            <p class="h6">Assignment Grading</p>
                            <ul>
                                <li><b>Assignment Grading:</b> Enables the grading of student assignments based on their performance.</li>
                                <li><b>Grading Scale:</b> Implements a grading scale for consistency.</li>
                                <li><b>Performance Tracking:</b> Provides visualizations to track student performance over time.</li>
                            </ul>
                            <p class="h6">Medical Review</p>
                            <ul>
                                <li><b>Medical Review Form:</b> Records information about the medical condition of students.</li>
                                <li><b>Attachment Support:</b> Allows for the attachment of medical documents and reports.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="p-3" style="background-color:ghostwhite">
                    <h4 class="mt-3">Project information</h4><hr />
                    <h6 class="mt-3">Category: App design</h6>
                    @*<h6 class="mt-3">Client: ASU Company</h6>*@
                    <h6 class="mt-3">Project date: 21 August, 2022</h6>
                    <h6 class="mt-3">
                        Information Technology:
                    </h6>
                    <ul>
                        <li>Database-  Dataverse</li>
                        <li>Document- Sharepoint document liberary.</li>
                        <li>Automation- Power Automate</li>
                        <li>Data Visualization: Power BI Charts and Graphs.</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>






<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />



<!--The End of the Links Section-->