@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>About Us</h2>
                @*<ol>
                    <li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ol>*@
            </div>

        </div>
    </section><!-- End About Us Section -->
    <div class="container-fluid shadow p-5 mt-4">
        <h2 class="p-4">Leading Experts in Power Platform,<br> Dynamics 365, and RPA Consulting</h2>
        <a class="btn btn-primary btn-lg" role="button" asp-controller="ContactUs" asp-action="Index">Get Connect</a>
    </div>
    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="About us">
                </div>
                <div class="col-lg-6 pt-lg-0">
                    @* <h3 class="fst-italic mt-5">
                        Welcome to Voxtus, where innovation meets execution. Since our inception, we have been committed to delivering best-in-class technological solutions that drive growth, streamline operations, and foster innovation for businesses of all sizes.
                    </h3> *@
                    <p class="fst-italic display-6">We are a team of technology enthusiasts dedicated to driving digital transformation. We are more than just a tech company; we are a group of passionate innovators, committed to creating meaningful change.</p>
                    <hr />

                </div>
            </div>

            @* <div class="row">
                <div class="col-lg-6 mt-4">
                    <div>
                        <h5>Our Expertise</h5>
                        <p class="fst-italic">
                            At the core of our services lies an unwavering passion for technology. We specialize in a wide array of technologies to ensure that we can cater to the diverse needs of our clients. Our areas of expertise include:
                        </p>
                        <ul class="fst-italic">
                            <li>
                                <i class="bi bi-check2-circle"></i><b>Development & Frameworks:</b> Mastery in C#, ASP.NET, MVC, .NET Frameworks, and ADO.NET ensures that we build robust, scalable, and versatile applications tailored to your business requirements.
                            </li>
                            <li>
                                <i class="bi bi-check2-circle"></i> <b>Microsoft Suite Specialization:</b> Leveraging tools like Microsoft Power Apps, both Canvas and Model Driven Applications, we design intuitive applications that improve user experience and productivity. Additionally, our expertise in Microsoft Power Automate, SharePoint, and Dynamics 365 guarantees seamless integration and automation of your business processes.
                            </li>
                            <li><i class="bi bi-check2-circle"></i> We are dedicated to delivering high-quality products and services that are both reliable and affordable.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <ul class="fst-italic mt-3">
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Database Management:</b> Our SQL and MSSQL Server experts understand the importance of efficient data management, offering bespoke database solutions that optimize data storage, retrieval, and analysis.
                        </li>
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Cutting-Edge Tools:</b> Using industry-standard tools like Microsoft Visual Studio, Visual Studio Code, and Microsoft DataVerse(CDS), our team ensures that your projects benefit from the latest technological advancements.
                        </li>
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Data Solutions:</b> Our adeptness in SharePoint List and Microsoft DataVerse(CDS) enables us to provide holistic data solutions that enhance accessibility, security, and collaboration.
                        </li>
                    </ul>

                </div>
            </div> *@
            <div class="row container-fluid shadow p-5 mt-4">
                <div class="col-lg-6">
                    <p class="fst-italic p-4 display-6">Our story is one of determination and adaptability. Founded by forward-thinkers who saw technology's potential to reshape industries, Voxtus has evolved into a hub of creativity and expertise.</p>
                </div>
                <div class="col-lg-6"><img src="~/assets/img/blog/blog-recent-4.jpg"class="h-100 w-100" /></div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======Our Fundamental Values========== -->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Fundamental Values</h2>
            </div>
            <div class="container-fluid shadow-lg">
            <div class="row p-4">
                <div class="col-lg-2"><img src="~/images/services/RPA/Optimization.svg" class="h-100 w-100 mx-auto d-block" /></div>
                <div class="col-lg-4 shadow p-4">
                    <p>
                        <b>
                            Innovation:
                        </b>
                    </p>
                    <p>
                        We thrive on exploring new frontiers, finding fresh solutions to complex challenges.
                    </p>
                </div>
                <div class="col-lg-2 mt-4">
                    <img src="~/images/services/dynamics365/DevelopmentandIntegration.svg" class="h-100 w-100 mx-auto d-block" />
                </div>
                <div class="col-lg-4 shadow p-4">
                    <p>
                        <b>
                            Passion:
                        </b>
                    </p>
                    <p>
                        Our love for technology fuels our work, and we approach every project with genuine enthusiasm.
                    </p>

                </div>
            </div>
            <div class="row p-4">
                <div class="col-lg-2"><img src="~/images/services/RPA/Connectors.svg" class="h-100 w-100 mx-auto d-block" /></div>
                <div class="col-lg-4 shadow p-4">
                    <p>
                        <b>
                            Collaboration:
                        </b>
                    </p>
                    <p>
                        We see our clients as partners, aligning our efforts with your goals for mutual success.
                    </p>
                </div>
                <div class="col-lg-2 mt-4">
                    <img src="~/images/services/RPA/Consultation.svg" class="h-100 w-100 mx-auto d-block" />
                </div>
                <div class="col-lg-4 shadow p-4">
                    <p>
                        <b>
                            Continuous Learning:
                        </b>
                    </p>
                    <p>
                        Technology is ever-evolving, and so are we. We stay at the forefront of industry trends.
                    </p>

                </div>
                </div>
                </div>
            </div>
            </section>
    <!-- ======End Our Fundamental Values =======-->
    <!-- ======Our Digital Playgrounds =======-->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Digital Playgrounds</h2>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="shadow p-4">
                            <div class="text-center"><a asp-controller="Services" asp-action="PowerPlatformDevelopment"><img src="~/images/services/powerappsicon.png" alt="Power Apps Services" height="50" width="60" /></a></div>
                            <h6 class="mt-2"><a asp-controller="Services" asp-action="PowerPlatformDevelopment">Power Platform Solutions</a></h6>
                            <p>
                                Leveraging the Power Platform to streamline processes, automate tasks, and create tailored applications.
                            </p>
                            </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="shadow p-4">
                            <div class="text-center"><a asp-controller="Services" asp-action="Dynamics365Development"><img src="~/images/dynamics-365-logo-trans (1).png" alt="Dynamics 365 Development Services" height="50" width="80" /></a></div>
                            <h6 class="mt-2"><a asp-controller="Services" asp-action="Dynamics365Development">Dynamics 365 Integration</a></h6>
                            <p>Seamlessly integrating Dynamics 365 solutions to optimize your operations.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="shadow p-4">
                            <div class="text-center"><a asp-controller="Services" asp-action="DOTNETDevelopment"><img src="~/images/dotneticon.png" alt=".NET Development Services" height="50" width="60" /></a></div>
                            <h6 class="mt-2"><a asp-controller="Services" asp-action="DOTNETDevelopment">.NET Development Services</a></h6>
                            <p>Building scalable and reliable software solutions that align with your objectives.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="shadow p-4">
                            <div class="text-center"><a asp-controller="Services" asp-action="RPADevelopment"><img src="~/images/rpaicon.svg" height="50" width="60" /></a></div>
                            <h6 class="mt-2"><a asp-controller="Services" asp-action="RPADevelopment">Robotic Process Automation (RPA)</a></h6>
                            <p>Enhancing productivity and precision by automating repetitive tasks.</p>
                        </div>
                    </div>



                </div>

            </div>
            </div>
            </section>
    <!-- ======= End Our Digital Playgrounds======= -->
    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1432" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->
    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Skills</h2>
                <p>Whatever your business needs may be, we have the skills and expertise to help you achieve your goals. Contact us today to learn more about how we can support your success.</p>
            </div>

            <div class="skills-content">

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="background-color:#198754">
                        <span class="skill">Microsoft Power Platform <i class="val">100%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="background-color:#25ba75">
                        <span class="skill">RPA (UI Path And Power Automate) <i class="val">95%</i></span>
                    </div>
                </div>
                 <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color:#28c97f">
                        <span class="skill">Web Developement<i class="val">90%</i></span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="background-color:#32f098">
                        <span class="skill">Dynamics 365<i class="val">85%</i></span>
                    </div>
                </div>
                @*<div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Custom Web Developement<i class="val">75%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Photoshop <i class="val">55%</i></span>
                    </div>
                </div>*@

            </div>

        </div>
    </section><!-- End Our Skills Section -->
    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Tetstimonials</h2>
                <p>Whatever your business needs may be, we have the skills and expertise to help you achieve your goals. Contact us today to learn more about how we can support your success.</p>
            </div>

            <div class="testimonials-carousel swiper">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Person.jpg" class="testimonial-img" alt="">
                        <h3>Shri Niwas</h3>
                        @* <h4>Ceo &amp; Founder</h4> *@
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Excellent services by vijendra and Voxtus team. Vijendra is very quick in finding solutions and open minded. Very prompt in responding to communication."<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Person.jpg" class="testimonial-img" alt="">
                        <h3>Muhammad Ali</h3>
                        <h4>Developer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Wonderful Exxperience. The voxtus team are very down to earth and Responsive. Went through everything in detail. Highly satisfied and recommended. More power to voxtus"<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Person.jpg" class="testimonial-img" alt="">
                        <h3>Arth Patel</h3>
                        <h4>Manager at Integra LifeSciences</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Great team and their skills are really helpfull"<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Person.jpg" class="testimonial-img" alt="">
                        <h3>Mhaque</h3>
                        <h4>Developer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "One of the best services regarding powerapps, will work together again."<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    @* <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "We were struggling to generate leads for our business until we started working with this company. Their marketing and SEO expertise has helped us increase traffic to our website and generate more leads than ever before. We are so grateful for their help and would recommend them to anyone looking to grow their business."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div> *@
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Ttstimonials Section -->

</main>