@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>About Us</h2>
                @*<ol>
                    <li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ol>*@
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                        <img src="assets/img/about.jpg" class="img-fluid" alt="About us">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 mt-5">
                    <h3 class="fst-italic mt-5">
                        Welcome to Voxtus, where innovation meets execution. Since our inception, we have been committed to delivering best-in-class technological solutions that drive growth, streamline operations, and foster innovation for businesses of all sizes.
                    </h3>
                    <hr />

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 mt-4">
                    <div>
                        <h5>Our Expertise</h5>
                        <p class="fst-italic">
                            At the core of our services lies an unwavering passion for technology. We specialize in a wide array of technologies to ensure that we can cater to the diverse needs of our clients. Our areas of expertise include:
                        </p>
                        <ul class="fst-italic">
                            <li>
                                <i class="bi bi-check2-circle"></i><b>Development & Frameworks:</b> Mastery in C#, ASP.NET, MVC, .NET Frameworks, and ADO.NET ensures that we build robust, scalable, and versatile applications tailored to your business requirements.
                            </li>
                            <li>
                                <i class="bi bi-check2-circle"></i> <b>Microsoft Suite Specialization:</b> Leveraging tools like Microsoft Power Apps, both Canvas and Model Driven Applications, we design intuitive applications that improve user experience and productivity. Additionally, our expertise in Microsoft Power Automate, SharePoint, and Dynamics 365 guarantees seamless integration and automation of your business processes.
                            </li>
                            @*<li><i class="bi bi-check2-circle"></i> We are dedicated to delivering high-quality products and services that are both reliable and affordable.</li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <ul class="fst-italic mt-3">
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Database Management:</b> Our SQL and MSSQL Server experts understand the importance of efficient data management, offering bespoke database solutions that optimize data storage, retrieval, and analysis.
                        </li>
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Cutting-Edge Tools:</b> Using industry-standard tools like Microsoft Visual Studio, Visual Studio Code, and Microsoft DataVerse(CDS), our team ensures that your projects benefit from the latest technological advancements.
                        </li>
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Data Solutions:</b> Our adeptness in SharePoint List and Microsoft DataVerse(CDS) enables us to provide holistic data solutions that enhance accessibility, security, and collaboration.
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1432" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->
    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Skills</h2>
                <p>Whatever your business needs may be, we have the skills and expertise to help you achieve your goals. Contact us today to learn more about how we can support your success.</p>
            </div>

            <div class="skills-content">

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Dynamics 365 and Power Platform <i class="val">100%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">RPA (UI Path And Power Automate) <i class="val">90%</i></span>
                    </div>
                </div>
                 <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Web Developement<i class="val">90%</i></span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Windows App Developement<i class="val">90%</i></span>
                    </div>
                </div>
                @*<div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Custom Web Developement<i class="val">75%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Photoshop <i class="val">55%</i></span>
                    </div>
                </div>*@

            </div>

        </div>
    </section><!-- End Our Skills Section -->
    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Tetstimonials</h2>
                <p>Whatever your business needs may be, we have the skills and expertise to help you achieve your goals. Contact us today to learn more about how we can support your success.</p>
            </div>

            <div class="testimonials-carousel swiper">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "I've worked with this company for years and have always been impressed with their level of expertise and customer service. They go above and beyond to ensure that their clients are happy and satisfied with their work. I highly recommend them to anyone looking for top-notch products and services."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Working with this company has been an absolute pleasure. Their team is knowledgeable, responsive, and always willing to go the extra mile to ensure that our needs are met. I'm so glad we found them and look forward to continuing our partnership for years to come."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "I was blown away by the quality of work produced by this company. Their attention to detail and creativity is unmatched, and they truly listened to our needs and delivered a product that exceeded our expectations. I would highly recommend them to anyone in need of design or development services."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "The team at this company is simply amazing. They are professional, friendly, and incredibly talented at what they do. We have worked with them on multiple projects and have always been impressed with their ability to deliver exceptional results on time and within budget. I can't recommend them enough!"
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "We were struggling to generate leads for our business until we started working with this company. Their marketing and SEO expertise has helped us increase traffic to our website and generate more leads than ever before. We are so grateful for their help and would recommend them to anyone looking to grow their business."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Ttstimonials Section -->

</main>