@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "About Us |";
}
<!-- ======= Meta Desctiption ======= -->

<meta name="title" content="About Voxtus">
<meta name="description" content="Leading Experts in Power Platform, Dynamics 365, and RPA Consulting services">
<meta name="keywords" content=" About Voxtus, Microsoft Power Platform Services, Power Apps Development,  RPA, Dynamics 365, Power Automate ,Voxtus">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>About Us</h2>
                @*<ol>
                    <li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ol>*@
            </div>

        </div>
    </section><!-- End About Us Section -->
    <section>
        <div class="container-fluid">
            <div class="row d-flex flex-lg-row flex-column justify-content-center align-items-center shadow text-dark p-lg-3 p-5" style="background-color:#779ae0">
                <div class="col-lg-6">
                    <h2 class="display-6 mx-auto"><b>Leading Experts in Power Platform, Dynamics 365, and RPA Consulting</b></h2>
            <a class="btn btn-primary btn-lg" role="button" asp-controller="ContactUs" asp-action="Index">Let's Talk</a>
        </div>
        <div class="col-lg-6"><img src="~/assets/img/About_New.webp" alt="About-top-banner" class="img-fluid mx-auto" /></div>
    </div>
    </div>
    </section>
    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class="row d-flex flex-lg-row flex-column justify-content-center align-items-center">
                <div class="col-lg-6">
                        <img src="assets/img/About_1.webp" class="img-fluid" alt="About us">
                </div>
                <div class="col-lg-6 pt-lg-0 shadow-lg rounded-5">
                    @* <h3 class="fst-italic mt-5">
                        Welcome to Voxtus, where innovation meets execution. Since our inception, we have been committed to delivering best-in-class technological solutions that drive growth, streamline operations, and foster innovation for businesses of all sizes.
                    </h3> *@
                    <h1 class="h4 mx-4 p-4 text-center">We are a team of technology enthusiasts dedicated to driving digital transformation. We are more than just a tech company; we are a group of passionate innovators, committed to creating meaningful change.</h1>
                </div>
            </div>

            @* <div class="row">
                <div class="col-lg-6 mt-4">
                    <div>
                        <h5>Our Expertise</h5>
                        <p class="fst-italic">
                            At the core of our services lies an unwavering passion for technology. We specialize in a wide array of technologies to ensure that we can cater to the diverse needs of our clients. Our areas of expertise include:
                        </p>
                        <ul class="fst-italic">
                            <li>
                                <i class="bi bi-check2-circle"></i><b>Development & Frameworks:</b> Mastery in C#, ASP.NET, MVC, .NET Frameworks, and ADO.NET ensures that we build robust, scalable, and versatile applications tailored to your business requirements.
                            </li>
                            <li>
                                <i class="bi bi-check2-circle"></i> <b>Microsoft Suite Specialization:</b> Leveraging tools like Microsoft Power Apps, both Canvas and Model Driven Applications, we design intuitive applications that improve user experience and productivity. Additionally, our expertise in Microsoft Power Automate, SharePoint, and Dynamics 365 guarantees seamless integration and automation of your business processes.
                            </li>
                            <li><i class="bi bi-check2-circle"></i> We are dedicated to delivering high-quality products and services that are both reliable and affordable.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <ul class="fst-italic mt-3">
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Database Management:</b> Our SQL and MSSQL Server experts understand the importance of efficient data management, offering bespoke database solutions that optimize data storage, retrieval, and analysis.
                        </li>
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Cutting-Edge Tools:</b> Using industry-standard tools like Microsoft Visual Studio, Visual Studio Code, and Microsoft DataVerse(CDS), our team ensures that your projects benefit from the latest technological advancements.
                        </li>
                        <li>
                            <i class="bi bi-check2-circle"></i> <b>Data Solutions:</b> Our adeptness in SharePoint List and Microsoft DataVerse(CDS) enables us to provide holistic data solutions that enhance accessibility, security, and collaboration.
                        </li>
                    </ul>

                </div>
            </div> *@
            <div class="row flex-column-reverse d-flex flex-lg-row flex-column justify-content-center align-items-center container-fluid">
                <div class="col-lg-6 pt-lg-0 shadow-lg rounded-5">
                    <h1 class="h4 mx-4 p-4 text-center">
                        We've grown through determination and adaptability. Founded by individuals who recognized technology's ability to transform businesses. From challenges to growth, we're here to shape the future with technology.
                    </h1>
                </div>
                <div class="col-lg-6"><img src="~/assets/img/About_2.webp" alt="About us" class="img-fluid" /></div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======Our Fundamental Values========== -->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Fundamental Values</h2>
            </div>
            <div class="container-fluid shadow-lg">
            <div class="row p-4">
                <div class="col-lg-2"><img src="~/images/services/RPA/Optimization.svg" alt="Innovation" class="h-100 w-100 mx-auto d-block" /></div>
                    <div class="col-lg-4 shadow p-4 btn btn-light">
                    <p>
                        <b>
                            Innovation:
                        </b>
                    </p>
                    <p>
                        We thrive on exploring new frontiers, finding fresh solutions to complex challenges.
                    </p>
                </div>
                <div class="col-lg-2 mt-4">
                    <img src="~/images/services/dynamics365/DevelopmentandIntegration.svg" alt="passion" class="h-100 w-100 mx-auto d-block" />
                </div>
                    <div class="col-lg-4 shadow p-4 btn btn-light">
                    <p>
                        <b>
                            Passion:
                        </b>
                    </p>
                    <p>
                        Our love for technology fuels our work, and we approach every project with genuine enthusiasm.
                    </p>

                </div>
            </div>
            <div class="row p-4">
                <div class="col-lg-2"><img src="~/images/services/RPA/Connectors.svg" alt="Collabration" class="h-100 w-100 mx-auto d-block" /></div>
                    <div class="col-lg-4 shadow p-4 btn btn-light">
                    <p>
                        <b>
                            Collaboration:
                        </b>
                    </p>
                    <p>
                        We see our clients as partners, aligning our efforts with your goals for mutual success.
                    </p>
                </div>
                <div class="col-lg-2 mt-4">
                    <img src="~/images/services/RPA/Consultation.svg" alt="ContinuousLearning" class="h-100 w-100 mx-auto d-block" />
                </div>
                    <div class="col-lg-4 shadow p-4 btn btn-light">
                    <p>
                        <b>
                            Continuous Learning:
                        </b>
                    </p>
                    <p>
                        Technology is ever-evolving, and so are we. We stay at the forefront of industry trends.
                    </p>

                </div>
                </div>
                </div>
            </div>
            </section>
    <!-- ======End Our Fundamental Values =======-->
    <!-- ======Our Digital Playgrounds =======-->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Digital Playgrounds</h2>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up">
                        <a asp-controller="Services" asp-action="PowerPlatformDevelopment">
                            <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/services/powerappsicon.png" alt="Power Apps Services" height="50" width="60" /></div>
                            <h6 class="mt-5">Power Platform Solutions</h6>
                                    <p class="text-black">
                                Leveraging the Power Platform to streamline processes, automate tasks, and create tailored applications.
                                    </p>
                            </div>
                            </a>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                        <a asp-controller="Services" asp-action="Dynamics365Development">
                            <div class="shadow p-4 btn btn-light h-100">
                                <div class="text-center"><img src="~/images/Dynamics365-logo.webp" alt="Dynamics 365 Development Services" height="50" width="80" /></div>
                            <h6 class="mt-5">Dynamics 365 Integration</h6>
                            <p>Seamlessly integrating Dynamics 365 solutions to optimize your operations.</p>
                        </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
                        <a asp-controller="Services" asp-action="DOTNETDevelopment">
                            <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/dotneticon.png" alt=".NET Development Services" height="50" width="60" /></div>
                            <h6 class="mt-5">.NET Development Services</h6>
                            <p>Building scalable and reliable software solutions that align with your objectives.</p>
                        </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                        <a asp-controller="Services" asp-action="RPADevelopment">
                            <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/rpaicon1.svg" alt="RPA" height="50" width="60" /></div>
                            <h6 class="mt-5">Robotic Process Automation (RPA)</h6>
                            <p>Enhancing productivity and precision by automating repetitive tasks.</p>
                        </div>
                        </a>
                    </div>



                </div>

            </div>
            </div>
            </section>
    <!-- ======= End Our Digital Playgrounds======= -->
    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Projects</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1432" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->
    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Skills</h2>
                <p>Whatever your business needs may be, we have the skills and expertise to help you achieve your goals. Contact us today to learn more about how we can support your success.</p>
            </div>

            <div class="skills-content">

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="background-color:#198754">
                        <span class="skill">Microsoft Power Platform <i class="val">100%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="background-color:#25ba75">
                        <span class="skill">RPA (UI Path And Power Automate) <i class="val">95%</i></span>
                    </div>
                </div>
                 <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="background-color:#28c97f">
                        <span class="skill">Web Developement<i class="val">90%</i></span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="background-color:#32f098">
                        <span class="skill">Dynamics 365<i class="val">85%</i></span>
                    </div>
                </div>
                @*<div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Custom Web Developement<i class="val">75%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <span class="skill">Photoshop <i class="val">55%</i></span>
                    </div>
                </div>*@

            </div>

        </div>
    </section><!-- End Our Skills Section -->
    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Tetstimonials</h2>
                <p>Whatever your business needs may be, we have the skills and expertise to help you achieve your goals. Contact us today to learn more about how we can support your success.</p>
            </div>

            <div class="testimonials-carousel swiper">
                <div class="swiper-wrapper">
                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Person.jpg" class="testimonial-img" alt="testimonials1">
                        <h3>Shri Niwas</h3>
                        @* <h4>Ceo &amp; Founder</h4> *@
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Excellent services by Voxtus team. They are very quick in finding solutions and open minded. Very prompt in responding to communication."<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Victor.jpg" class="testimonial-img" alt="">
                        <h3>Victor</h3>
                        @* <h4>Entrepreneur</h4> *@
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Think about your project, think about the things you´ve imagined doing with it. Now think about the difficulty to translate that feeling of excitment into words for people to capture your vison and begin to assist you on turning your dream into reality. Voxtus team is that wizard that "makes dreams come true" they are smart. toughtful. kind and go the extra mile to help you, they are possibly the best contractor ive worked with my entire life. They are one of a kind, be sure that whatever price he is asking you, he deserves triple that for the work and knowledge he puts into making your dream come true."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="~/assets/img/testimonials/daniel haselden.png" class="testimonial-img" alt="">
                        <h3>Daniel Haselden</h3>
                        <h4>Corporate Tooling Quality Engineer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "It was an absolute pleasure working with Voxtus on the development of our mobile app. From the initial consultation to the final delivery, their team demonstrated exceptional professionalism and expertise. They took the time to understand our requirements and translated them into a user-friendly and visually appealing app that exceeded our expectations. The project was completed on time and within budget, thanks to their efficient project management and communication. Their post-launch support and willingness to go the extra mile have been invaluable. I highly recommend Voxtus to anyone looking for top-notch app development services."
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Person.jpg" class="testimonial-img" alt="testimonials2">
                        <h3>Muhammad Ali</h3>
                        <h4>Developer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Wonderful Exxperience. The voxtus team is very down to earth and Responsive. Went through everything in detail. Highly satisfied and recommended. More power to voxtus"<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Person.jpg" class="testimonial-img" alt="testimonials3">
                        <h3>Arth Patel</h3>
                        <h4>Manager at Integra LifeSciences</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "Great team and their skills are really helpfull"<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item swiper-slide">
                        <img src="assets/img/testimonials/Person.jpg" class="testimonial-img" alt="testimonials4">
                        <h3>Mhaque</h3>
                        <h4>Developer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            "One of the best services regarding powerapps, will work together again."<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Ttstimonials Section -->
    <!--Team members-->
   <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
                <div class="container">
                    <div class="section-title">
                        <h2>Team</h2>
                    </div>

                    <div class="row">

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                        <div class="member-img">
                            <img src="~/assets/img/team/sonalirawat.jpeg" class="img-fluid" alt="Team Member" style="height:350px; width:100%">
                                    <div class="social">
                                        <@* a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a> *@
                                <a href="https://www.linkedin.com/in/sonali-rawat-voxtus/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Sonali Rawat</h4>
                                    <span>Director</span>
                                    <p>Sonali, our Director, has over 4 years of experience in IT Industry. She is PowerPlaform (Canvas, Model Driven Application, Power BI) Expert, making them a valuable asset to our team</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <div class="member-img">
                            <img src="assets/img/team/Abhishek.jpeg" class="img-fluid" alt="Team Member" style="height:350px; width:100%">
                                    <div class="social">
                                        @*  <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a> *@
                                        <a href="https://www.linkedin.com/in/abhishek-kumar-82493b26a" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Abhishek Kumar</h4>
                                    <span>Office 365 & Power Platform Developer</span>
                                    <p>Abhishek, Office 365 & Power Platform Developer, has experience in Microsoft's Dynamics And Power Platform. They are an expert in Power Apps, Power BI, Dynamics 365 and have worked on Multipule Office 365 Projects.</p>
                                </div>
                            </div>
                        </div>

                        @* <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <div class="member-img">
                            <img src="assets/img/team/Sumit1.jpeg" class="img-fluid" alt="Team Member" style="height:350px; width:100%">
                                    <div class="social">
                                        @* <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/sumiit-joshii/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Sumit Joshi</h4>
                                    <span>RPA Developer (UI Path and Power Automate)</span>
                                    <p>Sumit, RPA Developer, has experience in UI Path and Microsoft's Power Automate Desktop and Web. They are an expert in RPA and have worked on Multipule RPA Projects.</p>
                                </div>
                            </div>
                        </div> *@

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <div class="member-img">
                            <img src="assets/img/team/Shivani.jpeg" class="img-fluid" alt="Team Member" style="height:350px; width:100%">
                                    <div class="social">
                                        @* <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href="" ><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a> *@
                                <a href="https://www.linkedin.com/in/shivani-gusain-8a97b6241/" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Shivani Gusain</h4>
                                    <span>Dot NET Developer (Web and Desktop)</span>
                                    <p>Shivani,.NET Developer, has experience in Developing Web and Desktop application. Expert in Web development and have worked on Multipule Projects.</p>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </section><!-- End Team Section -->
    
    <div class="row d-flex justify-content-center align-items-center p-lg-4 p-2 ps-2 pe-2" style="background-color:#5b87de">
       
        <div class="col-4 d-flex justify-content-center gap-1">
            <div class=" border border-3" style="height:250px;width:12px;background-color:#DEE2E6"></div>
            <p class="fs-2 fw-bold text-black text-start">Grow Your <br /><b class="text-light">Business</b><br /> With Us</p>
            <div class=" border border-3" style="height:150px;width:12px;background-color:#DEE2E6"></div>
        </div>
        <div class="col-4 d-flex justify-content-center align-bottom pt-2 mt-5 ps-lg-3 pe-lg-3" style="border-top-right-radius: 180px; border-top-left-radius:180px;background-color:#F07B21; text-align:center">
            <p class="fs-4 fw-bold text-white p-3">Book Your Free Consultation</p>
        </div>
        <div class="col-4 d-flex flex-column justify-content-center align-items-center gap-2">
            <div style="border:7px solid #F07B21;background-color:#196DDC; border-bottom:none;">
                <img src="~/images/services/end-to-end support.png" class="img-fluid" width="120px" />
                </div>
                <div>
                <a asp-controller="ContactUs" asp-action="Index" class="btn btn-sm btn-primary">Contact us</a>
            </div>
        </div>
    </div>

</main>