@{
    ViewData["Title"] = "Access Power Automate: Web, Mobile, and Desktop Guide |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Access Power Automate: Web, Mobile, and Desktop Guide">
    <meta name="description" content="Learn how to access Power Automate on web, mobile, and desktop platforms. Discover the features and benefits of automating workflows across devices efficiently.">
    <meta name="keywords" content="Access Power Automate, Power Automate web, Power Automate mobile, Power Automate desktop, workflow automation, Power Automate guide, Power Automate platforms, automate workflows, Microsoft Power Automate, Power Automate tutorial, Power Automate access, automation tools, Power Automate features, cross-platform automation, Power Automate tips.">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PATutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2 mt-3">Accessing Power Automate <span class="fs-6">(Web, Mobile, Desktop)</span></h1>
        <p class="mt-4">
            Availability on the web, as a desktop application, and on mobile devices.<br />
            Power Automate is accessible through various platforms:
        </p>
        <ul>
            <li><span class="fw-semibold">Web:</span> You can use Power Automate through your web browser by logging into the Power Automate portal (make.powerautomate.com).</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/pa- web.png" alt="Accessing Power Automate" class="img-fluid" /></div>
        <ul>
            <li><span class="fw-semibold">Desktop:</span> There's also a desktop version of Power Automate that allows Power Automate Desktop to automate repetitive tasks on local computers and virtual machines using UI Automation.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA- Desktop.png" alt="Accessing Power Automate" class="img-fluid" /></div>
        <ul>
            <li><span class="fw-semibold">Mobile:</span> For users on the go, the Power Automate mobile app is available, enabling you to manage and monitor your flows from your smartphone or tablet.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/pa- mobile.jpeg" alt="Accessing Power Automate" class="img-fluid" /></div>
        <div class="d-flex justify-content-around pb-3">
            <a asp-controller="PATutorial" asp-action="KeyConceptsandTerminology" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

            <a asp-controller="PATutorial" asp-action="Connectors" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
