@{
    ViewData["Title"] = "Understanding Actions in Power Apps: A Complete Guide |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Understanding Actions in Power Apps: A Complete Guide">
    <meta name="description" content="Learn what Actions are in Power Apps, how they work, and their role in creating dynamic and functional applications. Discover tips to optimize their use.">
    <meta name="keywords" content="Actions in Power Apps, Power Apps actions, Power Apps guide, actions tutorial, Power Apps functions, dynamic apps Power Apps, create actions Power Apps, Power Apps development, Power Apps tips, optimize Power Apps, Power Apps functionality, Power Apps features, app building Power Apps, Power Apps tools, app actions guide.">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PATutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2 mt-3">Actions</h1>
        <h4 class="mt-4">What are Actions?</h4>
        <p>Actions are the tasks and steps performed within your workflows in Power Automate. They are the operations that occur in response to a trigger and enable you to automate specific actions or decisions.</p>       
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-3.png" alt="Actions" class="img-fluid" /></div>
        <h4>Types of Actions:</h4>
        <ul>
            <li><span class="fw-semibold h5">Basic Actions:</span> These are fundamental actions like sending an email, creating a task, updating a spreadsheet, or generating a notification.</li>
            <li class="list-unstyled mt-3 h6">Example of Basic Action:</li>
            <li class="list-unstyled">
                <ul>
                    <li>Send an Email (Outlook)</li>
                    <li>Create a Task (Planner)</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><span class="fw-semibold h5">Advanced Actions:</span> These may involve complex data transformations, conditionals, loops, or interactions with multiple services in a single action.<br />(Will learn more about <span class="fw-bold">Advanced Actions</span> in upcoming sections) </li>
            <li class="list-unstyled mt-3 h6">Example of Advanced Action:</li>
            <li class="list-unstyled">
                <ul>
                    <li>Apply to Each (Loop)</li>
                    <li>Compose (Data Operation)</li>
                </ul>
            </li>
        </ul>
        <h4 class="mt-4">Key Points about Actions:</h4>
        <ol class="d-flex flex-column pb-3 justify-content-center gap-2 mb-4">
            <li>Actions are the core of your workflow and dictate what happens after the trigger condition is met.</li>
            <li>They can be connected in a sequence to create a series of operations that accomplish a specific task or process.</li>
            <li>Actions can use dynamic content from the trigger or previous actions to make workflows dynamic and data-driven.</li>
        </ol>
        <div class="d-flex justify-content-around pb-3">
            <a asp-controller="PATutorial" asp-action="Triggers" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

            <a asp-controller="PATutorial" asp-action="AutomatedTriggerFlows" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>