@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PATutorialLayout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2 mt-3">Creating a Basic Flow using template</h1>
        <p class="mt-4">Step-by-step process to create a flow with a template.</p>
        <p class="h5">Step 1: Access Flow Templates.</p>
        <p>To access flow templates, log into Power Automate, and navigate to the <span class="fw-bold">"My Flows"</span> or a similar section where you can create a new flow.</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-4.png" alt="Creating a Basic Flow using template" class="img-fluid" /></div>
        <p class="h5">Step 2: Browse Template Library.</p>
        <p>Choose a Template (In this example we’ll be using template for Schedule a Teams Reply.)</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-5.png" alt="Creating a Basic Flow using template" class="img-fluid" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-6.png" alt="Creating a Basic Flow using template" class="img-fluid" /></div>
        <p class="h5">Step 4: Customize the Template if needed.</p>
        <p>After selecting a template, you can customize it to meet your specific needs. This may involve configuring triggers, specifying data sources, and adding recipient details.</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-7.png" alt="Creating a Basic Flow using template" class="img-fluid" /></div>
        <p class="h5">Step 5: Test the Flow.</p>
        <p>Before finalizing your flow, it's recommended to run a test using sample data. This ensures that the template, once customized, works as expected.</p>
        <p class="mt-4 fw-semibold">For triggering this <span class="fw-bold">“Schedule a reply”</span> we’ll have to we’ll head to the teams and perform the following steps as demonstrated in below image.</p>
        <ul>
            <li>You can select any message from your teams for which you want to schedule a reply.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-8.png" alt="Creating a Basic Flow using template" class="img-fluid" /></div>
        <ul>
            <li>You’ll get a popup to set date, time and message. </li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-9.png" alt="Creating a Basic Flow using template" class="img-fluid" /></div>
        <ul class="mb-4">
            <li>After submitting this, flow will get triggered on provided Date & time and message will get delivered on teams. </li>
        </ul>
        <div class="d-flex justify-content-around pb-3">
            <a asp-controller="PATutorial" asp-action="ScheduledTriggerFlows" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

            <a asp-controller="PATutorial" asp-action="ExpressionsandVariables" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>