@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PATutorialLayout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2 mt-3">Using Conditions and Switches</h1>
        <p class="mt-4 fs-5 text-center">Implement conditional logic in your flows.</p>
        <h4>Understanding Conditions</h4>
        <p>Conditions are like the traffic signals in your flow - they tell it when to go left and when to go right based on certain conditions.</p>
        <h6>How to Set Up Conditions using practical example:</h6>
        <p><span class="fw-semibold">Scenario:</span> You want to send an email notification only if the temperature is above and below from a certain threshold.</p>
        <h5>Step 1: Add a Condition</h5>
        <ul>
            <li>After adding the trigger, click on the "<i class="bi bi-plus-lg"></i>" symbol to add an action.</li>
            <li>In the search bar, type <span class="fw-bold">"Condition"</span> and select the <span class="fw-bold">"Control - Condition"</span> action. </li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-38.png" alt="Using Conditions and Switches" class="img-fluid" /></div>
        <h5>Step 2: Define the Condition</h5>
        <ul>
            <li>The condition box appears. Click on <span class="fw-bold">"Choose a value"</span> to define the condition.</li>
            <li>In the dynamic content panel, select the field you want to check. For our scenario, it's the temperature high and low
Choose the operator. In this case, select <span class="fw-bold">"is greater than"</span> for temperature high and <span class="fw-bold">"is less than"</span> for temperature low.</li>
            <li>Set the value. Enter 30 since we want to check if the temperature high is above 30 and temperature low is below 5.</li>
        </ul>
        <h5>Step 3: Configure Actions for True and False</h5>
        <ul>
            <li>Based on whether the condition is true or false, add the corresponding actions.</li>
            <li>Click on <span class="fw-bold">"Add an action"</span> inside the <span class="fw-bold">"If yes"</span> box for true conditions.</li>
            <li>Search for and add the action you want, like sending an email.</li>
            <li>Repeat the process for the <span class="fw-bold">"If no"</span> box for false conditions.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-39.png" alt="Using Conditions and Switches" class="img-fluid" /></div>
        <h4 class="mt-4">Understanding Switches</h4>
        <p>Switches take decision-making up a notch. They're like flowcharts for your flow, letting it choose from different paths based on various conditions.</p>
        <h6>How to Implement Switches using real world example: </h6>
        <p><span class="fw-semibold">Scenario:</span> You want to send different reminders based on the day of the week.</p>
        <h5>Step 1: Choose a Trigger</h5>
        <ul>
            <li>Select a trigger. For this example, choose a trigger related to time, like <span class="fw-bold">"Recurrence"</span>, and set it to run daily.</li>
        </ul>
        <h5>Step 2: Add a Switch</h5>
        <ul>
            <li>After adding the trigger, click on the "<i class="bi bi-plus-lg"></i>" symbol to add an action. In the search bar, type <span class="fw-bold">"Switch"</span> and select the <span class="fw-bold">"Control - Switch"</span> action.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-40.png" alt="Using Conditions and Switches" class="img-fluid" /></div>
        <h5>Step 3: Define the Switch Expression</h5>
        <ul>
            <li>The switch box appears. Click on <span class="fw-bold">"Choose a value"</span> to define the switch expression.</li>
            <li>Use the expression builder to select the current day of the week, for example, <span class="fw-bold">formatDateTime(utcNow(), 'dddd')</span>.</li>
        </ul>
        <h5>Step 4: Configure Cases</h5>
        <ul>
            <li>Add different cases based on the possible values of the current day of the week.<ul><li>For example, create cases for <span class="fw-bold">"Monday"</span> and <span class="fw-bold">"Tuesday”</span>.</li></ul></li>
        </ul>
        <h5>Step 5: Configure Actions for Each Case</h5>
        <ul>
            <li>Inside each case, add the corresponding actions.
                <ul>
                    <li>Click on <span class="fw-bold">"Add an action"</span> inside each case.</li>
                    <li>Search for and add the <span class="fw-bold">"Send an email"</span> action.</li>
                    <li>Customize the email content based on the day of the week. For example, send different reminders for Monday, Wednesday, and Friday. </li>
                </ul>
            </li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-41.png" alt="Using Conditions and Switches" class="img-fluid" /></div>
        <h5>Step 6: Save and Test</h5>
        <ul class="mb-4">
            <li>Once you've configured your actions, click on <span class="fw-bold">"Save"</span> to save your flow.</li>
            <li>Test your flow by triggering the specified event, such as waiting for the next scheduled run and checking the emails sent.</li>
        </ul>
        <div class="d-flex justify-content-around pb-3">
            <a asp-controller="PATutorial" asp-action="ExpressionsandVariablesExample" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

            <a asp-controller="PATutorial" asp-action="LoopsandIterations" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>