@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PATutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center mt-3">Introduction to Power Automate</h1>
        <div class="row flex-column-reverse flex-lg-row py-4 mt-4 justify-content-center">
            <div class="col-lg-8">
                <h4 class="text-center">Introduction</h4>
                <p class="text-center my-2">Power Automate is a powerful automation tool provided by Microsoft that allows individuals and organizations to streamline their business processes by automating repetitive tasks and integrating various applications. It is designed to make work more efficient by reducing manual effort and enhancing productivity.</p>
                <p class="text-center my-2">At its core, Power Automate revolves around the concept of <span class="fw-bold">"flows"</span>. A flow is a sequence of actions that are executed in response to a trigger. These triggers can be events like a new email arriving in your inbox, a form submission, a change in a document, or even a scheduled time. When the trigger condition is met, the flow kicks into action, automating the specified tasks and actions.</p>
            </div>
            <div class="col-lg-4 text-center"><img src="~/images/logo/PowerAutomate.png" alt="" class="img-fluid" height="260" width="260"></div>
        </div>
        <h4>Benefits of Using Power Automate</h4>
        <p>Using Power Automate offers a multitude of benefits, including:</p>
        <ol class="d-flex flex-column pb-3 justify-content-center gap-2">
            <li><span class="fw-semibold">Enhanced Productivity:</span> Power Automate reduces the need for manual, repetitive tasks, allowing you to focus on more critical, strategic work.</li>
            <li><span class="fw-semibold">Streamlined Workflows:</span> It automates the flow of information between different applications and services, simplifying complex business processes.</li>
            <li><span class="fw-semibold">Error Reduction:</span> Automation minimizes human error, leading to increased accuracy and reliability in your tasks and processes.</li>
            <li><span class="fw-semibold">Time Savings:</span> Automation can save you hours, if not days, by completing tasks in seconds or minutes that would otherwise take much longer.</li>
            <li><span class="fw-semibold">Integration Capabilities:</span> Power Automate integrates seamlessly with various Microsoft and third-party applications, fostering interoperability.</li>
            <li><span class="fw-semibold">Consistency:</span> It ensures that tasks are performed consistently, eliminating variations that may occur with manual work.</li>
            <li><span class="fw-semibold">Notifications and Alerts:</span> Power Automate can keep you informed with timely notifications and alerts, so you're always up-to-date on critical events.</li>
        </ol>
        <h4>Objectives of the Tutorial</h4>
        <p>Our tutorial aims to achieve the following objectives:</p>
        <ol class="d-flex flex-column pb-3 justify-content-center gap-2">
            <li><span class="fw-semibold">Understand the Basics:</span> We'll start by explaining the fundamental concepts of Power Automate, ensuring that you have a solid foundation in the terminology and principles.</li>
            <li><span class="fw-semibold">Hands-On Learning:</span> You will learn how to create your first flow, build more complex flows, and explore advanced features through practical examples.</li>
            <li><span class="fw-semibold">Real-World Applications:</span> We dive into real-world examples and use cases to show how Power Automate can be applied across various industries and tasks.</li>
            <li><span class="fw-semibold">Best Practices:</span> We'll provide tips and best practices to help you design efficient, secure, and maintainable flows.</li>
            <li><span class="fw-semibold">Advanced Topics:</span> For those looking to take their skills further, we'll cover advanced topics like creating custom connectors and integrating with Azure services.</li>
            <li><span class="fw-semibold">Inspiration:</span> Through case studies and success stories, we aim to inspire you with the possibilities of Power Automate in your own projects.</li>
        </ol>
        <p class="mb-4">By the end of this tutorial, you will have the knowledge and skills to harness the full potential of Microsoft Power Automate, making your work more efficient and your processes more streamlined.</p>
        <div class="d-flex justify-content-around pb-3">
            <a asp-controller="PATutorial" asp-action="Licensingandpricing" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>