@{
    ViewData["Title"] = "Scheduled Trigger Flows - Automate Tasks on Time |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Scheduled Trigger Flows - Automate Tasks on Time">
    <meta name="description" content="Learn about Scheduled Trigger Flows to automate tasks at specific times, enhance productivity, and streamline workflows with scheduled actions.">
    <meta name="keywords" content="scheduled trigger flows, automation tools, task scheduling, workflow automation, scheduled actions, time-based triggers, automate tasks, productivity tools, process automation, automation flows, task automation, scheduled workflows, automation efficiency, timed tasks, scheduled triggers">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PATutorialLayout.cshtml";
}

<body style="background-color:ghostwhite;">
    <div class="container border border-1 rounded-pill shadow-lg d-flex justify-content-center flex-lg-row  mt-3  p-sm-3" style="width:45%;background-color:#CBE0F5;"><h1 class="my-auto ps-3" style="color:#266aad">Learn with</h1><img src="~/images/v1.png" alt="Voxtus" class="img-fluid mx-1" height="50" width="50" /></div>
    <div class="container p-3 mt-3 pb-5 mb-4">
        <h1 class="text-center fs-2 mt-3">Scheduled Trigger Flows</h1>
        <h4 class="mt-4">Scheduled Trigger Flows</h4>
        <ul>
            <li>Run at specified times or on a recurring schedule.</li>
            <li>Suitable for automating tasks at predefined intervals.</li>
            <li>Used for actions like sending reports, creating calendar events, and regular updates.</li>
        </ul>
        <h5>Creating a Scheduled Flow</h5>
        <p>Let's create an easy example: Imagine you want to receive a daily email with the weather forecast for your location. You can use Power Automate to schedule and automate this task:</p>
        <h6>Step 1: Access Power Automate</h6>
        <ul>
            <li>Start by logging into <a href="http://make.powerautomate.com" target="_blank" class="text-decoration-none">make.powerautomate.com</a> with your Microsoft account or organizational credentials.</li>
        </ul>
        <h6>Step 2: Begin Flow Creation</h6>
        <ul>
            <li>Navigate to the <span class="fw-bold">"My Flows"</span> section, Look for <span class="fw-bold">"New flow”</span> option.</li>
            <li>Choose the <span class="fw-bold">"Scheduled cloud flow"</span> option to create a flow that automates tasks on a predefined schedule. This is useful for routine and repetitive tasks.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-26.png" alt="Scheduled Trigger Flows" class="img-fluid" /></div>
        <h6>Step 3: Configure the Scheduled Flow Trigger</h6>
        <ul>
            <li>After selecting the <span class="fw-bold">"Scheduled cloud flow"</span> trigger, you can configure the schedule. Define when and how often the flow should run. You can choose specific dates, times, and intervals.</li>
            <li>For example we’ve scheduled this for everyday from starting date.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-27.png" alt="Scheduled Trigger Flows" class="img-fluid" /></div>
        <h6>Step 5: Add and Configure Actions to the Scheduled Flow</h6>
        <ul>
            <li>With the trigger configured, you can start adding actions to your scheduled flow. These actions are the specific tasks your flow will perform at the scheduled times. </li>
            <li>For each action in the scheduled flow, configure the settings as needed. Specify data sources, recipients, message content, or other relevant parameters.</li>
        </ul>
        <p>For this example we have add MSN Weather – Get forecast for today action & Outlook Send Email Action.</p>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-28.png" alt="Scheduled Trigger Flows" class="img-fluid" /></div>
        <p class="fs-6 fw-semibold">Note: Select Units Property as <span class="fw-bold">“Metric”</span> for °C and Imperial for °F.</p>
        <ul>
            <li>For Email message you can directly write mail in <span class="fw-bold">Email Body</span> using dynamic content.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-29.png" alt="Scheduled Trigger Flows" class="img-fluid" /></div>
        <h6>Step 7: Test and Save Your Scheduled Flow</h6>
        <ul>
            <li>After configuring your scheduled flow, save it. This ensures that the flow is ready to run automatically according to the defined schedule.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-30.png" alt="Scheduled Trigger Flows" class="img-fluid" /></div>
        <ul>
            <li>After successful test run of this flow you’ll get the weather forecast report for today and as it’s a scheduled flow you’ll get weather report on daily basis at scheduled time.</li>
        </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/learn/pa tutorial/PA-31.png" alt="Scheduled Trigger Flows" class="img-fluid" /></div>
        <div class="d-flex justify-content-around pb-3">
            <a asp-controller="PATutorial" asp-action="AutomatedTriggerFlows" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad"><i class="bi bi-arrow-bar-left"></i> Previous</a>

            <a asp-controller="PATutorial" asp-action="BasicFlowusingTemplate" class="btn btn-primary fw-semibold" type="submit" style="background-color:#266aad">Next <i class="bi bi-arrow-bar-right"></i></a>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>