@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Elevate Your Projects with Expert .NET Development |";
}
@section MetaTags{
    <meta name="title" content="Elevate Your Projects with Expert .NET Development">
    <meta name="description" content="Unleash the power of Voxtus Technologies, the ultimate destination for .Net Development services. Transform your business with our innovative solutions." />
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@* <main id="main">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div style="border:1px solid black" class="section-title">

            <div class="section-title">
                <h2 class="mt-3">
                    .NET Development
                </h2>
                <p class="mx-4">
                    In today's digital landscape, businesses seek agile, reliable, and high-performance software solutions. 
                    Through the prowess of the .NET framework, Voxtus Technology delivers just that. Our developers with 8
                    rich years in .NET - we blend technical acumen with practical insights to offer tailor-made solutions.
                </p>
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon align-items-md-center"><i class="bi bi-pen"></i></div>
                            <h5 class="title">
                                Specialized .NET Development
                            </h5>
                            <p class="description">
                                While the .NET ecosystem is vast, our primary expertise lies in areas like ASP.NET, .NET Core,
                                and MVC. We delve deep into these technologies, ensuring that you receive solutions that are both 
                                cutting-edge and dependable.

                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Seamless .NET Integrations
                            </h4>
                            <p class="description">
                                The real power of a .NET solution lies in its interoperability. We're proficient in integrating .NET 
                                applications with a plethora of platforms and technologies, maximizing your business's operational efficiency.
                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Comprehensive Support & Maintenance

                            </h4>
                            <p class="description">
                                We're not just developers; we're long-term partners. Our commitment continues with ongoing support, 
                                ensuring that your .NET solutions remain updated, optimized, and in sync with the latest technological standards.

                            </p>
                        </div>



                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Industry-Focused Solutions
                            </h4>
                            <p class="description">
                                From business utilities to industrial tools, our portfolio is diverse. Some highlights include the 
                                creation of the 'Voxtus Technology' website, a sophisticated traveling management system, and tailored
                                solutions for the hospitality sector.

                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Agile & Scrum Development
                            </h4>
                            <p class="description">
                                Our methodologies are rooted in agility. By adopting Agile, Scrum, and related frameworks, we 
                                that the development process is iterative, responsive, and aligned with your evolving business needs.

                            </p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">Global and Local Clientele</h4>
                            <p class="description">
                                Whether you're a local business or an international enterprise, our doors are open. We've had the
                                privilege of serving a diverse clientele, understanding and catering to both global standards and local nuances.

                            </p>
                        </div>

                    </div>
                    <div>
                        <p class="mt-2 mx-4 mb-4">
                            Eager to harness the full potential of .NET for your business? <a class="text-info" asp-controller="ContactUs" asp-action="Index">Reach Out</a>
                            and let's shape your digital future together.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main> *@
<main id="main" class="ps-0 pe-0">
    @* <div class="container-fluid"> *@
        <div class="w-100 algin-item-center" style="border-bottom-right-radius: 150px; border-top-left-radius:150px; background-color:#512BD4">
        <center>
            <img src="~/images/dotneticon.png" alt=".NET Development" class="img-fluid" height="110" width="130" />
        </center>
        </div>
        @* <div class="container-fluid mt-2 text-center"> *@
    <section class="services shadow-lg">
        <div class="container p-3 mt-2 text-center">
            <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6 p-4 mt-1"><h1 class="text-center p-2">Voxtus - Your Trusted .NET Development Partner</h1>
                <h5 class="mt-4">At Voxtus, we're committed to delivering top-notch .NET development services that cater to your unique business needs. Our goal is to empower your organization to thrive in the digital world by leveraging the power of .NET. </h5></div>
                <div class="col-lg-6"><img src="~/images/services/dotnet/bg1.png" alt="Discuss your .Net Development needs?" class="img-fluid"/></div>
            </div>
            <h5>DISCUSS YOUR .NET DEVELOPMENT NEEDS?    <button type="button" class="btn btn-primary btn-lg"><a asp-controller="ContactUs" asp-action="Index" style="text-decoration:none; color:white">Let's Talk</a></button></h5>
        </div>
    </section>
        @* </div> *@
        @* <div class="container-fluid mt-5"> *@
    <div class="section-title pt-5">
        <h2 class="text-center mt-4">What we provide in .NET Development</h2></div>
           @*  <div class="container-fluid">
            <h3 class="p-3">Custom .NET Applications</h3>
            <div class="container-fluid position-relative" style="height:600px">
                <img src="~/images/services/dotnet/bg2.png" class="img-fluid h-100 w-100" />
                <div class="text-center w-50 h-50 mt-5" style="position:absolute;top: 8px;left: 35px;"><h6>We work closely with your team to understand your business requirements. Then, we design and build tailored .NET applications that precisely fit your needs. Our approach ensures that your applications are not only functional but also scalable and user-friendly.</h6></div>

                <div class="w-50 h-50" style="position:absolute;bottom: 8px;right: 16px;">
                        <h5><b>Our services include:</b></h5>
                        <p><i class="bi bi-caret-left-fill"></i> Collaborative requirement analysis<br />
                            <i class="bi bi-caret-left-fill"></i> Robust solution design<br />
                            <i class="bi bi-caret-left-fill"></i> Custom application development<br />
                            <i class="bi bi-caret-left-fill"></i> Seamless database integration<br />
                            <i class="bi bi-caret-left-fill"></i> User-friendly UI/UX design<br />
                            <i class="bi bi-caret-left-fill"></i> Rigorous testing for reliability<br />
                            <i class="bi bi-caret-left-fill"></i> Assistance with deployment and ongoing support</p>
                        </div>
            </div>

            <h3 class="p-3 mt-5">Legacy Application Migration</h3>
        <div class="container-fluid position-relative" style="height:700px">
                <img src="~/images/services/dotnet/bg3.png" class="img-fluid h-100 w-100 opacity-50" />
                <div class="text-center w-50 h-50 mt-5" style="position:absolute;top: 8px;left: 35px;">
                    <h6>If you have legacy applications holding you back, we can help. Our experts specialize in migrating legacy systems to the modern .NET framework. We analyse your existing systems, create a migration plan, update and optimize your codebase, and ensure a seamless transition with enhanced performance and security.</h6>
                </div>

                <div class="w-50 h-50" style="position:absolute;bottom: 8px;right: 16px;">
                    <h5>Our migration services covers:</h5>
                    <p>
                        <i class="bi bi-caret-left-fill"></i> Thorough legacy application assessment<br />
                        <i class="bi bi-caret-left-fill"></i> Tailored migration strategy<br />
                        <i class="bi bi-caret-left-fill"></i> Code refactoring and modernization<br />
                        <i class="bi bi-caret-left-fill"></i> Data migration and integration<br />
                        <i class="bi bi-caret-left-fill"></i> Rigorous testing for reliability
                    </p>
                </div>
            </div>

            <h3 class="p-3">ASP.NET Development</h3>
        <div class="container-fluid position-relative" style="height:720px">
                <img src="~/images/services/dotnet/bg4.png" class="img-fluid h-100 w-100 opacity-50" />
                <div class="text-center w-50 h-50 mt-5" style="position:absolute;top: 8px;left: 35px;">
                    <h6>Our ASP.NET development services are designed to accelerate your business growth. We have deep expertise in ASP.NET MVC, ASP.NET Core, and related technologies. We follow industry best practices, conduct comprehensive requirement analysis, employ efficient software architecture, and ensure reliable and bug-free applications.</h6>
                </div>

                <div class="w-50 h-50" style="position:absolute;bottom: 8px;right: 16px;">
                    <h5>Our ASP.NET services include:</h5> 	
                    <p>
                        <i class="bi bi-caret-left-fill"></i> Technical expertise<br />
                        <i class="bi bi-caret-left-fill"></i> Detailed requirement analysis<br />
                        <i class="bi bi-caret-left-fill"></i> Modern solution design<br />
                        <i class="bi bi-caret-left-fill"></i> Agile development approach<br />
                        <i class="bi bi-caret-left-fill"></i> Quality assurance and testing<br />
                        <i class="bi bi-caret-left-fill"></i> Hassle-free deployment and support<br />
                        <i class="bi bi-caret-left-fill"></i> Post-migration support<br />
                    </p>
                </div>
            </div>

            <h3 class="p-3">API Development and Integration</h3>
        <div class="container-fluid position-relative" style="height:730px">
                <img src="~/images/services/dotnet/bg5.png" class="img-fluid h-100 w-100 opacity-50" />
                <div class="text-center w-50 h-50 mt-5" style="position:absolute;top: 8px;left: 35px;">
                        <h6>Our Efficient communication and data exchange between systems are essential. We excel in creating APIs that enable robust integration and interoperability. Our experts understand the importance of secure data transfer and adhere to industry standards.</h6>
                </div>

                <div class="w-50 h-50" style="position:absolute;bottom: 8px;right: 16px;">
                    <h5>Our API services encompass:</h5> 	
                    <p>
                        <i class="bi bi-caret-left-fill"></i> Collaborative API strategy development<br />
                        <i class="bi bi-caret-left-fill"></i> Secure and high-performing API creation<br />
                        <i class="bi bi-caret-left-fill"></i> Seamless integration into existing systems<br />
                        <i class="bi bi-caret-left-fill"></i> Comprehensive documentation and testing
                    </p>
                </div>
            </div>

            <h3 class="p-3">Application Support and Maintenance </h3>
        <div class="container-fluid position-relative" style="height:600px">
                <img src="~/images/services/dotnet/bg6.png" class="img-fluid h-100 w-100 opacity-50" />
                <div class="text-center w-50 h-50 mt-5" style="position:absolute;top: 8px;left: 35px;">
                    <h6>We recognize the importance of ongoing support and maintenance for your .NET applications. Our team provides comprehensive support services, including bug fixes, performance optimization, upgrades, security patching, and continuous monitoring.</h6>
                </div>

                <div class="w-50 h-50" style="position:absolute;bottom: 8px;right: 16px;">
                    <h5>Our support and maintenance services cover:</h5> 
                    <p>
                        <i class="bi bi-caret-left-fill"></i> Prompt bug fixes and issue resolution<br />
                        <i class="bi bi-caret-left-fill"></i> Enhanced performance and efficiency<br />
                        <i class="bi bi-caret-left-fill"></i> Upgrades and new feature implementation<br />
                        <i class="bi bi-caret-left-fill"></i> Proactive security measures<br />
                        <i class="bi bi-caret-left-fill"></i> Continuous monitoring and preventive maintenance
                    </p>
                </div>
            </div>
            </div>   *@
        @* </div> *@
    <section class="services">
<div class="container d-flex flex-column gap-5">
    <div class="row d-flex flex-lg-row flex-column justify-content-center align-items-center" style="background-color:#e6edf5">
            <div class="col-lg-6">
            <h3 class="text-center pt-3">Custom .NET Applications</h3>
            <h6 class="text-center mt-3">We work closely with your team to understand your business requirements. Then, we design and build tailored .NET applications that precisely fit your needs. Our approach ensures that your applications are not only functional but also scalable and user-friendly.</h6>
            
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="container shadow-lg p-5 m-4 rounded">
            <h5><b>Our services include:</b></h5>
            <ul class="list-unstyled">
                    <li><i class="bi bi-caret-left-fill"></i> Collaborative requirement analysis</li>
                    <li><i class="bi bi-caret-left-fill"></i> Robust solution design</li>
                    <li><i class="bi bi-caret-left-fill"></i> Custom application development</li>
                    <li><i class="bi bi-caret-left-fill"></i> Seamless database integration</li>
                    <li><i class="bi bi-caret-left-fill"></i> User-friendly UI/UX design</li>
                    <li><i class="bi bi-caret-left-fill"></i> Rigorous testing for reliability</li>
                    <li><i class="bi bi-caret-left-fill"></i> Assistance with deployment and ongoing support</li>
            </ul>
            </div>
            </div>
    </div>

    <div class="row d-flex flex-lg-row flex-column flex-column-reverse justify-content-center align-items-center" style="background-color:#F8F8FF">
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="container shadow-lg p-5 m-4 rounded">
                <h5><b>Our migration services covers:</b></h5>
            <ul class="list-unstyled">
                    <li><i class="bi bi-caret-left-fill"></i> Thorough legacy application assessment</li>
                    <li><i class="bi bi-caret-left-fill"></i> Tailored migration strategy</li>
                    <li><i class="bi bi-caret-left-fill"></i> Code refactoring and modernization</li>
                    <li><i class="bi bi-caret-left-fill"></i> Data migration and integration</li>
                    <li><i class="bi bi-caret-left-fill"></i> Rigorous testing for reliability</li>
            </ul>
        </div>
            </div>
        <div class="col-lg-6">
                <h3 class="text-center pt-3">Legacy Application Migration</h3>
                <h6 class="text-center mt-3">If you have legacy applications holding you back, we can help. Our experts specialize in migrating legacy systems to the modern .NET framework. We analyse your existing systems, create a migration plan, update and optimize your codebase, and ensure a seamless transition with enhanced performance and security.</h6>
        </div>
     </div>

    <div class="row d-flex flex-lg-row flex-column justify-content-center align-items-center" style="background-color:#EFF2FD">
        <div class="col-lg-6">
            <h3 class="text-center pt-3">ASP.NET Development</h3>
            <h6 class="text-center mt-3">
                Our ASP.NET development services are designed to accelerate your business growth. We have deep expertise in ASP.NET MVC, ASP.NET Core, and related technologies. We follow industry best practices, conduct comprehensive requirement analysis, employ efficient software architecture, and ensure reliable and bug-free applications.</h6>
            </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="container shadow-lg p-5 m-4 rounded">
                <h5><b>Our ASP.NET services include:</b></h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-caret-left-fill"></i> Technical expertise</li>
                    <li><i class="bi bi-caret-left-fill"></i> Detailed requirement analysis</li>
                    <li><i class="bi bi-caret-left-fill"></i> Modern solution design</li>
                    <li><i class="bi bi-caret-left-fill"></i> Agile development approach</li>
                    <li><i class="bi bi-caret-left-fill"></i> Quality assurance and testing</li>
                    <li><i class="bi bi-caret-left-fill"></i> Hassle-free deployment and support</li>
                    <li><i class="bi bi-caret-left-fill"></i> Post-migration support</li>
                </ul>
            </div>
        </div>
    </div>

        <div class="row d-flex flex-lg-row flex-column flex-column-reverse justify-content-center align-items-center" style="background-color:#f2f2ed">
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="container shadow-lg p-5 m-4 rounded">
                <h5><b>Our API services encompass:</b></h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-caret-left-fill"></i> Collaborative API strategy development</li>
                    <li><i class="bi bi-caret-left-fill"></i> Secure and high-performing API creation</li>
                    <li><i class="bi bi-caret-left-fill"></i> Seamless integration into existing systems</li>
                    <li><i class="bi bi-caret-left-fill"></i> Comprehensive documentation and testing</li>
                </ul>
            </div>
        </div>
            <div class="col-lg-6">
                <h3 class="text-center pt-3">API Development and Integration</h3>
                <h6 class="text-center mt-3">
                    Our Efficient communication and data exchange between systems are essential. We excel in creating APIs that enable robust integration and interoperability. Our experts understand the importance of secure data transfer and adhere to industry standards.
                </h6>
            </div>
    </div>

    <div class="row d-flex flex-lg-row flex-column justify-content-center align-items-center" style="background-color:#edf5f4">
        <div class="col-lg-6">
            <h3 class="text-center pt-3">Application Support and Maintenance</h3>
            <h6 class="text-center mt-3">
                We recognize the importance of ongoing support and maintenance for your .NET applications. Our team provides comprehensive support services, including bug fixes, performance optimization, upgrades, security patching, and continuous monitoring.
            </h6>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="container shadow-lg p-5 m-4 rounded">
                <h5><b>Our support and maintenance services cover:</b></h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-caret-left-fill"></i> Prompt bug fixes and issue resolution</li>
                    <li><i class="bi bi-caret-left-fill"></i> Enhanced performance and efficiency</li>
                    <li><i class="bi bi-caret-left-fill"></i> Upgrades and new feature implementation</li>
                    <li><i class="bi bi-caret-left-fill"></i> Proactive security measures</li>
                    <li><i class="bi bi-caret-left-fill"></i> Continuous monitoring and preventive maintenance</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </section>
    <section class="services">
        <div class="container mt-5">
        <div class="section-title">
            <h2 class="text-center">Why Choose Voxtus?</h2></div>
            <div class="container-fluid shadow-lg mx-auto p-4">
                <div class="row">
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="h-50 w-100 mx-auto rounded" style="border:4px solid #6C63FF">
                        <img src="~/images/services/dynamics365/expertise.svg" alt="Experienced Developers" class="h-100 w-100 mx-auto d-block" />
                        </div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded p-3 mt-1">
                            <h6>
                                Experienced Developers
                            </h6>
                            <p>
                                Our team consists of skilled .Net developers with years of experience in the industry.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="h-50 w-100 mx-auto rounded" style="border:4px solid #6C63FF">
                        <img src="~/images/services/dynamics365/testingandqualityassurance.svg" alt="Quality Assurance" class="h-100 w-100 mx-auto d-block" />
                        </div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded  p-3 mt-1">
                            <h6>
                                Quality Assurance
                            </h6>
                            <p>
                                We follow best practices in development and testing to deliver bug-free and reliable applications.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="h-50 w-100 mx-auto rounded" style="border:4px solid #6C63FF">
                        <img src="~/images/services/dynamics365/sales.svg" alt="Timely Delivery" class="h-100 w-100 mx-auto d-block" />
                        </div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded p-3 mt-1">
                            <h6>
                                Timely Delivery
                            </h6>
                            <p>
                                We understand the importance of deadlines and strive to meet them consistently.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 mb-3"></div>
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="h-50 w-100 mx-auto rounded" style="border:4px solid #6C63FF">
                        <img src="~/images/services/dynamics365/finance.svg" alt="Cost-Effective" class="h-100 w-100 mx-auto d-block" />
                        </div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded p-3 mt-1">
                            <h6>
                                Cost-Effective
                            </h6>
                            <p>
                                Our competitive pricing ensures you get value for your investment.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="h-50 w-100 mx-auto rounded" style="border:4px solid #6C63FF">
                        <img src="~/images/services/dynamics365/customer-centric.svg" alt="Client-Centric Approach" class="h-100 w-100 mx-auto d-block" />
                        </div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded p-3 mt-1">
                            <h6>
                                Client-Centric Approach
                            </h6>
                            <p>
                                We prioritize your needs and preferences, offering a collaborative development process.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 mb-3"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="services p-5 shadow-lg" style="text-align:center;background-color:#6c63ff">
    <div class="container mt-4">
            <h5 class="m-4 fw-bolder">At Voxtus, we take pride in our ability to turn your ideas into reality.</h5>
        <h5 class="m-1 fw-bolder"><a asp-controller="ContactUs" asp-action="Index" style="text-decoration:none;color:white">Contact us</a> today to discuss your .Net development project, and let's bring your vision to life.</h5>
        </div>
        </section>

    @* </div> *@

</main>


<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />



<!--The End of the Links Section-->