@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dynamics 365 Development | Custom CRM & ERP Development |";
}
@* <main id="main">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div style="border:1px solid black" class="section-title">

            <div class="section-title">
                <h2 class="mt-3">
                    Dynamics 365 Development
                </h2>
                <p class="mx-4">
                    In the interconnected ecosystem of modern businesses, Dynamics 365 stands as a cornerstone 
                    for efficiency and growth. With an enriched 8-year journey exclusively in Dynamics 365 module development,
                    I commit to transforming your business operations and customer experiences.

                </p>
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon align-items-md-center"><i class="bi bi-pen"></i></div>
                            <h5 class="title">Tailored Dynamics 365 Module Development</h5>
                            <p class="description">
                                Dynamics 365 is an expansive platform with a suite of specialized modules. My expertise lies in
                                honing these modules to perfectly resonate with your business's unique demands, ensuring you harness
                                the platform's full potential.

                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Seamless Dynamics 365 Integration
                            </h4>
                            <p class="description">
                                While my focus is primarily on Dynamics 365 modules, I ensure they're seamlessly integrated within 
                                your existing systems. Whether you're aiming for internal cohesion or external connectivity, 
                                I've got you covered.

                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Comprehensive Training & Workshops
                            </h4>
                            <p class="description">
                                A system's potential is maximized when its users are well-equipped. I offer training sessions 
                                tailored to your team's needs, ensuring they navigate and utilize Dynamics 365 with confidence and expertise.
                            </p>
                        </div>



                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Solutions for Diverse Industries
                            </h4>
                            <p class="description">
                                From streamlining business operations to addressing industry-specific challenges, I've catered 
                                to a broad spectrum of sectors. Leveraging Dynamics 365, I've delivered solutions that cover
                                matter management, sales transformation, inventory optimization, and more.
                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">Dedicated Support & Maintenance</h4>
                            <p class="description">
                                The digital world is ever-evolving. My commitment goes beyond initial development. I offer regular
                                maintenance and support, ensuring your Dynamics 365 systems stay contemporary, efficient, and bug-free.

                            </p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">A Global Reach</h4>
                            <p class="description">
                                Whether you're based locally or internationally, my services are designed to cater to businesses worldwide.
                                With a holistic understanding of varying market dynamics, I tailor Dynamics 365 solutions to
                                fit global standards and local nuances.

                            </p>
                        </div>

                    </div>
                    <div>
                        <p class="mt-2 mx-4 mb-4">
                            Ready to elevate your business with specialized Dynamics 365 solutions? <a class="text-info" asp-controller="ContactUs" asp-action="Index">Reach Out</a> today
                            and let's chart a path to digital transformation together.

                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main> *@


<!--New Dynamics365 Services-->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<main id="main">
        @* <div class="container-fluid"> *@
        <div class="w-100 algin-item-center" style="border-bottom-right-radius: 150px; border-top-left-radius:150px; background-color:#d2e9fa">
        <center><img src="~/images/Dynamics365-logo.webp" alt="Dynamics 365 Development" class="img-fluid p-3" height="120" width="130" /></center>
            </div>
            <div class="container-fluid p-5">
        <div class="section-title">
            <h1 class="text-center">Dynamics 365 Development Company</h1></div>
                <p class="p-4">As your trusted partner for Microsoft Dynamics 365 CRM and ERP development and design services. Our goal is to provide comprehensive solutions tailored to your business needs, leveraging the full capabilities of Microsoft Dynamics 365. Explore how our services can transform your business:</p>
            
            @* <div class="container-fluid"> *@
            <div class="row shadow-lg p-3 rounded-5" style="text-align:center">
                    <div class="col-lg-3 col-sm-6 shadow p-4" style="background-color:#d2e1fa">
                        <i class="bi bi-bounding-box display-5"></i>
                    <h6 class="p-3">
                        Dynamics 365 Implementation
                    </h6><hr />
                    <p>
                        We'll make your business better by turning your needs into a working MS CRM Solution. You'll enjoy smoother operations, increased productivity, better marketing, and more.
                    </p>
                    </div>
                    <div class="col-lg-3 col-sm-6 shadow-lg p-4 gap-1" style="background-color:#bbd3fa">
                        <i class="bi bi-menu-up display-5"></i>
                        <h6 class="p-3">
                        Dynamics 365 Customization
                        </h6><hr />
                    <p>
                        We'll customize MS Dynamics 365 to fit your unique business processes. We can map out your workflows, make responsive applications, adjust how things look, and create reports.
                    </p>
                    </div>
                    <div class="col-lg-3 col-sm-6 shadow p-4" style="background-color:#a6c4f7">
                        <i class="bi bi-bezier display-5"></i>
                        <h6 class="p-3">
                        Dynamics 365 Integration
                        </h6><hr />
                    <p>
                        We'll help MS Dynamics become a seamless part of your organization. This means all your info is in one place, fewer mistakes, and you get a single view of your business.
                    </p>
                    </div>
                    <div class="col-lg-3 col-sm-6 shadow-lg p-4" style="background-color:#90b6f5">
                        <i class="bi bi-arrow-left-right display-5"></i>
                        <h6 class="p-3">
                        Dynamics 365 Migration
                        </h6><hr />
                    <p>
                        Our experienced Microsoft Dynamic CRM developer can help move your system smoothly. Whether you're going from online to on-premise or the other way around, we'll do it with minimal disruption and no data loss.
                    </p>
                    </div>
                </div>
            </div>
            @* </div> *@
            @* <div class="container-fluid p-5"> *@
    <div class="section-title">
        <h2 class="text-center">Our Proficiency in Microsoft Dynamics 365 Products</h2></div>
                <div class="container-fluid shadow p-3" style="text-align:center">
                    <div class="row p-2">
                        <div class="col-lg-3">
                <img src="~/images/services/dynamics365/businesscentral.svg" alt="Dynamics 365 Business Central" class="img-fluid h-100 w-100 mx-auto d-block" />
                        </div>
                        <div class="col-lg-9 shadow p-5" style="border-bottom-left-radius:20px;background-color:#dae6f5">
                            <p>
                                <b>Dynamics 365 Business Central:</b> Streamline business operations with financial management, inventory, and project management capabilities.
                            </p>
                        </div>
                    </div>

                    <div class="row flex-column-reverse flex-lg-row p-3">
                        <div class="col-lg-9 shadow p-5" style="border-bottom-left-radius:20px; background-color:#e6daf5">
                            <p>
                                <b>Dynamics 365 Human Resources:</b> Empower your workforce with HR management, employee self-service, and talent acquisition.
                            </p>
                        </div>
                        <div class="col-lg-3">
                <img src="~/images/services/dynamics365/humanresources.svg" alt="Dynamics 365 Human Resources" class="h-100 w-100 mx-auto d-block" />
                        </div>
                        
                    </div>

                    <div class="row p-3">
                        <div class="col-lg-3">
                <img src="~/images/services/dynamics365/supplychainmanagement.svg" alt="Dynamics 365 Supply Chain Management" class="h-100 w-75 mx-auto d-block" />
                        </div>
                        <div class="col-lg-9 shadow p-5" style="border-bottom-left-radius:20px;background-color:#e8f5e4">
                            <p>
                                <b>Dynamics 365 Supply Chain Management:</b> Efficiently manage inventory, demand forecasting, and warehouse operations.
                            </p>
                        </div>
                    </div>

                    <div class="row flex-column-reverse flex-lg-row p-3">
                        <div class="col-lg-9 shadow p-5" style="border-bottom-left-radius:20px;background-color:#f5e4f5">
                            <p>
                                <b>Dynamics 365 Finance:</b> Achieve financial excellence with real-time financial reporting, budgeting, and vendor management.
                            </p>
                        </div>
                        <div class="col-lg-3">
                <img src="~/images/services/dynamics365/finance.svg" alt="Dynamics 365 Finance" class="h-100 w-100 mx-auto d-block" />
                        </div>
                    </div>

                    <div class="row p-3">
                        <div class="col-lg-3">
                <img src="~/images/services/dynamics365/marketing.svg" alt="Dynamics 365 Marketing" class="h-100 w-100 mx-auto d-block" />
                        </div>
                        <div class="col-lg-9 shadow p-5" style="border-bottom-left-radius:20px;background-color:#f5f3e4">
                            <p>
                                <b>Dynamics 365 Marketing:</b> Run targeted marketing campaigns, lead management, and marketing analytics.
                            </p>
                        </div>
                    </div>

                    <div class="row flex-column-reverse flex-lg-row p-3">
                        <div class="col-lg-9 shadow p-5" style="border-bottom-left-radius:20px;background-color:#f5e4e6">
                            <p>
                                <b>Dynamics 365 Sales:</b> Streamline sales processes and enhance customer engagement.
                            </p>
                        </div>
                        <div class="col-lg-3 order-1 order-md-2">
                <img src="~/images/services/dynamics365/sales.svg" alt="Dynamics 365 Sales" class="h-75 w-75 mx-auto d-block" />
                        </div>
                    </div>

                    <div class="row p-3">
                        <div class="col-lg-3">
                <img src="~/images/services/dynamics365/customerservices.svg" alt="Dynamics 365 Customer Service" class="h-100 w-100 mx-auto d-block" />
                        </div>
                        <div class="col-lg-9 shadow p-5" style="border-bottom-left-radius:20px;background-color:#e4f5f2">
                            <p>
                                <b>
                                    Dynamics 365 Customer Service:</b>
                                Deliver exceptional customer support and case management.
                            </p>
                        </div>
                    </div>

                </div>
            @* </div> *@

            @* <div class="container-fluid p-5"> *@
    <div class="section-title">
        <h2 class="text-center pt-4">Our Approach</h2></div>
                <p class="p-2">At Voxtus, we approach Microsoft Dynamics 365 CRM and ERP development with a focus on precision, scalability, and user-friendliness. Here's a detailed overview of our services:</p>
                <div class="container-fluid shadow-lg">
                <div class="row p-4">
            <div class="col-lg-2"><img src="~/images/services/dynamics365/assessmentandstrategy.svg" alt="Assessment and Strategy" class="h-100 w-100 mx-auto d-block" /></div>
                    <div class="col-lg-4 shadow p-4">
                        <p>
                                <b>
                                    Assessment and Strategy:</b>
                            </p><p>
                            We begin by gaining a deep understanding of your business processes and objectives. Our experts conduct a thorough assessment to formulate a strategic plan that aligns with your goals.
                        </p>
                    </div>
                    <div class="col-lg-2 mt-4">
                <img src="~/images/services/dynamics365/customizationandconfiguration.svg" alt="Customization and Configuration" class="h-100 w-75 mx-auto d-block" />
                    </div>
                    <div class="col-lg-4 shadow p-4">
                        <p>
                                <b>
                                    Customization and Configuration:</b>
                            </p><p>
                            Microsoft Dynamics 365 is a powerful platform, and we harness its potential to create customized CRM and ERP solutions. We configure the system to fit your unique workflows and requirements.
                        </p>

                    </div>
                </div>

                <div class="row p-4">
            <div class="col-lg-2"><img src="~/images/services/dynamics365/developmentandintegration.svg" alt="Development and Integration" class="h-100 w-100 mx-auto d-block" /></div>
                    <div class="col-lg-4 shadow p-4">
                        <p>
                                <b>
                                    Development and Integration:</b>
                            </p><p>
                            Our skilled developers design and build robust CRM and ERP solutions that seamlessly integrate with your existing systems. This ensures data consistency and efficiency across your organization.
                        </p>
                    </div>
                    <div class="col-lg-2 mt-4">
                <img src="~/images/services/dynamics365/testingandqualityassurance.svg" alt="Testing and Quality Assurance" class="h-100 w-100 mx-auto d-block" />
                    </div>
                    <div class="col-lg-4 shadow p-4">
                        <p>
                                <b>
                                    Testing and Quality Assurance:</b>
                            </p><p>
                            To guarantee reliability, we conduct rigorous testing and quality assurance checks. Your solution undergoes comprehensive testing to identify and resolve any issues before deployment.
                        </p>

                    </div>
                </div>

                <div class="row p-4">
            <div class="col-lg-2"><img src="~/images/services/dynamics365/deploymentandtraining.svg" alt="Deployment and Training" class="h-100 w-100 mx-auto d-block" /></div>
                    <div class="col-lg-4 shadow p-4">
                        <p>
                                <b>
                                    Deployment and Training:</b>
                            </p><p>
                            We deploy your customized solution with minimal disruption to your operations. Our team provides comprehensive training to ensure your staff can use the system effectively from day one.
                        </p>
                    </div>
                    <div class="col-lg-2 mt-4">
                <img src="~/images/services/dynamics365/supportandmaintenance.svg" alt="Support and Maintenance" class="h-100 w-100 mx-auto d-block" />
                    </div>
                    <div class="col-lg-4 shadow p-4">
                        <p>
                                <b>
                                    Support and Maintenance:</b>
                                    </p><p>
                            Our commitment to your success extends beyond deployment. Voxtus offers ongoing support and maintenance services to keep your CRM and ERP systems running smoothly.
                        </p>

                    </div>
                </div>
                </div>

            @* </div> *@

             <div class="container-fluid p-5">
        <div class="section-title">
            <h2 class="text-center">Claim Your Complimentary Consultation</h2></div>
                <h5 class="p-4 text-info text-center">Discover the potential of Dynamics 365 with a no-cost session from our experts..</h5>
                <a asp-controller="ContactUs" asp-action="Index"><img src="~/images/services/dynamics365/CallUs.png" alt="Call Us" class="img-fluid mx-auto d-block" /></a>
        </div>

        @* <div class="container-fluid p-5"> *@
    <div class="section-title">
        <h2 class="text-center">Why Opt for Dynamics 365 to Empower Your Business?</h2></div>
            <p class="ps-4 pe-4 text-center">We've got you covered with all that Microsoft Dynamics 365 brings to the table…</p>
            <div class="row container-fluid text-center p-3">
            <div class="col-lg-2 p-2"></div>
            <div class="col-lg-4 p-2">
                <h4 class="border rounded-4 shadow p-3 mx-auto text-center" style="background-color: #ecd9c6">
                        <i class="bi bi-people-fill"></i> Customer Engagement
                </h4>
            <p class="p-4 border border-end-0 border-2 border-secondary">
                    Harness the power of Dynamics 365 CRM to enhance customer relationships, streamline sales, and deliver exceptional customer experiences.
                </p>
            </div>

            <div class="col-lg-4 p-2">
                <h4 class="border rounded-4 shadow p-3 mx-auto text-center" style="background-color:#a3a3c2">
                        <i class="bi bi-buildings-fill"></i> Business Central
                </h4>
            <p class="p-4 border border-end-0 border-2 border-secondary">
                    Optimize your financials, operations, and supply chain management with Dynamics 365 Business Central for comprehensive ERP solutions.
                </p>
            </div>

            <div class="col-lg-4 p-2">
                <h4 class="border rounded-4 shadow p-3 mx-auto text-center" style="background-color:#bfbfbf">
                        <i class="bi bi-bezier"></i> Power Platform Integration
                </h4>
            <p class="p-4 border border-end-0 border-2 border-secondary">
                    Leverage Power Apps, Power Automate, and Power BI to extend and enhance your CRM and ERP functionalities.
                </p>
            </div>

            <div class="col-lg-4 p-2">
                <h4 class="border rounded-4 shadow p-3 mx-auto text-center" style="background-color:#85a3e0">
                        <i class="bi bi-robot"></i> AI and Analytics
                </h4>
            <p class="p-4 border border-end-0 border-2 border-secondary">
                    Utilize AI-driven insights and analytics to make data-driven decisions and gain a competitive edge.
                </p>
            </div>

            <div class="col-lg-4 p-2">
                <h4 class="border rounded-4 shadow p-3 mx-auto text-center" style="background-color:#dfbf9f">
                        <i class="bi bi-graph-up-arrow"></i> Scalability
                </h4>
            <p class="p-4 border border-end-0 border-2 border-secondary">
                    Microsoft Dynamics 365 is designed to grow with your business, ensuring long-term flexibility and adaptability.
                </p>
            </div>
            
            </div>
            @* </div> *@

        @* <div class="container-fluid p-5"> *@
    <div class="section-title">
        <h2 class="text-center pt-4">Why Choose Voxtus</h2>
    </div>
            <div class="container-fluid shadow-lg mx-auto">
                <div class="row p-4">
                    <div class="col-lg-3 mt-3 mb-3">
                        <div class="border border-primary border-4 h-50 w-100 rounded">
                    <img src="~/images/services/dynamics365/expertise.svg" alt="Expertise" class="h-100 w-100 mx-auto d-block" />
                </div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded p-3 mt-1">
                            <h6>
                                Expertise
                            </h6>
                            <p>
                                Our team of certified professionals has extensive experience in Microsoft Dynamics 365 development and design.
                            </p>
                        </div>
                        </div>
                    <div class="col-lg-3 mt-3 mb-3">
                <div class="border border-primary border-4 h-50 w-100 rounded"><img src="~/images/services/dynamics365/customization.svg" alt="Customization" class="h-100 w-100 mx-auto d-block" /></div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded  p-3 mt-1">
                            <h6>
                                Customization
                            </h6>
                            <p>
                                We tailor CRM and ERP solutions to your specific business needs, ensuring optimal functionality.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-3 mb-3">
                <div class="border border-primary border-4 h-50 w-100 rounded"><img src="~/images/services/dynamics365/simplicity.svg" alt="Simplicity" class="h-100 w-100 mx-auto d-block" /></div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded p-3 mt-1">
                            <h6>
                                Simplicity
                            </h6>
                            <p>
                                We communicate in plain language, ensuring you understand every step of the process.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-3 mb-3">
                <div class="border border-primary border-4 h-50 w-100 rounded"><img src="~/images/services/dynamics365/customer-centric.svg" alt="Customer-Centric" class="h-100 w-100 mx-auto d-block" /></div>
                        <div class="border border-top-0 border-3 h-50 w-100 rounded p-3 mt-1">
                            <h6>
                                Customer-Centric
                            </h6>
                            <p>
                                Your satisfaction is our top priority. We work closely with you to deliver solutions that exceed your expectations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            @* </div> *@
    <div class="container-fluid mt-4 p-5 shadow-lg" style="text-align:center;background-color:#2B67E3">
        <h5 class="fw-bolder">Unlock the full potential of Microsoft Dynamics 365 CRM and ERP with Voxtus.</h5>
        <h5 class="m-4 fw-bolder"><a class="btn btn-outline-primary fs-5" asp-controller="ContactUs" asp-action="Index" style="text-decoration:none;color:white">Contact us</a> today to discuss your project and embark on a journey towards streamlined efficiency and growth.</h5>
        <h5 class="fw-bolder">We look forward to collaborating with you!</h5>
        </div>
                
        @* </div> *@
</main>


<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />



<!--The End of the Links Section-->