<main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Services</h2>
                @*<ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Our Services</li>
                </ol>*@
            </div>

        </div>
    </section><!-- End Our Services Section -->
    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="section-title">
            <h2>Services</h2>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up">
                    <a asp-controller="Services" asp-action="PowerPlatformDevelopment">
                        @* <div class="icon-box icon-box-pink">
                        <div class="icon"><img src="~/images/services/powerappsicon.png" alt="Power Apps Services" height="50" width="60" /></div> *@
                        <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/services/powerappsicon.png" alt="Power Apps Services" height="50" width="60" /></div>
                            <h4 class="title text-black mt-5"> Power Platform Development</h4>
                            <p class="description text-black mt-3">
                                In today's digital age, businesses across industries need tailored solutions
                                to optimize their operations and foster growth. With 8 years of expertise in
                                Power Apps development, we specialize in creating custom applications that align
                                seamlessly with your business objectives.
                            </p>
                            <div class="read-more"><a asp-controller="Services" asp-action="PowerPlatformDevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                    <a asp-controller="Services" asp-action="Dynamics365Development">
                        @* <div class="icon-box icon-box-blue">
                        <div class="icon"><img src="~/images/Dynamics365-logo.webp" alt="Dynamics 365 Development Services" height="50" width="80" /></div> *@
                        <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/Dynamics365-logo.webp" alt="Dynamics 365 Development Services" height="53" width="80" /></div>
                            <h4 class="title text-black mt-5">Dynamics 365 Development</h4>
                            <p class="description text-black mt-3">
                                In the interconnected ecosystem of modern businesses, Dynamics 365 stands as a cornerstone for
                                efficiency and growth. With an enriched 8-year journey exclusively in Dynamics 365 module development,
                                I commit to transforming your business operations and customer experiences.

                            </p>
                            <div class="read-more"><a asp-controller="Services" asp-action="Dynamics365Development"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
                    <a asp-controller="Services" asp-action="DOTNETDevelopment">
                        @* <div class="icon-box icon-box-cyan">
                        <div class="icon"><img src="~/images/dotneticon.png" alt=".NET Development Services" height="50" width="60" /></div> *@
                        <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/dotneticon.png" alt=".NET Development Services" height="50" width="60" /></div>
                            <h4 class="title text-black mt-5">.NET Development</h4>
                            <p class="description text-black mt-3">
                                In today's digital landscape, businesses seek agile, reliable, and high-performance software solutions.
                                Through the prowess of the .NET framework, Voxtus Technology delivers just that. Our developers with
                                8 rich years in .NET - we blend technical acumen with practical insights to offer tailor-made solutions.

                            </p>
                            <div class="read-more"><a asp-controller="Services" asp-action="DOTNETDevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                    <a asp-controller="Services" asp-action="RPADevelopment">
                        @* <div class="icon-box icon-box-green">
                        <div class="icon"><img src="~/images/rpaicon.svg" height="50" width="60" /></div> *@
                        <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/rpaicon1.svg" alt="RPA" height="50" width="60" /></div>
                            <h4 class="title text-black mt-5">RPA Development</h4>
                            <p class="description text-black mt-3">
                                In today's competitive landscape, the drive for greater efficiency and precision has never been higher.
                                Robotic Process Automation (RPA) stands out as the go-to solution for businesses to streamline operations,
                                minimize errors, and amplify productivity. At Voxtus, we're at the vanguard of this
                                automation revolution, led by our developer with a focused 3-year trajectory in RPA.

                            </p>
                            <div class="read-more"><a asp-controller="Services" asp-action="RPADevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </a>
                </div>



            </div>

        </div>
    </section><!-- End Services Section -->
   
    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
        <div class="container">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/Services_4.svg" alt="Our Mission...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Mission</a></h5>
                            @*<p class="card-text">"Our mission is to help businesses leverage the power of technology to achieve their goals and stay ahead of the competition. We believe that technology should be accessible and easy to use, and we strive to create solutions that are tailored to the unique needs of each of our clients. With a focus on innovation and excellence, we are committed to providing personalized and comprehensive services that enable our clients to achieve their goals and succeed in an ever-changing digital landscape."</p>*@
                            <p class="card-text">We envision a world where technology truly empowers and elevates.Our mission is to craft innovative software solutions, tailored to each client's unique aspirations and challenges also deliver a solutions for modern business.</p>

                            <p class="card-text"> With Voxtus, technology becomes a bridge to a brighter, more connected future.</p>
                            @*<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/Services_1.svg" alt="Our Plan...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Plan</a></h5>
                            @* <p class="card-text">At Voxtus, we believe in providing our clients with personalized and comprehensive services that are tailored to their specific needs.</p>*@
                            <p class="card-text">At Voxtus,Our plan begins with a deep dive into our clients' unique challenges and goals.We design tailored solutions that resonate. Our agile methodology ensures flexibility, while rigorous testing guarantees reliability. Even post-deployment, our dedication remains steadfast with continual support and refinements. In essence, our evolving strategy always prioritizes our clients, ensuring technology is a catalyst for their success.</p>
                            @*<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>*@
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/Service_3.svg" alt="Our Vision...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Vision</a></h5>
                            @*<p class="card-text">"Our vision is to empower businesses to thrive in a digital-first world through innovative technology solutions that are tailored to their specific needs. We strive to be the go-to provider for businesses of all sizes and industries, and to deliver exceptional service that exceeds our clients' expectations. With a focus on collaboration, innovation, and excellence, we are committed to staying ahead of the curve and helping our clients achieve success now and in the future."</p>*@
                            <p class="card-text">Our vision is clear to propel businesses into the future using the most advanced technological solutions. From the dynamic capabilities of Power Apps, the efficiency-driven promise of RPA, to the robust foundation of .NET and beyond, we're dedicated to harnessing the full potential of these technologies for our clients. </p>
                            <p class="card-text"> As we navigate the ever-evolving digital landscape, our mission remains consistent to craft solutions that are not only technologically superior but also designed with our client's unique needs in mind.</p>

                            @*<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/Services_2.svg" alt="Our Care...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Care</a></h5>
                            @*<p class="card-text">At Voxtus, we understand that our clients' success is our success. That's why we're committed to providing exceptional care and support to every client we work with.</p>*@
                            <p class="card-text">We firmly believe in the intertwined destinies of our clients and ourselves. The cornerstone of our philosophy lies in recognizing that the success of our clients directly mirrors our own achievements.</p>
                            @*<p class="card-text">We deeply resonate with the belief that our achievements are mirrored by the triumphs of our clients. This ethos forms the foundation of every endeavor we embark upon and dictates our approach in myriad ways: Symbiotic Partnerships, Unwavering Support, Adaptive Solution, Continued Excellence.</p>*@
                            <p class="card-text">When you align with Voxtus, you're not just opting for a service provider, you're gaining a dedicated ally fervently committed to your success.</p>

                            @*<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Service Details Section -->
    <!-- ======= Pricing Section ======= -->
    <section class="pricing section-bg" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Pricing</h2>
                @* <p>At our IT company, we believe in the quality of our services and the value they provide to our clients. That's why we offer a first 40 hours no bill commitment for new clients who sign up for our services. Here's how it works</p> *@
            </div>

            <div class="row no-gutters">

                <div class="col-lg-4 box">
                    <h4><i class="bi bi-wallet-fill"></i></h4>
                    @* <h4>1<span></span></h4> *@
                    <h5>Fixed Price Model
                    </h5>
                    <p>
                        Our Fixed Price Model is ideal for well-defined projects with clear specifications. You'll receive a detailed project proposal and a fixed cost estimate, ensuring you know exactly what to expect.
                    </p>
                    <h6 class="mt-5 mb-3 text-start">
                        This model offers:
                    </h6>
                    <p class="text-start">
                            <i class="bi bi-wallet-fill"></i> <b>Transparency:</b> Clear pricing with no hidden charges.
                        </p>
                    <p class="text-start">
                            <i class="bi bi-wallet-fill"></i> <b>Budget Control:</b> You can plan your budget accurately from the start.
                        </p>
                    <p class="text-start">
                            <i class="bi bi-wallet-fill"></i> <b>Project Schedule:</b> We provide a timeline for project completion.
                        </p>
                        @*
                        <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                        <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>*@
                        
                    @*<a href="#" class="get-started-btn">Get Started</a>*@
                </div>

                <div class="col-lg-4 box featured">
                    <h3></h3>
                    <h4><i class="bi bi-hourglass-split"></i></h4>
                    <h5>
                        <b>
                            Hourly Rate Model
                        </b>
                    </h5>
                    <p>
                        The Hourly Rate Model is flexible and suitable for projects with evolving requirements. You'll be charged based on the number of hours our developers work on your project.
                    </p>
                    <h6 class="mt-5 mb-3 text-start">
                        This model offers:
                    </h6>
                    <p class="text-start">
                            <i class="bi bi-hourglass-split"></i> <b>Flexibility:</b> Easily adapt to changing project needs.
                        </p>
                    <p class="text-start">
                            <i class="bi bi-hourglass-split"></i> <b>Detailed Tracking:</b> You'll receive regular reports on hours worked.
                        </p>
                    <p class="text-start">
                            <i class="bi bi-hourglass-split"></i> <b>Pay-as-You-Go:</b> You're billed for the actual work done.
                        </p>
                    @*<a href="#" class="get-started-btn">Get Started</a>*@
                </div>

                <div class="col-lg-4 box">
                    <h3></h3>
                    <h4><i class="bi bi-people-fill"></i></h4>
                    <h5>
                            Dedicated Development Team
                    </h5>
                    <p>
                        For long-term or complex projects, our Dedicated Development Team model provides you with a dedicated team of .Net developers who work exclusively on your project.
                    </p>
                    <h6 class="mt-5 mb-3 text-start">
                        This model offers:
                    </h6>
                    <p class="text-start">
                            <i class="bi bi-people-fill"></i> <b>Full Control:</b> You have complete control over the team's priorities and tasks.
                        </p>
                    <p class="text-start">
                            <i class="bi bi-people-fill"></i> <b>Scalability:</b> Easily scale the team up or down as needed.
                        </p>
                    <p class="text-start">
                            <i class="bi bi-people-fill"></i> <b>Extended Collaboration:</b> Team members become an extension of your in-house team.
                        </p>
                    @*<a href="#" class="get-started-btn">Get Started</a>*@
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->

</main>
