<main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Services</h2>
                @*<ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Our Services</li>
                </ol>*@
            </div>

        </div>
    </section><!-- End Our Services Section -->
    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="section-title">
            <h2>Services</h2>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><a asp-controller="Services" asp-action="PowerAppsDevelopment"><img src="~/images/powerappsicon.jpg" height="50" width="60" /></a></div>
                        <h4 class="title"><a asp-controller="Services" asp-action="PowerAppsDevelopment"> PowerApps Development</a></h4>
                        <p class="description">
                            In today's digital age, businesses across industries need tailored solutions 
                            to optimize their operations and foster growth. With 8 years of expertise in
                            PowerApps development, we specialize in creating custom applications that align
                            seamlessly with your business objectives. Whether you're in the healthcare sector,
                            education, or corporate world, our services ensure that your digital needs are met with precision.
                        </p>
                        <div class="read-more"><a asp-controller="Services" asp-action="PowerAppsDevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><a asp-controller="Services" asp-action="Dynamics365Development"><img src="~/images/dynamics-365-logo-trans (1).png" height="50" width="80" /></a></div>
                        <h4 class="title"><a asp-controller="Services" asp-action="Dynamics365Development">Dynamics 365 Development</a></h4>
                        <p class="description">
                            In the interconnected ecosystem of modern businesses, Dynamics 365 stands as a cornerstone for
                            efficiency and growth. With an enriched 8-year journey exclusively in Dynamics 365 module development, 
                            I commit to transforming your business operations and customer experiences.

                        </p>
                        <div class="read-more"><a asp-controller="Services" asp-action="Dynamics365Development"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><a asp-controller="Services" asp-action="DOTNETDevelopment"><img src="~/images/dotneticon.png" height="50" width="60" /></a></div>
                        <h4 class="title"><a asp-controller="Services" asp-action="DOTNETDevelopment">.NET Development</a></h4>
                        <p class="description">
                            In today's digital landscape, businesses seek agile, reliable, and high-performance software solutions.
                            Through the prowess of the .NET framework, Voxtus Technology delivers just that. Our developers with 
                            8 rich years in .NET - we blend technical acumen with practical insights to offer tailor-made solutions.

                        </p>
                        <div class="read-more"><a asp-controller="Services" asp-action="DOTNETDevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><a asp-controller="Services" asp-action="RPADevelopment"><img src="~/images/rpaicon.png" height="45" width="50" /></a></div>
                        <h4 class="title"><a asp-controller="Services" asp-action="RPADevelopment">RPA Development</a></h4>
                        <p class="description">
                            In today's competitive landscape, the drive for greater efficiency and precision has never been higher. 
                            Robotic Process Automation (RPA) stands out as the go-to solution for businesses to streamline operations,
                            minimize errors, and amplify productivity. At [Your IT Company Name], we're at the vanguard of this
                            automation revolution, led by [Your Name] — a developer with a focused 3-year trajectory in RPA.

                        </p>
                        <div class="read-more"><a asp-controller="Services" asp-action="RPADevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Services Section -->
   
    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
        <div class="container">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/service-details-1.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Mission</a></h5>
                            <p class="card-text">"Our mission is to help businesses leverage the power of technology to achieve their goals and stay ahead of the competition. We believe that technology should be accessible and easy to use, and we strive to create solutions that are tailored to the unique needs of each of our clients. With a focus on innovation and excellence, we are committed to providing personalized and comprehensive services that enable our clients to achieve their goals and succeed in an ever-changing digital landscape."</p>
                            @*<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/service-details-2.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Plan</a></h5>
                            <p class="card-text">At Voxtus, we believe in providing our clients with personalized and comprehensive services that are tailored to their specific needs.</p>
                            @*<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>*@
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/service-details-3.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Vision</a></h5>
                            <p class="card-text">"Our vision is to empower businesses to thrive in a digital-first world through innovative technology solutions that are tailored to their specific needs. We strive to be the go-to provider for businesses of all sizes and industries, and to deliver exceptional service that exceeds our clients' expectations. With a focus on collaboration, innovation, and excellence, we are committed to staying ahead of the curve and helping our clients achieve success now and in the future."</p>
                            @*<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/service-details-4.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Care</a></h5>
                            <p class="card-text">At Voxtus, we understand that our clients' success is our success. That's why we're committed to providing exceptional care and support to every client we work with.</p>
                            @*<div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Service Details Section -->
    <!-- ======= Pricing Section ======= -->
    <section class="pricing section-bg" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Pricing</h2>
                <p>At our IT company, we believe in the quality of our services and the value they provide to our clients. That's why we offer a first 40 hours no bill commitment for new clients who sign up for our services. Here's how it works</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-4 box">
                    <h3></h3>
                    <h4>1<span></span></h4>
                    <ul>
                        When you sign up for our services, we'll work with you to develop a plan that meets your specific needs and goals. During the first 40 hours of work, we won't send you an invoice. This gives you a chance to experience our services firsthand and ensure that they're the right fit for your business.
                       @*
                        <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                        <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>*@
                        
                    </ul>
                    @*<a href="#" class="get-started-btn">Get Started</a>*@
                </div>

                <div class="col-lg-4 box featured">
                    <h3></h3>
                    <h4>2<span></span></h4>
                    <ul>
                        If, for any reason, you're not completely satisfied with our services during the first 40 hours, you can cancel your contract with us with no obligation to pay.
                    </ul>
                    @*<a href="#" class="get-started-btn">Get Started</a>*@
                </div>

                <div class="col-lg-4 box">
                    <h3></h3>
                    <h4>3<span></span></h4>
                    <ul>
                        We believe that this commitment demonstrates our confidence in the quality of our services and our commitment to providing exceptional value to our clients. We're confident that you'll be satisfied with our services, and we look forward to the opportunity to work with you.
                    </ul>
                    @*<a href="#" class="get-started-btn">Get Started</a>*@
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->

</main>