@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Power Platform start-->
<main id="main">
    <div class="w-100 algin-item-center" style="border-bottom-right-radius: 150px; border-top-left-radius:150px; background-color:#F2E6FF;"><center><img src="~/images/Logo/PowerApps_scalable.svg" alt="Microsoft Power Platform Development" class="img-fluid p-3" height="100" width="110" /></center></div>
    <div class="container-fluid p-5 shadow">
        <div class="section-title">
            <h1 class="text-center">Microsoft PowerApps Services by Voxtus</h1>
        </div>
        <div class="row flex-column-reverse flex-lg-row mt-3 mb-3 d-flex justify-content-center align-items-center">
            <div class="col-lg-8 p-lg-5 pb-3">
                <p>
                    At Voxtus, we help businesses unlock their potential through the power of Microsoft PowerApps. As a leader in low-code development, PowerApps enables you to build custom business applications that are powerful, scalable, and aligned with your specific needs. Whether you're looking to streamline processes, enhance productivity, or centralize your data, our team at Voxtus is equipped to deliver end-to-end PowerApps solutions tailored to your requirements.
                </p>
            </div>
            <div class="col-lg-4 pb-3"><center><img src="~/images/Logo/PowerAppsIcon1.jpg" alt="Microsoft Power Platform Development" class="img-fluid p-3" /></center></div>
        </div>
        <div class="section-title">
            <h2>Our PowerApps Offerings</h2>
        </div>
        <div class="row mt-3 mb-3 d-flex justify-content-center align-items-center features">
            <div class="col-lg-4 p-lg-2 pb-3">
                @* <a asp-controller="Services" asp-action="PowerPlatformDevelopment" class="text-decoration-none"> *@
                    <div class="shadow p-3 h-100">
                        <div class="text-center"><img src="~/images/services/powerappsicon.png" alt="Power Apps Services" height="50" width="60" /></div>
                        <h4 class="text-black mt-4">Canvas Apps Development</h4>
                        <p class="description text-black mt-3">
                            Our Canvas Apps development services are designed to give you complete flexibility and control over your app design.
                        </p>
                        <ul class="text-start text-black">
                        <li>
                                <i class="bi bi-check"></i> <b>Tailored to Your Needs:</b> Create intuitive, visually appealing apps that meet your unique business requirements.
                        </li>
                        <li>
                                <i class="bi bi-check"></i> <b>Drag-and-Drop Simplicity:</b> Empower your team with applications that are easy to use and require minimal training.
                        </li>
                        <li>
                                <i class="bi bi-check"></i> <b>Device Compatibility:</b> Build apps that work seamlessly on mobile devices, tablets, and web browsers.
                        </li>
                        <li>
                                <i class="bi bi-check"></i> <b>Improved Efficiency:</b> Transform complex workflows into simple, actionable processes with user-friendly interfaces.
                        </li>
                        <li>
                                <i class="bi bi-check"></i> <b>Integration-Ready:</b> Easily integrate Canvas Apps with other Microsoft tools like SharePoint, Teams, and Dynamics 365 for a seamless experience.
                        </li>
                        </ul>
                        <div class="read-more"><a asp-controller="Services" asp-action="PowerPlatformDevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                @* </a> *@
            </div>
            <div class="col-lg-4 p-lg-5 pb-3"></div>
            <div class="col-lg-4 p-lg-5 pb-3"></div>
         </div>
    </div>
</main>


<!--Our Links Section Start Here-->
<link href="~/css/flex.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
@* <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />*@
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
@*<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" /> *@
@* <link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.css" rel="stylesheet" /> *@
<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />