@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <main id="main">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div style="border:1px solid black" class="section-title">

                <div class="section-title">
                    <h2 class="mt-3">Power Apps Development</h2>
                    <p class="mx-4">In today's digital age, businesses across industries need tailored solutions to optimize 
                        operations and foster growth. With 8 years of expertise in Power Apps development,
                        we specialize in creating custom applications that align seamlessly with your business objectives.
                        Whether you're in the healthcare sector, education, or corporate world, our services ensure 
                        that your digital needs are met with precision</p>
                </div>

                <div class="container">

                    <div class="row">

                        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                            <div class="icon-box">
                                <div class="icon align-items-md-center"><i class="bi bi-pen"></i></div>
                                <h5 class="title">Custom Power Apps Solutions for Diverse Industries</h5>
                                <p class="description">
                                    Drawing from a rich portfolio, which includes projects like health management systems, employee
                                    onboarding apps, student management applications, leave management systems, and more, I 
                                    solutions that resonate with your specific industry and business needs.
                                </p>
                            </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">Power Apps Training & Workshops</h4>
                            <p class="description">
                                Equip your team with the skills to maximize the benefits of your Power Apps solutions.
                                I offer training sessions ranging from beginner workshops to advanced courses, tailored to your needs.
                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">Maintenance & Support</h4>
                            <p class="description">
                                In a rapidly evolving digital landscape, I provide continuous support and maintenance,
                                ensuring your apps remain current, efficient, and perform at their best.

                            </p>
                        </div>
                            


                        </div>

                        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-pen"></i></div>
                                <h4 class="title">Comprehensive Power Apps Consultation</h4>
                                <p class="description">
                                    Benefit from my deep knowledge, fortified by certifications in Microsoft PL400 and PL900.
                                    Whether you're a novice or seeking to enhance your existing apps, my insights ensure you're 
                                    always on the right path.
                                </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">Seamless Integration with Microsoft Suite</h4>
                            <p class="description">
                                Leverage the full potential of the Microsoft ecosystem. I offer robust integrations of Power Apps
                                with tools like SharePoint, Dynamics 365, and beyond, amplifying your business processes.
                            </p>
                        </div>
                            
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-pen"></i></div>
                                <h4 class="title">Global Reach</h4>
                                <p class="description">
                                    Serving clients both nationally and internationally, my online-based services ensure that 
                                    no matter where you are, world-class Power Apps solutions are just a click away.
                                </p>
                            </div>                          

                        </div>
                        <div>
                            <p class="mt-2 mx-4 mb-4">
                                Ready to transform your business with bespoke Power Apps solutions? <a class="text-info" asp-controller="ContactUs" asp-action="Index">Reach Out</a> today
                                and let's embark on a digital journey together.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
    </section>
</main> *@

<!--Power Platform start-->
<main id="main">
        @* <div class="container-fluid"> *@
        <div class="bg-black w-100 algin-item-center" style="border-bottom-right-radius: 150px; border-top-left-radius:150px"><center><img src="~/images/services/powerappsicon.png" class="img-fluid p-3" height="120" width="130" /></center></div>
        <div class="container-fluid p-5 shadow">
            <h2 class="text-center">Microsoft Power Platform Development</h2><hr />
            <p class="p-4">
                The Microsoft Power Platform is a suite of low-code and no-code tools that empower individuals
                and organizations to create custom business applications, automate workflows, analyse data, and
                engage with customers more efficiently. Comprising four key components – Power Apps, Power
                Automate, Power BI, and Power Virtual Agents – the Power Platform offers a holistic solution for
                digital transformation and productivity enhancement.
            </p>
            <h6 class="text-info text-center mt-4 mb-3">STREAMLINE YOUR BUSINESS OPERATIONS USING THE MICROSOFT POWER PLATFORM SUIT</h6>
        
        <div class="row mt-5  mb-5">
            <div class="col-lg-6 p-5 pb-3"><center><h4>Microsoft PowerApps</h4><img src="~/images/services/powerappsicon1.jpg" class="img-fluid h-25 w-25" /></center></div>
            <div class="col-lg-6 shadow p-5 pb-3 rounded-6" style="border-bottom-right-radius: 150px; border-top-left-radius:150px; background-color:#f2e6ff; text-align:center">
                <p><b>Tailored Applications for Your Needs</b></p>
                <p>
                    Unlock the ability to design and create custom
                    applications without the need for extensive coding.
                    With Power Apps, Voxtus empowers you to build
                    canvas and model-driven apps that fit your unique
                    requirements. Seamlessly connect to your data
                    sources, including Microsoft 365, Dynamics 365,
                    and more, making data readily accessible for your
                    team.<br />
                    Apps built with Power Apps are cross-platform,
                    meaning they can run on the web, mobile devices
                    (iOS and Android), and tablets.
                </p>
                </div>
            </div>

        <div class="row flex-column-reverse flex-lg-row mt-5  mb-5">
            <div class="column column-1 col-lg-6 shadow p-5 pb-3 rounded-6" style="border-bottom-right-radius: 150px; border-top-left-radius:150px;background-color:aliceblue; text-align:center">
                <p><b>Automate Workflows, Boost Efficiency</b></p>
                <p>
                    Let Voxtus simplify your business processes
                    through Power Automate. We help you
                    automate repetitive tasks and streamline
                    workflows, saving time and reducing errors. Our
                    expertise in leveraging over 450 connectors
                    ensures seamless integration with your existing
                    apps and services. From approval workflows to
                    scheduled tasks, we've got you covered.
                </p>
            </div>
            <div class="column column-2 col-lg-6 p-5 pb-3 float-left">
                <center>
                    <h4>
                        Power Automate
                    </h4><img src="~/images/services/automate.png" class="img-fluid h-25 w-25" />
                </center>
            </div>
        </div>

        <div class="row mt-5  mb-5">
            <div class="col-lg-6 p-5 pb-3 animate__animated animate__zoomInLeft"><center><h4>Power BI</h4><img src="~/images/services/power bi.png" class="img-fluid h-25 w-25" /></center></div>
            <div class="col-lg-6 shadow p-5 pb-3 rounded-6" style="border-bottom-right-radius: 150px; border-top-left-radius:150px;background-color:antiquewhite; text-align:center">
                <p><b>Transform Data into Insights</b></p>
                <p>
                    Voxtus helps you turn data into a valuable
                    asset with Power BI. Visualize your data
                    through interactive reports and dashboards,
                    enabling data-driven decision-making. We
                    connect to diverse data sources, enable
                    robust data modelling, and support
                    advanced analytics and natural language
                    queries. Power up your business intelligence
                    with us.
                </p>
                </div>
            </div>

        <div class="row flex-column-reverse flex-lg-row mt-5  mb-5">
            <div class="col-lg-6 shadow p-5 pb-3 rounded-6" style="border-bottom-right-radius: 150px; border-top-left-radius:150px;background-color:#edfbfc;text-align:center">
                <p>
                    <b>
                    Intelligent Chatbots for Customer
                    Engagement</b>
                </p>
                <p>
                    Enhance customer engagement with
                    intelligent chatbots created effortlessly
                    using Power Virtual Agents. Voxtus
                    simplifies chatbot development, allowing
                    you to create conversation flows that guide
                    users and provide instant assistance.
                    Integrate with your systems and gain
                    insights to improve customer interactions.
                </p>
            </div>
            <div class="col-lg-6 p-5 pb-4 animate__animated animate__fadeInDown animate__zoomIn animate__delay-3s"><center><h4>Power Virtual Agents</h4><img src="~/images/services/virtual agent.png" class="img-fluid h-25 w-25" /></center></div>
        </div>
        </div>
        <div class="p-5"><h3 class="text-center">Why Voxtus For Power Platform Development?</h3><hr /></div>

        <div class="container-fluid shadow p-5">
            <div class="row">
                <div class="col-4 p-4"></div>
                <div class="col-lg-4 shadow rounded-pill p-4" style="background-color:aliceblue; text-align:center">
                    <p><i class="bi bi-people-fill"></i> <b>Expert Team:</b></p>
                    <p>
                        Our team knows the ins and outs
                        of the Power Platform. We're
                        skilled at tailoring solutions to
                        match your unique requirements.
                    </p>
                </div>
                <div class="col-4 p-4"></div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-4 shadow rounded-pill p-4" style="background-color:#d3e2f5; text-align:center">
                    <p>
                        <i class="bi bi-graph-up-arrow"></i> 
                        <b>Scalability:</b>
                    </p>
                    <p>
                        Our solutions
                        grow with your business,
                        adapting to your changing
                        needs.
                    </p>
                </div>
                <div class="col-4 p-4"></div>
                <div class="col-lg-4 shadow rounded-pill p-4" style="background-color:#f5f4d7; text-align:center">
                    <p><i class="bi bi-bar-chart-fill"></i> <b>Efficiency Boost:</b></p>
                    <p>
                        We automate time consuming tasks to free up
                        your resources and simplify
                        complex processes.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 shadow rounded-pill p-4" style=" background-color:#f2dff7; text-align:center">
                    <p>
                        <i class="bi bi-lightbulb-fill"></i> 
                        <b>Custom Solutions:</b>
                    </p>
                    <p>
                        We create applications,
                        automation, and data
                        analytics tools that
                        precisely fit your business
                        needs.
                    </p>
                </div>
                <div class="col-4 p-4"></div>
                <div class="col-lg-4 shadow rounded-pill p-4" style="background-color:#cfcbf7; text-align:center">
                    <p>
                        <i class="bi bi-gear-fill"></i> 
                        <b>Seamless Integration:</b>
                    </p>
                    <p>
                        We connect your existing
                        tools and systems to work
                        together smoothly.
                    </p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4 p-4"></div>
                <div class="col-lg-4 shadow rounded-pill p-4" style="background-color:#e3f7df; text-align:center">
                    <p><i class="bi bi-database-fill-check"></i> <b>Data Insights:</b></p>
                    <p>
                        We turn your data into
                        actionable insights, so you
                        can make informed
                        decisions.
                    </p>
                </div>
                <div class="col-4 p-4"></div>
            </div>
        </div>

        <div class="container-fluid p-5">
            <h3 class="text-center">Our Approach</h3><hr />
            <div class="row mt-5" style="text-align:center">
                <div class="col-lg-3 col-sm-6 shadow p-5">
                    <div><img src="~/Images/Services/Understanding.png" class="img-fluid h-50 w-50 m-3" /></div>
                    <p>
                        <b>Understanding:</b>
                    </p> 
                    <p>
                        We start by getting to know your
                        business and its challenges. We identify opportunities
                        where the Power Platform can make a difference.
                        </p> 
                </div>
                <div class="col-lg-3 col-sm-6 shadow-lg p-5">
                    <div class="icon"><img src="~/images/services/DATA-DRIVEN DECISION-MAKING.png" class="img-fluid h-50 w-50 m-3" /></div>
                    <p>
                        <b>Design & Development:</b>
                    </p> 
                    <p>
                        We design and build
                        solutions that align with your goals, prioritizing
                        simplicity and user-friendliness.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 shadow p-5">
                    <div class="icon"><img src="~/images/services/CUSTOMIZED SOLUTIONS.png" class="img-fluid h-50 w-50 m-3" /></div>
                    <p>
                        <b>Testing & Deployment:</b>
                    </p> 
                    <p>
                        We rigorously test our
                        solutions to ensure they meet quality standards, then
                        deploy them with minimal disruption.
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 shadow-lg p-5">
                    <div class="icon"><img src="~/images/services/END-TO-END SUPPORT.png" class="img-fluid h-50 w-50 m-3" /></div>
                    <p>
                        <b>Training & Support:</b></p> 
                    <p>We provide thorough training
                        and ongoing support to empower your team to make
                        the most of your new tools.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid p-5" style="text-align:center">
            <p class="text-info h6">Let's Transform Your Business Together….</p>
            <p class="mt-3">
                At Voxtus, we believe in the power of the Microsoft Power Platform to make your
                business more efficient, data-driven, and productive. Partner with us to experience the
                benefits of tailored solutions.
            </p>
            <p class="mt-3 mb-3">
                Ready to get started? <a asp-controller="ContactUs" asp-action="Index" style="text-decoration:none">Contact us</a> today, and let's discuss how Voxtus can help you
                leverage the Microsoft Power Platform for your business success.
            </p>
        </div>

           
        @* </div> *@
</main>

<!--Only for test-->
@* <main id="main">
    <section>
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-6 box1">A</div>
                <div class="col-lg-6 box2">B</div>
            </div>
        </div>
    </section>
</main> *@





<!--Our Links Section Start Here-->
<link href="~/css/flex.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
@* <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />*@
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" /> 
@*<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" /> *@
@* <link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.css" rel="stylesheet" /> *@
<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />



@* <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>
 *@

<!--The End of the Links Section-->