@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div style="border:1px solid black" class="section-title">

                <div class="section-title">
                    <h2 class="mt-3">Power Apps Development</h2>
                    <p class="mx-4">In today's digital age, businesses across industries need tailored solutions to optimize 
                        operations and foster growth. With 8 years of expertise in Power Apps development,
                        we specialize in creating custom applications that align seamlessly with your business objectives.
                        Whether you're in the healthcare sector, education, or corporate world, our services ensure 
                        that your digital needs are met with precision</p>
                </div>

                <div class="container">

                    <div class="row">

                        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                            <div class="icon-box">
                                <div class="icon align-items-md-center"><i class="bi bi-pen"></i></div>
                                <h5 class="title">Custom Power Apps Solutions for Diverse Industries</h5>
                                <p class="description">
                                    Drawing from a rich portfolio, which includes projects like health management systems, employee
                                    onboarding apps, student management applications, leave management systems, and more, I 
                                    solutions that resonate with your specific industry and business needs.
                                </p>
                            </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">Power Apps Training & Workshops</h4>
                            <p class="description">
                                Equip your team with the skills to maximize the benefits of your Power Apps solutions.
                                I offer training sessions ranging from beginner workshops to advanced courses, tailored to your needs.
                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">Maintenance & Support</h4>
                            <p class="description">
                                In a rapidly evolving digital landscape, I provide continuous support and maintenance,
                                ensuring your apps remain current, efficient, and perform at their best.

                            </p>
                        </div>
                            


                        </div>

                        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-pen"></i></div>
                                <h4 class="title">Comprehensive Power Apps Consultation</h4>
                                <p class="description">
                                    Benefit from my deep knowledge, fortified by certifications in Microsoft PL400 and PL900.
                                    Whether you're a novice or seeking to enhance your existing apps, my insights ensure you're 
                                    always on the right path.
                                </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">Seamless Integration with Microsoft Suite</h4>
                            <p class="description">
                                Leverage the full potential of the Microsoft ecosystem. I offer robust integrations of Power Apps
                                with tools like SharePoint, Dynamics 365, and beyond, amplifying your business processes.
                            </p>
                        </div>
                            
                            <div class="icon-box">
                                <div class="icon"><i class="bi bi-pen"></i></div>
                                <h4 class="title">Global Reach</h4>
                                <p class="description">
                                    Serving clients both nationally and internationally, my online-based services ensure that 
                                    no matter where you are, world-class Power Apps solutions are just a click away.
                                </p>
                            </div>                          

                        </div>
                        <div>
                            <p class="mt-2 mx-4 mb-4">
                                Ready to transform your business with bespoke Power Apps solutions? <a class="text-info" asp-controller="ContactUs" asp-action="Index">Reach Out</a> today
                                and let's embark on a digital journey together.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
    </section>
</main>


<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->