@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Power Automate Cloud Services – Workflow Automation |";
}
@section MetaTags {
    <meta name="title" content="Power Automate Cloud Services – Workflow Automation">
    <meta name="description" content="Streamline workflows, automate tasks, and boost efficiency with Power Automate Cloud services by Voxtus. Intelligent automation tailored for your business." />
    <meta name="keywords" content="Power Automate Cloud Services, Microsoft Power Automate, workflow automation, business process automation, automate tasks, app integration, Voxtus automation solutions">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
<main id="main">
    <section class="services" style="background-color:#e4f2ff;">
    <div class="container">
    <div class="row flex-column flex-lg-row mb-3 d-flex justify-content-center align-items-center">
        <div class="col-lg-7 px-lg-5 px-sm-4 pb-4 text-center">
            @* <img src="~/images/Logo/PowerPages.png" alt="PowerPages" title="PowerPages" loading="lazy" class="img-fluid p-3" height="120" width="130" /> *@
            @* <h1 class="text-center">Power Automate Cloud</h1> *@
            <h3>Automate Your Business Processes with Power Automate Cloud</h3>
            <p class="mt-3">
                In a world where efficiency drives success, automation is the key to staying ahead. Power Automate Cloud empowers businesses to automate repetitive tasks, streamline workflows, and connect applications across your organization. At Voxtus, we specialize in creating tailored automation solutions to optimize your operations and save valuable time.
            </p>
            <button class="btn border border-1 border-primary btn-light">
                <a asp-controller="ContactUs" asp-action="Index" class="text-decoration-none text-primary">
                    Get Started
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </button>
        </div>
        <div class="col-lg-5 pb-4"><center><img src="~/images/Logo/PowerAutomate.png" alt="Power Automate" title="Power Automate" loading="lazy" class="img-fluid" height="220" width="230" /></center></div>
    </div>
    </div>
    </section>
    <section class="services">
    <div class="container section-title mt-5">
        <h2>What is Power Automate Cloud?</h2>
        <p class="mt-5 p-lg-5">Power Automate Cloud is Microsoft’s cloud-based automation platform that allows you to create workflows, automate tasks, and integrate applications—all without the need for complex coding. Whether it's connecting cloud apps, automating approvals, or managing data, Power Automate Cloud simplifies processes with just a few clicks.</p>
    </div>
    </section>
    <section class="services" style="background-image: linear-gradient(to bottom right, #1052D0,#2E80EF,#6EBAFE,#e4f2ff,#6EBAFE, #2E80EF,#1052D0);"ckground-color:#e4f2ff;">
    <div class="container pt-4 pb-4">
        <div class="text-center text-white mt-5">
            <h2>Why Power Automate Cloud?</h2>
        </div>
        <div class="row mt-3 mb-3 pt-5">
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white text-center btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-bar-chart-steps border-1 border p-2 rounded-2 bg-opacity-25" viewBox="0 0 16 16" style="background-color:#1052D0;">
                        <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0M2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <h5 class="mt-3 text-black">Effortless Automation</h5>
                    <p class="mt-3 text-black">Streamline routine tasks like data entry, email notifications, and approval processes, freeing up your team for more strategic work.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white text-center btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-repeat border-1 border p-2 rounded-2 bg-opacity-25" viewBox="0 0 16 16" style="background-color:#1052D0;">
                        <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                    </svg>
                    <h5 class="mt-3 text-black">Seamless App Integration</h5>
                    <p class="mt-3 text-black">Power Automate Cloud connects over 700 applications, including Microsoft 365, SharePoint, Dynamics 365, Salesforce, and more.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white text-center btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-eye border-1 border p-2 rounded-2 bg-opacity-25" viewBox="0 0 16 16" style="background-color:#1052D0;">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                    <h5 class="mt-3 text-black">Intelligent Automation</h5>
                    <p class="mt-3 text-black">Incorporate AI-powered capabilities like document processing, sentiment analysis, and predictive analytics into your workflows.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white text-center btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-globe2 border-1 border p-2 rounded-2 bg-opacity-25" viewBox="0 0 16 16" style="background-color:#1052D0;">
                        <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855q-.215.403-.395.872c.705.157 1.472.257 2.282.287zM4.249 3.539q.214-.577.481-1.078a7 7 0 0 1 .597-.933A7 7 0 0 0 3.051 3.05q.544.277 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9 9 0 0 1-1.565-.667A6.96 6.96 0 0 0 1.018 7.5zm1.4-2.741a12.3 12.3 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332M8.5 5.09V7.5h2.99a12.3 12.3 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.6 13.6 0 0 1 7.5 10.91V8.5zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741zm-3.282 3.696q.18.469.395.872c.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a7 7 0 0 1-.598-.933 9 9 0 0 1-.481-1.079 8.4 8.4 0 0 0-1.198.49 7 7 0 0 0 2.276 1.522zm-1.383-2.964A13.4 13.4 0 0 1 3.508 8.5h-2.49a6.96 6.96 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667m6.728 2.964a7 7 0 0 0 2.275-1.521 8.4 8.4 0 0 0-1.197-.49 9 9 0 0 1-.481 1.078 7 7 0 0 1-.597.933M8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855q.216-.403.395-.872A12.6 12.6 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.96 6.96 0 0 0 14.982 8.5h-2.49a13.4 13.4 0 0 1-.437 3.008M14.982 7.5a6.96 6.96 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008zM11.27 2.461q.266.502.482 1.078a8.4 8.4 0 0 0 1.196-.49 7 7 0 0 0-2.275-1.52c.218.283.418.597.597.932m-.488 1.343a8 8 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z" />
                    </svg>
                    <h5 class="mt-3 text-black">Scalable for Businesses of All Sizes</h5>
                    <p class="mt-3 text-black">From small teams to large enterprises, Power Automate Cloud grows with you, adapting to your evolving automation needs.</p>
                </div>
            </div>
        </div>
    </div>
    </section>

    <div class="section-title mt-5">
        <h2>Our Power Automate Cloud Services</h2>
    </div>
    <section class="services" style="background-image: linear-gradient(to bottom right, #1052D0,#2E80EF,#6EBAFE,#e4f2ff,#6EBAFE, #2E80EF,#1052D0);">
    <div class="container pt-4 pb-4">
        <div class="row mt-3 mb-3">
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-bezier2 border-1 border p-3 rounded-circle bg-danger" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01q.269.27.484.605C8.246 5.097 8.5 6.459 8.5 8c0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a3 3 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Workflow Design & Development
                    </h5>
                    <p class="mt-3 text-black">We design and implement custom workflows tailored to your business processes, ensuring seamless automation and efficiency.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-bezier border-1 border p-3 rounded-circle bg-warning" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.52 6.52 0 0 0 1.814 9H2.5q.186 0 .358.043a5.52 5.52 0 0 1 3.185-3.185A1.5 1.5 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.52 6.52 0 0 1 2.72 3.5H13.5q-.185 0-.358.043a5.52 5.52 0 0 0-3.185-3.185" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Application Integration
                    </h5>
                    <p class="mt-3 text-black">Integrate your favorite apps and services into a unified workflow to reduce manual intervention and enhance productivity.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-robot border-1 border p-3 rounded-circle bg-primary" viewBox="0 0 16 16">
                        <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5M3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.6 26.6 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.93.93 0 0 1-.765.935c-.845.147-2.34.346-4.235.346s-3.39-.2-4.235-.346A.93.93 0 0 1 3 9.219zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a25 25 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25 25 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135" />
                        <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2zM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Advanced Automations with AI
                    </h5>
                    <p class="mt-3 text-black">Harness the power of AI Builder to automate document processing, email classification, and other complex tasks.</p>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 pt-3 pb-3"></div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-headset border-1 border p-3 rounded-circle bg-info" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5" />
                        <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Process Optimization
                    </h5>
                    <p class="mt-3 text-black">We analyze your current workflows, identify inefficiencies, and recommend solutions to streamline your operations.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-patch-minus border-1 border p-3 rounded-circle bg-secondary" viewBox="0 0 16 16">
                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Ongoing Support
                    </h5>
                    <p class="mt-3 text-black">Our team provides continuous monitoring and optimization to ensure your automated workflows run smoothly over time.</p>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 pt-3 pb-3"></div>
        </div>
    </div>
    </section>
    <div class="section-title mt-5">
        <h2>How Voxtus Stands Out</h2>
    </div>
    <section class="services" style="background-color:#e4f2ff;">
    <div class="container pt-4 pb-4">
        <div class="row mt-3 mb-3">
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#104CC9" class="bi bi-sliders border-1 border p-2 rounded-2" viewBox="0 0 16 16" style="background-color:#E4F2FF; border:1px solid #104CC9;">
                            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
                        </svg> Experienced Team
                    </h5>
                    <p class="mt-3 text-black">Our certified professionals bring years of experience in Power Automate Cloud and Microsoft ecosystems.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#104CC9" class="bi bi-slack border-1 border p-2 rounded-2" viewBox="0 0 16 16" style="background-color:#E4F2FF; border:1px solid #104CC9;">
                            <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6zm11.386 3.785-1.806-2.41-.776 2.413zm-3.633.004.961-2.989H4.186l.963 2.995zM5.47 5.495 8 13.366l2.532-7.876zm-1.371-.999-.78-2.422-1.818 2.425zM1.499 5.5l5.113 6.817-2.192-6.82zm7.889 6.817 5.123-6.83-2.928.002z" />
                        </svg> Custom Solutions
                    </h5>
                    <p class="mt-3 text-black">We tailor workflows to your specific industry and organizational needs, ensuring a perfect fit.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#104CC9" class="bi bi-slack border-1 border p-2 rounded-2" viewBox="0 0 16 16" style="background-color:#E4F2FF; border:1px solid #104CC9;">
                            <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                        </svg> Customer-Centric Approach
                    </h5>
                    <p class="mt-3 text-black">Your success is our priority. We focus on delivering solutions that add real value to your business.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    @await Html.PartialAsync("_FooterCardComponent")
</main>