@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Power Automate Desktop Services | Voxtus RPA |";
}
@section MetaTags {
    <meta name="title" content="Power Automate Desktop Services | Voxtus RPA">
    <meta name="description" content="Automate repetitive tasks with Voxtus Power Automate Desktop services. Boost accuracy, speed, and productivity with secure RPA solutions tailored to your business." />
    <meta name="keywords" content="Power Automate Desktop Services, RPA solutions, robotic process automation, desktop automation, automate tasks, Microsoft Power Automate Desktop, Voxtus RPA, workflow automation">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
<main id="main">
    <section class="services" style="background-color:#e4f2ff;">
    <div class="container">
    <div class="row flex-column flex-lg-row mb-3 d-flex justify-content-center align-items-center">
        <div class="col-lg-7 px-lg-5 px-sm-4 pb-4 text-center">
            @* <img src="~/images/Logo/PowerPages.png" alt="PowerPages" title="PowerPages" loading="lazy" class="img-fluid p-3" height="120" width="130" /> *@
            @* <h1 class="text-center">Power Automate Cloud</h1> *@
            <h3>Empower Your Business with Robotic Process Automation (RPA)</h3>
            <p class="mt-3">
                Manual, repetitive tasks can slow down your team and drain resources. Power Automate Desktop brings the power of Robotic Process Automation (RPA) to your fingertips, enabling you to automate desktop processes, increase productivity, and focus on what truly matters. At Voxtus, we offer tailored Power Automate Desktop solutions to help you achieve more with less effort.
            </p>
            <button class="btn border border-1 border-primary btn-light">
                <a asp-controller="ContactUs" asp-action="Index" class="text-decoration-none text-primary">
                    Get Started
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </button>
        </div>
        <div class="col-lg-5 pb-4"><center><img src="~/images/Logo/PowerAutomate.png" alt="Power Automate" title="Power Automate" loading="lazy" class="img-fluid" height="220" width="230" /></center></div>
    </div>
    </div>
    </section>
    <section class="services">
    <div class="container section-title mt-5">
        <h2>What is Power Automate Desktop?</h2>
        <p class="mt-5 p-lg-5">Power Automate Desktop is Microsoft’s RPA solution that allows businesses to automate tasks and processes on their local devices. From extracting data to automating complex workflows, Power Automate Desktop empowers organizations to eliminate tedious tasks and ensure accuracy in every step.</p>
    </div>
    </section>
    <section class="services" style="background-image: linear-gradient(to bottom right, #1052D0,#2E80EF,#6EBAFE,#e4f2ff,#6EBAFE, #2E80EF,#1052D0);">
    <div class="container pt-4 pb-4">
        <div class="text-center text-white mt-5">
            <h2>Why Choose Power Automate Desktop?</h2>
        </div>
        <div class="row mt-3 mb-3 pt-5">
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white text-center btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-repeat border-1 border p-2 rounded-2 bg-opacity-25" viewBox="0 0 16 16" style="background-color:#1052D0;">
                        <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                    </svg>
                    <h5 class="mt-3 text-black">Automate Legacy Systems</h5>
                    <p class="mt-3 text-black">Integrate and automate workflows involving desktop applications, even when APIs are not available.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white text-center btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-file-check border-1 border p-2 rounded-2 bg-opacity-25" viewBox="0 0 16 16" style="background-color:#1052D0;">
                        <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1" />
                    </svg>
                    <h5 class="mt-3 text-black">Simplify Complex Tasks</h5>
                    <p class="mt-3 text-black">Automate everything from data entry and file manipulation to system monitoring and reporting.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white text-center btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-file-code border-1 border p-2 rounded-2 bg-opacity-25" viewBox="0 0 16 16" style="background-color:#1052D0;">
                        <path d="M6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708zm2.708 0a.5.5 0 1 0-.708.708L10.293 8 8.646 9.646a.5.5 0 0 0 .708.708l2-2a.5.5 0 0 0 0-.708z" />
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                    </svg>
                    <h5 class="mt-3 text-black">Build Without Code</h5>
                    <p class="mt-3 text-black">Create automation scripts with an intuitive drag-and-drop interface, making it easy for anyone to design workflows.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white text-center btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-eye border-1 border p-2 rounded-2 bg-opacity-25" viewBox="0 0 16 16" style="background-color:#1052D0;">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                    <h5 class="mt-3 text-black">Increased Accuracy and Speed</h5>
                    <p class="mt-3 text-black">Reduce human error and increase the speed of repetitive processes, saving time and resources.</p>
                </div>
            </div>
        </div>
    </div>
    </section>

    <div class="section-title mt-5">
        <h2>Our Power Automate Desktop Services</h2>
    </div>
    <section class="services" style="background-image: linear-gradient(to bottom right, #1052D0,#2E80EF,#6EBAFE,#e4f2ff,#6EBAFE, #2E80EF,#1052D0);">
    <div class="container">
    <div class="row pt-4 pb-4">
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-arrow-left-right border-1 border p-3 rounded-circle bg-primary" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        End-to-End RPA Implementation
                    </h5>
                    <p class="mt-3 text-black">We analyze your processes, identify automation opportunities, and implement Power Automate Desktop to enhance efficiency.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-bezier2 border-1 border p-3 rounded-circle bg-warning" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01q.269.27.484.605C8.246 5.097 8.5 6.459 8.5 8c0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a3 3 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Desktop Workflow Design
                    </h5>
                    <p class="mt-3 text-black">Our experts design workflows to automate complex desktop operations tailored to your business needs.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-patch-minus border-1 border p-3 rounded-circle bg-danger" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5" />
                        <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Process Optimization
                    </h5>
                    <p class="mt-3 text-black">Optimize existing processes for improved performance, reliability, and scalability.</p>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 pt-3 pb-3"></div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-bezier border-1 border p-3 rounded-circle bg-info" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.52 6.52 0 0 0 1.814 9H2.5q.186 0 .358.043a5.52 5.52 0 0 1 3.185-3.185A1.5 1.5 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.52 6.52 0 0 1 2.72 3.5H13.5q-.185 0-.358.043a5.52 5.52 0 0 0-3.185-3.185" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Integration with Power Automate Cloud
                    </h5>
                    <p class="mt-3 text-black">Connect desktop automations with cloud workflows for end-to-end process automation.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-headset border-1 border p-3 rounded-circle bg-secondary" viewBox="0 0 16 16">
                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Training and Support
                    </h5>
                    <p class="mt-3 text-black">Empower your team with the skills to manage and expand automations, with ongoing support to ensure continued success.</p>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 pt-3 pb-3"></div>
        </div>
    </div>
    </section>
    <div class="section-title mt-5">
        <h2>Why Work with Voxtus?</h2>
    </div>
    <section class="services" style="background-color:#e4f2ff;">
    <div class="container pt-4 pb-4">
        <div class="row mt-3 mb-3">
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#104CC9" class="bi bi-sliders border-1 border p-2 rounded-2" viewBox="0 0 16 16" style="background-color:#E4F2FF; border:1px solid #104CC9;">
                            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
                        </svg> Expert Guidance
                    </h5>
                    <p class="mt-3 text-black">Our RPA professionals bring deep expertise in Power Automate Desktop to your projects.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#104CC9" class="bi bi-slack border-1 border p-2 rounded-2" viewBox="0 0 16 16" style="background-color:#E4F2FF; border:1px solid #104CC9;">
                            <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6zm11.386 3.785-1.806-2.41-.776 2.413zm-3.633.004.961-2.989H4.186l.963 2.995zM5.47 5.495 8 13.366l2.532-7.876zm-1.371-.999-.78-2.422-1.818 2.425zM1.499 5.5l5.113 6.817-2.192-6.82zm7.889 6.817 5.123-6.83-2.928.002z" />
                        </svg> Custom Solutions
                    </h5>
                    <p class="mt-3 text-black">We tailor automation solutions to your specific industry challenges.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#104CC9" class="bi bi-slack border-1 border p-2 rounded-2" viewBox="0 0 16 16" style="background-color:#E4F2FF; border:1px solid #104CC9;">
                            <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                        </svg> Comprehensive Support
                    </h5>
                    <p class="mt-3 text-black">From initial setup to ongoing optimization, we are here to ensure your success.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    @await Html.PartialAsync("_FooterCardComponent")
</main>