@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Power BI Services | Business Intelligence Experts |";
}
@section MetaTags {
    <meta name="title" content="Power BI Services | Business Intelligence Experts |">
    <meta name="description" content="Transform data into insights with Voxtus Power BI services. Build dashboards, reports, and analytics to drive smarter business decisions." />
    <meta name="keywords" content="Power BI services, Power BI consulting, Voxtus Power BI, business intelligence solutions, Power BI dashboards, data visualization, Power BI experts, advanced analytics, real-time reporting, Microsoft Power BI">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
<main id="main">
    <section class="services" style="background-color:#FEFCE8;">
    <div class="container">
    <div class="row flex-column flex-lg-row mb-3 d-flex justify-content-center align-items-center">
        <div class="col-lg-7 px-lg-5 px-sm-4 pb-4 text-center">
            <img src="~/images/Services/power bi.png" alt="Power BI" title="Power BI" loading="lazy" class="img-fluid px-3" height="120" width="130" />
            <h1 class="text-center">Power BI</h1>
            <h3 class="mt-4">Unlock the Power of Data with Power BI</h3>
            <p class="mt-3">
                In today’s data-driven world, harnessing the potential of your business data is crucial to stay ahead of the competition. Power BI empowers organizations to visualize, analyze, and share insights in real-time. At Voxtus, we specialize in delivering tailored Power BI solutions that help you transform raw data into actionable insights and make smarter, data-driven decisions.
            </p>
            <button class="btn border border-1 border-primary btn-light">
                <a asp-controller="ContactUs" asp-action="Index" class="text-decoration-none text-primary">
                    Get Started
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </button>
        </div>
        <div class="col-lg-5 pb-4"><center><img src="~/images/Services/Microsoft PowerApps/PowerBI.png" alt="Power BI" title="Power BI" loading="lazy" class="img-fluid" /></center></div>
    </div>
    </div>
    </section>
    <section class="services">
    <div class="container section-title mt-5">
        <h2>What is Power BI?</h2>
        <p class="mt-5 p-lg-5">Power BI is Microsoft’s leading business intelligence platform that combines data visualization, advanced analytics, and seamless integration with other tools to help businesses uncover insights. Whether it’s creating dashboards, generating reports, or conducting deep analyses, Power BI makes data accessible, interactive, and impactful.</p>
    </div>
    </section>
    <div class="section-title mt-5">
        <h2>Why Choose Power BI?</h2>
    </div>
    <section class="services" style="background-color:#FEFCE8;">
    <div class="container pt-4 pb-4">
        <div class="row mt-3 mb-3">
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white btn btn-light">
                    <h5 class="mt-3 text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-clock border-1 border p-2 rounded-2 bg-warning" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                        </svg> Real-Time Data Analytics
                    </h5>
                    <p class="mt-3 text-black">Access up-to-the-minute insights with real-time data streaming and reporting capabilities.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white btn btn-light">
                    <h5 class="mt-3 text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-window-fullscreen border-1 border p-2 rounded-2 bg-warning" viewBox="0 0 16 16">
                            <path d="M3 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                            <path d="M.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5zM1 5V2h14v3zm0 1h14v8H1z" />
                        </svg> Interactive Dashboards
                    </h5>
                    <p class="mt-3 text-black">Build visually compelling dashboards that provide a clear and comprehensive view of your business metrics.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white btn btn-light">
                    <h5 class="mt-3 text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-repeat border-1 border p-2 rounded-2 bg-warning" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5zM0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                        </svg> Seamless Integration
                    </h5>
                    <p class="mt-3 text-black">Connect Power BI with your existing tools, such as Excel, Dynamics 365, Azure, and third-party applications, for a unified data experience.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white btn btn-light">
                    <h5 class="mt-3 text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-eye border-1 border p-2 rounded-2 bg-warning" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                        </svg> AI-Powered Insights
                    </h5>
                    <p class="mt-3 text-black">Leverage built-in AI features to uncover trends, generate forecasts, and gain predictive insights without the need for technical expertise.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pb-3">
                <div class="p-4 h-100 shadow bg-white btn btn-light">
                    <h5 class="mt-3 text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#F2F7F9" class="bi bi-shield-check border-1 border p-2 rounded-2 bg-warning" viewBox="0 0 16 16">
                            <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56" />
                            <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                        </svg> Scalable and Secure
                    </h5>
                    <p class="mt-3 text-black">Enjoy enterprise-grade security and the ability to scale Power BI solutions as your business grows.</p>
                </div>
            </div>
        </div>
    </div>
    </section>

    <div class="section-title mt-5">
        <h2>Our Power BI Services</h2>
    </div>
    <section class="services">
    <div class="container pt-4 pb-4">
        <div class="row mt-3 mb-3">
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center shadow bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-database border-1 border p-3 rounded-circle bg-primary" viewBox="0 0 16 16">
                        <path d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313M13 5.698V7c0 .374-.356.875-1.318 1.313C10.766 8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777A5 5 0 0 0 13 5.698M14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13zm-1 4.698V10c0 .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777A5 5 0 0 0 13 8.698m0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8 15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289 4.096-.777c.324-.147.633-.323.904-.525" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Data Visualization and Reporting
                    </h5>
                    <p class="mt-3 text-black">We design and implement interactive dashboards and reports tailored to your specific business needs, ensuring clarity and accessibility.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center shadow bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-patch-minus border-1 border p-3 rounded-circle bg-secondary" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5" />
                        <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        End-to-End Implementation
                    </h5>
                    <p class="mt-3 text-black">From data integration to report generation, our experts manage the entire Power BI implementation process for you.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center shadow bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-eye border-1 border p-3 rounded-circle bg-danger" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Advanced Analytics
                    </h5>
                    <p class="mt-3 text-black">Unlock deeper insights with advanced analytics, including predictive modeling, trend analysis, and AI-powered recommendations.</p>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 pt-3 pb-3"></div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center shadow bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-bezier border-1 border p-3 rounded-circle bg-warning" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.52 6.52 0 0 0 1.814 9H2.5q.186 0 .358.043a5.52 5.52 0 0 1 3.185-3.185A1.5 1.5 0 0 1 6 5.5zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.52 6.52 0 0 1 2.72 3.5H13.5q-.185 0-.358.043a5.52 5.52 0 0 0-3.185-3.185" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Data Integration and Transformation
                    </h5>
                    <p class="mt-3 text-black">Connect disparate data sources and ensure clean, reliable data through advanced transformation and integration techniques.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 text-center shadow bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#F2F7F9" class="bi bi-headset border-1 border p-3 rounded-circle bg-info" viewBox="0 0 16 16">
                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                    </svg>
                    <h5 class="mt-4 text-black">
                        Training and Support
                    </h5>
                    <p class="mt-3 text-black">Empower your team with the knowledge and tools to leverage Power BI effectively through comprehensive training and ongoing support.</p>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 pt-3 pb-3"></div>
        </div>
    </div>
    </section>
    <div class="section-title mt-5">
        <h2>What Can Power BI Do for Your Business?</h2>
    </div>
    <section class="services" style="background-color:#FEFCE8;">
    <div class="container pt-4 pb-4">
        <div class="row mt-3 mb-3 p-5">
            <div class="col-md-6 col-lg-6 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#FFC107" class="bi bi-bar-chart-fill border-1 border p-1 rounded-2 bg-opacity-25 bg-warning" viewBox="0 0 16 16">
                            <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                        </svg> Identify Trends and Opportunities
                    </h5>
                    <p class="mt-3 text-black">Spot patterns and trends that drive informed decision-making.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#FFC107" class="bi bi-bar-chart-fill border-1 border p-1 rounded-2 bg-opacity-25 bg-warning" viewBox="0 0 16 16">
                            <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                        </svg> Optimize Operations
                    </h5>
                    <p class="mt-3 text-black">Monitor performance metrics and identify areas for improvement in real time.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#FFC107" class="bi bi-bar-chart-fill border-1 border p-1 rounded-2 bg-opacity-25 bg-warning" viewBox="0 0 16 16">
                            <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                        </svg> Enhance Collaboration
                    </h5>
                    <p class="mt-3 text-black">Share dashboards and reports across teams for better collaboration and alignment.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#FFC107" class="bi bi-bar-chart-fill border-1 border p-1 rounded-2 bg-opacity-25 bg-warning" viewBox="0 0 16 16">
                            <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                        </svg> Enable Strategic Decisions
                    </h5>
                    <p class="mt-3 text-black">Provide leadership with actionable insights that support strategic planning and execution.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="section-title mt-5">
        <h2>Why Partner with Voxtus?</h2>
    </div>
    <section class="services" style="background-color:#FEFCE8;">
    <div class="container pt-4 pb-4">
        <div class="row mt-3 mb-3">
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FFC107" class="bi bi-sliders border-1 border p-2 border-warning rounded-2 bg-opacity-25 bg-warning" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
                        </svg> Expertise in Power BI
                    </h5>
                    <p class="mt-3 text-black">Our certified professionals have extensive experience in designing and implementing Power BI solutions.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FFC107" class="bi bi-slack border-1 border p-2 border-warning rounded-2 bg-opacity-25 bg-warning" viewBox="0 0 16 16">
                            <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6zm11.386 3.785-1.806-2.41-.776 2.413zm-3.633.004.961-2.989H4.186l.963 2.995zM5.47 5.495 8 13.366l2.532-7.876zm-1.371-.999-.78-2.422-1.818 2.425zM1.499 5.5l5.113 6.817-2.192-6.82zm7.889 6.817 5.123-6.83-2.928.002z" />
                        </svg> Custom-Tailored Solutions
                    </h5>
                    <p class="mt-3 text-black">We align Power BI implementations with your unique business goals and challenges.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-3 pb-3">
                <div class="p-4 h-100 shadow bg-white">
                    <h5 class="text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FFC107" class="bi bi-slack border-1 border p-2 border-warning rounded-2 bg-opacity-25 bg-warning" viewBox="0 0 16 16">
                            <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                        </svg> Comprehensive Support
                    </h5>
                    <p class="mt-3 text-black">From initial setup to optimization, we’re with you every step of the way.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    @await Html.PartialAsync("_FooterCardComponent")
</main>