@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div style="border:1px solid black" class="section-title">

            <div class="section-title">
                <h2 class="mt-3">
                    RPA Development
                </h2>
                <p class="mx-4">
                    In today's competitive landscape, the drive for greater efficiency and precision has never been higher. 
                    Robotic Process Automation (RPA) stands out as the go-to solution for businesses to streamline operations,
                    minimize errors, and amplify productivity. At Voxtus, we're at the vanguard of this
                    automation revolution, led by Us — our developer with a focused 3-year trajectory in RPA.

                </p>
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon align-items-md-center"><i class="bi bi-pen"></i></div>
                            <h5 class="title">
                                Expertise in Leading RPA Platforms
                            </h5>
                            <p class="description">
                                Our RPA solutions aren't generic; they're specialized. With expertise in industry-leading platforms
                                like UiPath, Blue Prism, and Automation Anywhere, we tailor solutions that perfectly fit your business landscape.

                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Comprehensive RPA Lifecycle Management

                            </h4>
                            <p class="description">
                                From process discovery to bot deployment and beyond, we manage the full spectrum of the RPA journey. 
                                Our solutions integrate seamlessly with your operations, driving tangible benefits right from the get-go.

                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Global Reach, Local Expertise
                            </h4>
                            <p class="description">
                                Whether you're a local startup or an international enterprise, our doors are open. We've served a diverse 
                                clientele, both nationally and globally, understanding the intricate balance between global standards and
                                local requirements.

                            </p>
                        </div>



                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Industry-Specific RPA Implementations
                                </h4>
                            <p class="description">
                                RPA is versatile, but its best implementations are those tailored to specific industries. 
                                We've honed our skills in various sectors, ensuring that our automation solutions address the
                                unique challenges and nuances of each.
                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Advanced Automation Solutions

                            </h4>
                            <p class="description">
                                Beyond standard RPA, we delve into advanced automation, combining the power of RPA with analytics,
                                AI, and ML integrations. This approach ensures that our bots aren't just efficient; they're intelligent.

                            </p>
                        </div>

                        @*<div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title"></h4>
                            <p class="description">
                                 
                            </p>
                        </div>*@

                    </div>
                    <div>
                        <p class="mt-2 mx-4 mb-4">
                            Looking to harness the transformative power of RPA for your business? <a class="text-info" asp-controller="ContactUs" asp-action="Index">Reach Out</a>
                            and let's shape the future of automation together.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>


<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->