@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <main id="main">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div style="border:1px solid black" class="section-title">

            <div class="section-title">
                <h2 class="mt-3">
                    RPA Development
                </h2>
                <p class="mx-4">
                    In today's competitive landscape, the drive for greater efficiency and precision has never been higher. 
                    Robotic Process Automation (RPA) stands out as the go-to solution for businesses to streamline operations,
                    minimize errors, and amplify productivity. At Voxtus, we're at the vanguard of this
                    automation revolution, led by Us — our developer with a focused 3-year trajectory in RPA.

                </p>
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon align-items-md-center"><i class="bi bi-pen"></i></div>
                            <h5 class="title">
                                Expertise in Leading RPA Platforms
                            </h5>
                            <p class="description">
                                Our RPA solutions aren't generic; they're specialized. With expertise in industry-leading platforms
                                like UiPath, Blue Prism, and Automation Anywhere, we tailor solutions that perfectly fit your business landscape.

                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Comprehensive RPA Lifecycle Management

                            </h4>
                            <p class="description">
                                From process discovery to bot deployment and beyond, we manage the full spectrum of the RPA journey. 
                                Our solutions integrate seamlessly with your operations, driving tangible benefits right from the get-go.

                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Global Reach, Local Expertise
                            </h4>
                            <p class="description">
                                Whether you're a local startup or an international enterprise, our doors are open. We've served a diverse 
                                clientele, both nationally and globally, understanding the intricate balance between global standards and
                                local requirements.

                            </p>
                        </div>



                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Industry-Specific RPA Implementations
                                </h4>
                            <p class="description">
                                RPA is versatile, but its best implementations are those tailored to specific industries. 
                                We've honed our skills in various sectors, ensuring that our automation solutions address the
                                unique challenges and nuances of each.
                            </p>
                        </div>
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title">
                                Advanced Automation Solutions

                            </h4>
                            <p class="description">
                                Beyond standard RPA, we delve into advanced automation, combining the power of RPA with analytics,
                                AI, and ML integrations. This approach ensures that our bots aren't just efficient; they're intelligent.

                            </p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-pen"></i></div>
                            <h4 class="title"></h4>
                            <p class="description">
                                 
                            </p>
                        </div>

                    </div>
                    <div>
                        <p class="mt-2 mx-4 mb-4">
                            Looking to harness the transformative power of RPA for your business? <a class="text-info" asp-controller="ContactUs" asp-action="Index">Reach Out</a>
                            and let's shape the future of automation together.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main> *@

<main id="main">
    <div class="container-fluid">
        <div class="w-100 algin-item-center" style="border-bottom-right-radius: 150px; border-top-left-radius:150px; background-color:#57CDF1">
            <center><img src="~/images/rpaicon.svg" class="img-fluid p-3" height="120" width="130" /></center>
        </div>
        <div class="container-fluid mt-2">
            <h1 class="text-center p-3"><b>RPA Development Company</b></h1>
            <p class=" h5 text-info text-center">Transforming Business Efficiency with Voxtus…</p>
            <div class="row p-3">
                <div class="col-lg-7"><img src="~/images/services/rpa/artificial_intelligence.png" class="image-fluid h-100 w-100" /></div>
                <div class="col-lg-5 mt-5 p-3"><h5>We specialize in Robotic Process Automation (RPA) services that revolutionize your business operations through automation. With a focus on Power Automate and UiPath, we are your trusted partners in unleashing the full potential of automation technology.</h5></div>
            </div>
        </div>
        <div class="container-fluid mt-1">
            <h2 class="text-center">Our Approach</h2>
            <div class="row flex-column-reverse flex-lg-row p-3">
                <div class="col-lg-7 mt-5 p-5"><p>We understand that the future of business lies in automation. Manual, repetitive tasks can be time-consuming, error-prone, and drain valuable resources. Our RPA services are designed to liberate your workforce from these mundane tasks, allowing your employees to focus on more meaningful, strategic activities.</p></div>
                <div class="col-lg-5"><img src="~/images/services/rpa/Our_Approach.png" class="image-fluid h-100 w-100" /></div>
            </div>
        </div>

       @*<div class="container-fluid mt-1">
            <div class="row" style="height:100px">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-primary btn-lg w-100 h-100">Ui Path</button>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-secondary btn-lg w-100 h-100">Power Automate Desktop</button>
                </div>
            </div>
        </div> *@

        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-6 text-start"><img src="~/images/services/rpa/pngwing.com.png" class="image-fluid h-50 w-50" /></div>
                <div class="col-6 text-end"><h2>The Leader in Enterprise Automation</h2></div>
            </div>
            <p class="p-4">UiPath is a global leader in RPA, known for its comprehensive automation capabilities. Our team at Voxtus has a deep understanding of UiPath's features and functionalities, enabling us to design and implement robust automation solutions that drive efficiency and productivity across your organization.</p>
        </div>
        <div class="container-fluid mt-1">
            <h2 class="text-center">UiPath Development Services</h2>
            <p class="p-3">Our dedicated team of UiPath RPA Developers collaborates closely with your organization to help you reach your desired objectives. Our comprehensive services cover everything from consultation and UiPath integration to ongoing support and maintenance, ensuring top-notch quality every step of the way.</p>
        
        <div class="row p-3">
            <div class="col-lg-6 text-start mt-5"><img src="~/images/services/dynamics365/businesscentral.svg" class="img-fluid h-75 w-75" /></div>
            <div class="col-lg-6 text-end shadow-lg p-5 mt-3">
                <h5>
                    Exploration and Analysis of Processes
                </h5>
                <p>We carefully examine your company's needs and thoroughly review your existing processes to find suitable opportunities for automation with UiPath.</p>
            </div>
        </div>
        <div class="row flex-column-reverse flex-lg-row p-3">
            <div class="col-lg-6 shadow-lg p-5 mt-3 rounded">
                <h5>UiPath RPA Consulting </h5>
                <p>Our team of certified UiPath experts is here to assist you in defining the scope of your automation projects, developing proof-of-concepts, and crafting detailed plans for the successful implementation of UiPath solutions tailored to your needs and goals.</p>
            </div>
            <div class="col-lg-6 mt-5"><img src="~/images/services/dynamics365/expertise.svg" class="img-fluid h-75 w-75" /></div>
        </div>
        <div class="row p-3">
            <div class="col-lg-6 mt-5 text-start"><img src="~/images/services/dynamics365/AssessmentandStrategy.svg" class="img-fluid h-75 w-75" />
        </div>
            <div class="col-lg-6 shadow-lg p-5 mt-3 rounded">
                <h5>UiPath Managed Services</h5>
                <p>With UiPath Managed Services, we provide continuous support and maintenance for your RPA solutions. This includes setting up end-to-end RPA solutions, managing UiPath environments, overseeing automation processes, and promptly addressing critical issues to ensure the seamless operation of your automation platform.</p>
            </div>
        </div>
        <div class="row flex-column-reverse flex-lg-row p-3">
            <div class="col-lg-6 shadow-lg p-5 mt-3 rounded">
                <h5>UiPath Implementation</h5>
                <p>Our UiPath experts put your automation strategies into action. Leveraging UiPath's capabilities, we configure, build, and deploy RPA Test Bots, ensuring a successful implementation process.</p>
            </div>
            <div class="col-lg-6 mt-5"><img src="~/images/services/dynamics365/TestingandQualityAssurance.svg" class="img-fluid h-75 w-75" /></div>
        </div>
        <div class="row p-3">
            <div class="col-lg-6 mt-5 text-start"><img src="~/images/services/dynamics365/DevelopmentandIntegration.svg" class="img-fluid h-75 w-75" /></div>
            <div class="col-lg-6 shadow-lg p-5 mt-3 rounded">
                <h5>UiPath Full Development & Deployment</h5>
                <p>Achieve end-to-end RPA bot development and deployment through our UiPath services. We meticulously craft automation workflows and deploy them within your IT environment, ensuring the uninterrupted flow of your business operations.</p>
            </div>
        </div>
        </div>
        <div class="container-fluid"><img src="~/images/services/rpa/abc.png" class="img-fluid h-100 w-100" /></div>
        <div class="container-fluid mt-1">
            <h2 class="text-center">Microsoft Power Automate Desktop</h2>
            <p class="mt-4">Microsoft Power Automate Desktop is a powerful and user-friendly automation tool designed to simplify and streamline repetitive tasks on your Windows computer. With Power Automate Desktop, you can automate a wide range of activities, such as data entry, data extraction, document generation, and much more. </p>
            <p>Power Automate Desktop is part of the Microsoft Power Automate suite, which also includes cloud-based automation capabilities. However, Power Automate Desktop is specifically focused on automating tasks on your local Windows machine.</p>
            <div class="row gap-4">
                <div class="col-lg-1 p-5"></div>
                <div class="col-lg-3 shadow p-5">
                    <img src="~/images/services/RPA/Workflow Development.svg" class="img-fluid h-25 w-100" />
                    <h6 class="mt-1">Power Automate Workflow Development</h6>
                    <p>Our expert team specializes in designing custom Power Automate workflows tailored to your specific business needs. Whether it's automating data entry, workflow approvals, or complex business processes, we create efficient solutions that boost productivity.</p>
                </div>
                <div class="col-lg-3 shadow p-5">
                    <div class="container-fluid">
                        <img src="~/images/services/RPA/Consultation.svg" class="img-fluid h-25 w-100" /></div>
                    <h6 class="mt-5">Process Automation Consultation</h6>
                    <p>We provide comprehensive consultations to analyze your current processes and identify automation opportunities. Our consultants will work closely with your team to design a strategic automation roadmap, ensuring a smooth transition to automated workflows.</p>
                </div>
                <div class="col-lg-3 shadow p-5">
                    <div class="container-fluid">
                        <img src="~/images/services/RPA/Integration Services.svg" class="img-fluid h-25 w-100" /></div>
                    <h6 class="mt-1">Power Automate Integration Services</h6>
                    <p>Seamlessly connect your existing software and systems with Power Automate. Our integration services ensure that your Power Automate workflows work harmoniously with your CRM, ERP, databases, and more, enabling data flow and automation across your organization.</p>
                </div>
                <div class="col-lg-1 p-5"></div>
                <div class="col-lg-3 shadow p-5">
                    <img src="~/images/services/RPA/Training and Workshops.svg" class="img-fluid h-25 w-100" />
                    <h6 class="mt-1">Power Automate Training and Workshops</h6>
                    <p>Empower your team with the knowledge and skills needed to leverage Power Automate effectively. Our training sessions and workshops cover everything from basic usage to advanced automation techniques, enabling your team to become proficient users.</p>
                </div>
                <div class="col-lg-3 shadow p-5">
                    <img src="~/images/services/Dynamics365/SupportandMaintenance.svg" class="img-fluid h-25 w-100" />
                    <h6 class="mt-1">Maintenance and Support</h6>
                    <p>Our commitment to your success doesn't end with implementation. We offer ongoing maintenance and support services to ensure that your Power Automate workflows remain efficient, up-to-date, and error-free.</p>
                </div>
                <div class="col-lg-3 shadow p-5">
                    <img src="~/images/services/RPA/Optimization.svg" class="img-fluid h-25 w-100" />
                    <h6 class="mt-1">Power Automate Optimization</h6>
                    <p>Already using Power Automate? Let us optimize your existing workflows for better performance, cost-efficiency, and scalability. We'll fine-tune your automation processes to maximize their potential.</p>
                </div>
                <div class="col-lg-1 p-5"></div>
                <div class="col-lg-3 shadow p-5">
                    <img src="~/images/services/RPA/Connectors.svg" class="img-fluid h-25 w-100" />
                    <h6 class="mt-1">Custom Power Automate Connectors</h6>
                    <p>If you require unique integrations not covered by standard connectors, we specialize in developing custom connectors tailored to your specific requirements, expanding the capabilities of Power Automate for your organization.</p>
                </div>
                <div class="col-lg-3 shadow p-5">
                    <img src="~/images/services/RPA/Security and Compliance.svg" class="img-fluid h-25 w-100" />
                    <h6 class="mt-1">Power Automate Security and Compliance</h6>
                    <p>Ensure your automated workflows adhere to the highest security and compliance standards. We'll implement robust security measures and compliance checks to protect your data and ensure regulatory compliance.</p>
                </div>
                <div class="col-lg-3 shadow p-5">
                    <img src="~/images/services/RPA/Upgrades and Migrations.svg" class="img-fluid h-25 w-100" />
                    <h6 class="mt-1">Power Automate Upgrades and Migrations</h6>
                    <p>Stay up-to-date with the latest Power Automate features and capabilities. We'll handle seamless upgrades and migrations to ensure your automation processes continue to run smoothly.</p>
                </div>
                <div class="col-lg-1 p-5"></div>
                <div class="col-lg-3 p-5"></div>
                <div class="col-lg-3 shadow p-5">
                    <img src="~/images/services/RPA/Solutions.svg" class="img-fluid h-25 w-100" />
                    <h6 class="mt-1">Bespoke Power Automate Solutions</h6>
                    <p>Have a unique automation challenge? Our team excels in crafting bespoke Power Automate solutions designed from the ground up to meet your specific business requirements.</p>
                </div>
            </div>
        </div>
        </div>
        </main>


<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->