@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Power Platform Services - Custom Apps, Automation, BI |";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<main id="main">
    @* <div class="container-fluid"> *@
    <div class="w-100 algin-item-center" style="border-bottom-right-radius: 150px; border-top-left-radius:150px; background-color:#d2e9fa"><center><img src="~/images/seologo.png" alt="Search Engine Optimization (SEO)" class="img-fluid p-3" height="120" width="130" /></center></div>
    <div class="container-fluid p-5">
        <div class="section-title">
            <h1 class="text-center">Search Engine Optimization (SEO)</h1>
        </div>
        <p class="p-4">
            Search Engine Optimization (SEO) is the practice of improving a website's visibility and ranking on search engine results pages (SERPs). It involves optimizing various aspects of a website, such as its content, structure, and HTML code, to make it more attractive to search engines. By using relevant keywords, creating high-quality content, and obtaining backlinks from reputable sites, SEO aims to increase organic (non-paid) traffic to a website. SEO is essential for businesses and individuals looking to increase their online presence, attract more visitors, and ultimately, drive conversions and achieve their goals
        </p>
</div>
    <div class="section-title">
        <h2 class="text-center">Our SEO Services</h2>
    </div>
    <div class="container-fluid shadow-lg">
        <div class="row p-4">
            <div class="col-lg-2"><img src="~/images/services/dynamics365/assessmentandstrategy.svg" alt="Assessment and Strategy" class="h-100 w-100 mx-auto d-block" /></div>
            <div class="col-lg-4 shadow p-4">
                <p>
                    <b>
                        Keyword Research:
                    </b>
                </p><p>
                    As part of our process, we conduct thorough research to identify the keywords and phrases that your target audience is using to find your products or services, and then we optimize your website's content, metadata, and other elements to incorporate these keywords.
                </p>
            </div>
            <div class="col-lg-2 mt-4">
                <img src="~/images/services/dynamics365/customizationandconfiguration.svg" alt="Customization and Configuration" class="h-100 w-75 mx-auto d-block" />
            </div>
            <div class="col-lg-4 shadow p-4">
                <p>
                    <b>
                        On-Page optimization:
                    </b>
                </p><p>
                    The structure and content of your website will be analyzed to ensure that they are search engine-friendly, and HTML, title tags, meta descriptions, header tags, images, as well as other elements will be optimized to ensure that they are relevant and authoritative for search engines.
                </p>

            </div>
        </div>

        <div class="row p-4">
            <div class="col-lg-2"><img src="~/images/services/dynamics365/developmentandintegration.svg" alt="Development and Integration" class="h-100 w-100 mx-auto d-block" /></div>
            <div class="col-lg-4 shadow p-4">
                <p>
                    <b>
                        Off-Page Optimization:
                    </b>
                </p><p>
                    You can rely on us to create a comprehensive off-page SEO strategy to improve your website's authority, trustworthiness, and relevance. Off-page strategies may include building high-quality backlinks, creating compelling content, optimizing your social media profiles, and more.
                </p>
            </div>
            <div class="col-lg-2 mt-4">
                <img src="~/images/services/dynamics365/testingandqualityassurance.svg" alt="Testing and Quality Assurance" class="h-100 w-100 mx-auto d-block" />
            </div>
            <div class="col-lg-4 shadow p-4">
                <p>
                    <b>
                        Local SEO:
                    </b>
                </p><p>
                    Our local SEO experts will optimize your website for local search results, help you appear in local business directories, and help you appear in Google Maps.
                </p>

            </div>
        </div>

        <div class="row p-4">
            <div class="col-lg-2"><img src="~/images/services/RPA/Optimization.svg" alt="Deployment and Training" class="h-100 w-100 mx-auto d-block" /></div>
            <div class="col-lg-4 shadow p-4">
                <p>
                    <b>
                        Reporting and Analysis:
                    </b>
                </p><p>
                    Our monthly reports will illustrate the performance of your website in search engine results, traffic, leads, and revenue. With this information, we will take data-driven decisions that will help improve your website.
                </p>
            </div>
            <div class="col-lg-2 mt-4">
                <img src="~/images/services/RPA/Consultation.svg" alt="Support and Maintenance" class="h-100 w-100 mx-auto d-block" />
            </div>
            <div class="col-lg-4 shadow p-4">
                <p>
                    <b>
                        eCommerce SEO:
                    </b>
                </p><p>
                    E-commerce SEO focuses on optimizing online stores to improve their visibility and ranking on search engines. It involves optimizing product descriptions, images, and site structure, as well as implementing strategies to enhance user experience and increase conversion rates. E-commerce SEO aims to drive more organic traffic and boost sales for online retailers.
                </p>

            </div>
        </div>
        <div class="row p-4">
            <div class="col-lg-2"><img src="~/images/services/RPA/Connectors.svg" alt="Deployment and Training" class="h-100 w-100 mx-auto d-block" /></div>
            <div class="col-lg-4 shadow p-4">
                <p>
                    <b>
                        Technical SEO:
                    </b>
                </p><p>
                    Technical SEO refers to the optimization of a website's technical aspects to improve its search engine visibility and user experience. It involves optimizing site speed, mobile-friendliness, indexing, and crawlability. Technical SEO ensures that search engines can efficiently crawl, index, and rank a website, leading to better organic search performance.
                </p>
            </div>
            <div class="col-lg-2 mt-4">
                <img src="~/images/services/dynamics365/supportandmaintenance.svg" alt="Support and Maintenance" class="h-100 w-100 mx-auto d-block" />
            </div>
            <div class="col-lg-4 shadow p-4">
                <p>
                    <b>
                        Link Building:
                    </b>
                </p><p>
                    Link building in SEO is the process of acquiring hyperlinks from other websites to your own. These links act as "votes of confidence" in the eyes of search engines, helping to improve your site's authority and ranking. Quality link building involves obtaining links from relevant, reputable sites, enhancing your site's credibility.
                </p>

            </div>
        </div>
        </div>
    <div class="section-title mt-4">
        <h2 class="text-center">How Voxtus SEO can help you?</h2>
    </div>
    <p class="pb-4">The Voxtus SEO services can help you attract customers online by driving traffic to your website. In order to make your website more relevant to the keyword phrases entered by search engine users, we use data driven tactics in accordance with the recommendations provided by search engines in order to improve it so that search engines can find your website more easily. The dedicated efforts of Voxtus SEO could help your website rank on the first page of search engines.</p>
    <div class="container-fluid mt-4 p-5 shadow-lg" style="text-align:center;background-color:#badef5">
        <h5 class="m-4 fw-bolder">Explore the pathways to accelerate your business expansion with our expert assistance.</h5>
        <h5 class="m-1 fw-bolder"><a asp-controller="ContactUs" asp-action="Index" style="text-decoration:none;color:white">Contact us</a> today to discuss your project, and let's bring your vision to life.</h5>
    </div>
</main>

<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />



<!--The End of the Links Section-->