@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main id="main">
    <section>
        <div class="container mt-2" style="border:1px solid black">
            <center><h2 class="mx-2 mt-4">Terms Of Services</h2></center>
        <p class="mx-3"><b>Last Updated:</b>14/08/2023</p>
            <b class="mx-3">Welcome to Voxtus.</b>
            <p class="mx-3">Please read these Terms of Service carefully before using the Service provided by Voxtus.</p>
            <b class="mx-3">1. Acceptance of Terms</b>
            <p class="mx-3">By accessing or using our Service, you agree to be bound by these Terms. If you disagree with any part of the terms, you may not access the Service.</p>
            <b class="mx-3">2. Use of the Service</b>
            <p class="mx-3">You agree not to misuse the Service or help anyone else do so. You agree not to engage in unauthorized, disruptive, or illegal activities while using the Service.</p>
            <b class="mx-3">3. Termination</b>
            <p class="mx-3">We reserve the right, at our sole discretion, to terminate or suspend your access to our Service without notice for conduct that we believe violates these Terms or is harmful to other users, us, or third parties, or for any other reason.</p>
            <b class="mx-3">4. Changes to Terms</b>
            <p class="mx-3">Voxtus reserves the right to change these Terms at any time. We will notify users of any changes by posting the new Terms on this page. It is your responsibility to review these Terms periodically for changes.</p>
            <b class="mx-3">5. Data and Privacy</b>
            <p class="mx-3">By using our Service, you agree to the collection and use of information as set forth in our Privacy Policy.</p>
            <b class="mx-3">6. Liability</b>
            <p class="mx-3">Our Service is provided without warranty of any kind, express or implied. We do not guarantee the accuracy, completeness, or usefulness of this service.</p>
            <b class="mx-3">7. Governing Law</b>
            <p class="mx-3">These Terms shall be governed by the laws of India, without respect to its conflict of law principles.</p>
            <b class="mx-3">8. Feedback</b>
            <p class="mx-3">We welcome feedback, comments, and suggestions for improvements to the Service. You can submit feedback by emailing us at info@voxtus.com</p>
            <b class="mx-3">9. Contact Information</b>
            <p class="mx-3">
            For any queries related to these Terms, please contact us:
            Email:- info@voxtus.com
            Address: Lane No 5F, Shivraj Nagar, Badonwala, Uttarakhand, 248007 India
        </p>
            <h3 class="mx-3"><strong>Cookies</strong></h3>
            <p class="mx-3">We employ the use of cookies. By accessing Voxtus, you agreed to use cookies in agreement with the Voxtus Technology Private Limited's Privacy Policy. </p>
            <p class="mx-3">Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate partners may also use cookies.</p>
            <h3 class="mx-3"><strong>License</strong></h3>
            <p class="mx-3">Unless otherwise stated, Voxtus Technology Private Limited and its licensors own the intellectual property rights for all material on Voxtus. All intellectual property rights are reserved. You may access this from Voxtus for your own personal use subjected to restrictions set in these terms and conditions.</p>
            <p class="mx-3">You must not:</p>
            <ul class="mx-3">
            <li>Republish material from Voxtus</li>
            <li>Sell, rent or sub-license material from Voxtus</li>
            <li>Reproduce, duplicate or copy material from Voxtus</li>
            <li>Redistribute content from Voxtus</li>
        </ul>
            <p class="mx-3">Voxtus Technology Private Limited reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
            <p class="mx-3">You warrant and represent that:</p>

            <p class="mx-3">You hereby grant Voxtus Technology Private Limited a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
            <h3 class="mx-3"><strong>Hyperlinking to our Content</strong></h3>
            <p class="mx-3">The following organizations may link to our Website without prior written approval:</p>
            <ul class="mx-3">
            <li>Government agencies</li>
            <li>Search engines</li>
            <li>News organizations</li>
            <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses and</li>
            <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
        </ul>
            <h3 class="mx-3"><strong>iFrames</strong></h3>
            <p class="mx-3">Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
            <h3 class="mx-3"><strong>Removal of links from our website</strong></h3>
            <p class="mx-3">If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
            <p class="mx-3">We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
            <h3 class="mx-3"><strong>Disclaimer</strong></h3>
            <p class="mx-3">To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
            <ul class="mx-3">
            <li>limit or exclude our or your liability for death or personal injury</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law or</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
        </ul>
            <p class="mx-3">The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>

            <p class="mx-3">As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
        </div>
    </section>
</main>






<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->
