@*    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@*<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>Voxtus</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="active " href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li class="dropdown">
                    <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header>*@<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Voxtus</span></h2>
                <p class="animate__animated animate__fadeInUp">Where Software Meets Imagination</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown"><span>Voxtus - </span>We Shape Your Data In Visualisation </h2>
                <p class="animate__animated animate__fadeInUp">Shape your data in Visualised Reports</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Build Your Business Apps</h2>
                <p class="animate__animated animate__fadeInUp">We make business proccess easy using business applications.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->



<main id="main">


    <!-- ======= Services Section ======= -->
    
    <section class="services">
        <div class="section-title">
            <h2>Services</h2>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href=""> Development Services</a></h4>
                        <p class="description">
                            Each engagement with Voxtus begins with a thorough discussion of your
                            business and technological issues and objectives. We then create a plan that
                            will direct our work, ensure success, and provide you with the best software
                            development services possible.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Dynamics and Power Platform Developement</a></h4>
                        <p class="description">
                            At Voxtus, we offer specialized services for creating Business Applications
                            that give your business a competitive edge. Our Office 365 consultants help
                            brands and organizations in increasing their visibility and increase your Business.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href=""> Product Development</a></h4>
                        <p class="description">
                            To create scalable solutions, we utilize the right combination of
                            technologies, data, and design. With our leading software product
                            development solutions, we produce captivating products that offer an
                            incredible user experience.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href=""> Support and Maintenance</a></h4>
                        <p class="description">
                            With the best software support services, we provide secure and stable
                            software maintenance that focuses on important business concerns. Our tech
                            professionals will provide you with the highest quality support and
                            maintenance services in the shortest amount of time possible.
                        </p>
                    </div>
                </div>

                

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="section-title">
            <h2>Why US</h2>
            <p>Thank you for considering our company for your needs. We understand that you have many options to choose from, and we appreciate the opportunity to explain why we believe our company is the right choice for you.</p>
        </div>
        <div class="container">

            <div class="row">
               
                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Expertise</a></h4>
                        <p class="description">Our team is made up of highly skilled professionals with years of experience in their respective fields. We have a proven track record of delivering quality results to our clients and we are confident that we can meet and exceed your expectations.</p>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Commitment to quality</a></h4>
                        <p class="description">We take great pride in our work and we are committed to delivering high-quality results every time. We use only the best materials and equipment and we follow strict quality control procedures to ensure that our work meets the highest standards.</p>
                    </div>
                    

                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Competitive pricing</a></h4>
                        <p class="description">We understand that cost is a major factor in your decision-making process. That's why we offer competitive pricing without compromising on quality. We believe that our pricing is fair and transparent, and we are happy to work with you to find a solution that fits your budget.</p>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Customer service</a></h4>
                        <p class="description">We believe that exceptional customer service is the key to success. Our team is committed to providing timely and personalized support to ensure that you are completely satisfied with our services.</p>
                    </div>
                    

                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>Features</h2>
                <p></p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Custom Software Development</h3>
                    <p class="fst-italic">
                      
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i>Voxtus specializes in developing custom software solutions tailored to meet the specific needs of its clients.</li>
                        <li><i class="bi bi-check"></i>Voxtus design and develop software from scratch or modify existing software to improve its functionality.</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>Cloud Services</h3>
                    <p class="fst-italic">
                       
                    </p>
                    <p>
                       Voxtus deploy and manage software applications on the cloud. This includes cloud infrastructure management, cloud migration, and cloud optimization
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-3.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>Mobile App Development</h3>
                    <p></p>
                    <ul>
                        <li><i class="bi bi-check"></i>Voxtus create custom mobile applications for Android and iOS platforms that are optimized for performance, security, and user experience.</li>
                        @*<li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>*@
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-4.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>Agile Development Methodology</h3>
                    <p class="fst-italic">
                        @*Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.*@
                    </p>
                    <p>
                       Voxtus use Agile development methodology to ensure that software is developed in an iterative and incremental manner. This helps ensure that the software is delivered on time, on budget, and meets the client's needs
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

</main>