@*    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@*<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>Voxtus</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="active " href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li class="dropdown">
                    <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        
    </div>
</header>*@<!-- End Header -->
<!-- ======= Hero Section ======= -->
@* <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Voxtus</span></h2>
                <p class="animate__animated animate__fadeInUp">Where Software Meets Imagination</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown"><span>Voxtus - </span>We Shape Your Data In Visualization </h2>
                <p class="animate__animated animate__fadeInUp">Shape your data in Visualized Reports</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Build Your Business Apps</h2>
                <p class="animate__animated animate__fadeInUp">We make business process easy using business applications.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section> *@<!-- End Hero -->



<!--Slide created by shivani-->
@* <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade animate__animated animate__bounceInDown mt-4" style="background-color:#b4d9ed;border-bottom-left-radius:90px;border-bottom-right-radius:90px;border-top-right-radius:150px;border-top-left-radius:150px; border:3px solid #81bcdb" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
        <div class="carousel-item active">
                <div class="carousel-container position-relative">
                <img class="img-responsive d-block img-fluid animate__flash pb-4 animate__animated animate__bounceInRight animate__delay-1s" src="~/images/powerappsicon2.png" alt="First slide" style="width:500%">
                <div class="position-absolute" style="top: 70%;left: 50%;transform: translate(-50%, -50%);">
                    <h2 class="animate__animated animate__bounceInDown animate__delay-2s text-black text-center display-6 "><b>Welcome to <span>Voxtus</span></b></h2>
                    <h6 class="animate__animated animate__fadeInUp animate__zoomInUp animate__delay-3s text-center">Where Software Meets Imagination</h6>
                </div>
                </div>
        </div>
        <div class="carousel-item">
                <div class="carousel-container">
                <img class=" img-responsive d-block img-fluid animate__flash pb-4 animate__animated animate__bounceInRight animate__delay-1s" src="~/images/Untitled-3.png" alt="First slide" style="width:500%">
                <div class="position-absolute" style="top: 75%;left: 50%;transform: translate(-50%, -50%);">
                    <h2 class="animate__animated animate__bounceInDown animate__delay-2s mx-0 text-black text-center display-6 line-inner"><b><span>Voxtus - </span>We Shape Your Data In Visualization</b> </h2>
                    <h6 class="animate__animated animate__fadeInUp animate__zoomInUp animate__delay-3s text-center">Shape your data in Visualized Reports</h6>
                    </div>
                </div>
        </div>
        <div class="carousel-item">
                <div class="carousel-container">
                <img class="img-responsive d-block img-fluid animate__flash pb-4 animate__animated animate__bounceInRight animate__delay-1s" src="~/images/Untitled-6.png" alt="Third slide" style="width:500%">
                <div class="position-absolute" style="top: 73%;left: 50%;transform: translate(-50%, -50%);">
                    <h2 class="animate__animated animate__bounceInDown animate__delay-2s text-black text-center display-6"><b>Build Your Business Apps</b></h2>
                    <h6 class="animate__animated animate__zoomInUp animate__delay-3s text-center">We make business process easy using business applications.</h6>
                    </div>
                </div>
        </div>
    </div>
</div> *@
<main id="main">
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade mt-4 animate__animated animate__bounceInDown mt-5" style="background-color:#567280;border-bottom-left-radius:90px;border-bottom-right-radius:90px" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
        <div class="carousel-item active mt-5 mb-5">
            <div class="carousel-container">
                <img class="d-block img-fluid animate__animated animate__bounceInRight animate__delay-1s mx-auto" src="~/images/Powerplatform.png" alt="First slide">
                <div class="carousel-caption">
                    <h2 class="animate__animated animate__bounceInDown animate__delay-2s text-black">Welcome to <span>Voxtus</span></h2>
                    <h6 class="animate__animated animate__zoomInUp animate__delay-3s">Where Software Meets Imagination</h6>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-container mt-5 mb-5">
                <img class="d-block img-fluid animate__animated animate__bounceInLeft animate__delay-1s mx-auto" src="~/images/Dynamics365.png" alt="Second slide">
                <div class="carousel-caption">
                    <h2 class="animate__animated animate__bounceInDown animate__delay-2s text-black"><span>Voxtus -</span> We Shape Your Data In Visualization</h2>
                    <h6 class="animate__animated animate__zoomInUp animate__delay-3s">Shape your data in Visualizezed Reports</h6>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-container mt-5 mb-5">
                <img class="d-block img-fluid animate__animated animate__bounceInRight animate__delay-1s mx-auto" src="~/images/DotNet.png" alt="Third slide">
                <div class="carousel-caption">
                    <h2 class="animate__animated animate__bounceInDown animate__delay-2s text-black">Build Your Business Apps</h2>
                    <h6 class="animate__animated animate__zoomInUp animate__delay-3s">We make business processes easy using business applications.</h6>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-bs-slide="prev">
        <span class="bi bi-arrow-left-square-fill h1 text-white" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-bs-slide="next">
        <span class=" bi bi-arrow-right-square-fill h1" aria-hidden="true"></span>
    </a>
</div>
</main>
<!--End of slide-->


<main id="main">


    <!-- ======= Services Section ======= -->

    <section class="services">
        <div class="section-title">
            <h2>Services</h2>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up">
                    <a asp-controller="Services" asp-action="PowerPlatformDevelopment">
                        @* <div class="icon-box icon-box-pink">
                            <div class="icon"><img src="~/images/services/powerappsicon.png" alt="Power Apps Services" height="50" width="60" /></div> *@
                        <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/services/powerappsicon.png" alt="Power Apps Services" height="50" width="60" /></div>
                            <h4 class="title text-black mt-5"> Power Platform Development</h4>
                            <p class="description text-black mt-3">
                                In today's digital age, businesses across industries need tailored solutions
                                to optimize their operations and foster growth. With 8 years of expertise in
                                Power Apps development, we specialize in creating custom applications that align
                                seamlessly with your business objectives.
                            </p>
                            <div class="read-more"><a asp-controller="Services" asp-action="PowerPlatformDevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                    <a asp-controller="Services" asp-action="Dynamics365Development">
                        @* <div class="icon-box icon-box-blue">
                            <div class="icon"><img src="~/images/Dynamics365-logo.webp" alt="Dynamics 365 Development Services" height="50" width="80" /></div> *@
                        <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/Dynamics365-logo.webp" alt="Dynamics 365 Development Services" height="53" width="80" /></div>
                            <h4 class="title text-black mt-5">Dynamics 365 Development</h4>
                            <p class="description text-black mt-3">
                                In the interconnected ecosystem of modern businesses, Dynamics 365 stands as a cornerstone for
                                efficiency and growth. With an enriched 8-year journey exclusively in Dynamics 365 module development,
                                I commit to transforming your business operations and customer experiences.

                            </p>
                            <div class="read-more"><a asp-controller="Services" asp-action="Dynamics365Development"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
                    <a asp-controller="Services" asp-action="DOTNETDevelopment">
                        @* <div class="icon-box icon-box-cyan">
                            <div class="icon"><img src="~/images/dotneticon.png" alt=".NET Development Services" height="50" width="60" /></div> *@
                        <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/dotneticon.png" alt=".NET Development Services" height="50" width="60" /></div>
                            <h4 class="title text-black mt-5">.NET Development</h4>
                            <p class="description text-black mt-3">
                                In today's digital landscape, businesses seek agile, reliable, and high-performance software solutions.
                                Through the prowess of the .NET framework, Voxtus Technology delivers just that. Our developers with
                                8 rich years in .NET - we blend technical acumen with practical insights to offer tailor-made solutions.

                            </p>
                            <div class="read-more"><a asp-controller="Services" asp-action="DOTNETDevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                    <a asp-controller="Services" asp-action="RPADevelopment">
                        @* <div class="icon-box icon-box-green">
                            <div class="icon"><img src="~/images/rpaicon.svg" height="50" width="60" /></div> *@
                        <div class="shadow p-4 btn btn-light h-100">
                            <div class="text-center"><img src="~/images/rpaicon1.svg" alt="RPA" height="50" width="60" /></div>
                            <h4 class="title text-black mt-5">RPA Development</h4>
                            <p class="description text-black mt-3">
                                In today's competitive landscape, the drive for greater efficiency and precision has never been higher.
                                Robotic Process Automation (RPA) stands out as the go-to solution for businesses to streamline operations,
                                minimize errors, and amplify productivity. At Voxtus, we're at the vanguard of this
                                automation revolution, led by our developer with a focused 3-year trajectory in RPA.

                            </p>
                            <div class="read-more"><a asp-controller="Services" asp-action="RPADevelopment"><i class="bi bi-arrow-right"></i> Read More</a></div>
                        </div>
                    </a>
                </div>



            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
        <div class="section-title">
            <h2>Why US</h2>
            <p class="p-5">
                We understand that you have many options to choose from, and we appreciate the opportunity to explain why we believe our company is the right choice for you. we don't just provide services; we craft solutions tailored to your unique challenges and goals.
                <br />
                why should you trust Voxtus with your digital needs? Here are compelling reasons.
            </p>
        </div>
        <div class="container">

            <div class="row">

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        @*<div class="icon"><i class="bi bi-airplane-engines-fill"></i></div>*@
                        <div class="icon"><i class="bi bi-buildings-fill"></i></div>
                        <h4 class="title">Industry Expertise</h4>
                        <p class="description">
                            Our seasoned team brings years of experience across a multitude of technologies and sectors. This depth of knowledge ensures that you're not just getting a generic solution but one refined by insights and best practices.
                        </p>
                    </div>
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        <div class="icon"><i class="bi bi-sun"></i></div>
                        <h4 class="title">Innovative Approach</h4>
                        <p class="description">
                            In a rapidly evolving digital landscape, staying ahead of the curve is paramount. Our commitment to continuous learning and adoption of the latest technologies means you always get the most innovative and efficient solutions.
                        </p>
                    </div>
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        @*<div class="icon"><i class="bi bi-align-end"></i></div>*@
                        <div class="icon"><i class="bi bi-headset"></i></div>
                        <h4 class="title">End-to-End Support</h4>
                        <p class="description">
                            From the initial consultation to post-deployment support, we're by your side. We believe in building lasting relationships, and our comprehensive support ensures that your solutions keep delivering value long after implementation.
                        </p>
                    </div>
                    <div class="icon-box"> 
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        <div class="icon"><i class="bi bi-graph-up-arrow"></i></div>
                        <h4 class="title">Data-Driven Decision-Making</h4>
                        <p class="description">
                            With a keen emphasis on analytics and data, we ensure that every strategy, every solution, is backed by numbers. This data-driven approach ensures precision, efficiency, and measurable results.
                        </p>
                    </div>
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        <div class="icon"><i class="bi bi-diagram-3"></i></div>
                        <h4 class="title">Ethical Practices</h4>
                        <p class="description">
                            Integrity is at the heart of what we do. Whether it's data security, transparent billing, or honest advice, you can rely on us to act with the utmost professionalism and ethics.
                        </p>
                    </div>


                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        <div class="icon"><i class="bi bi-sliders2"></i></div>
						@*<div class="icon">  <img src="~/images/customized_solution1.png" height="40" width="40" /></div>*@
                        <h4 class="title">Customized Solutions</h4>
                        <p class="description">
                            Every business is unique, and we understand that. Our approach focuses on understanding your specific needs, challenges, and objectives, allowing us to provide solutions tailor-made for you.
                        </p>
                    </div>
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        <div class="icon"><i class="bi bi-infinity"></i></div>
                        <h4 class="title">Transparent Collaboration</h4>
                        <p class="description">
                            Trust is the foundation of any successful partnership. With us, you're always in the loop. Our transparent processes ensure that you're part of every decision, and our collaborative approach ensures that your vision is realized accurately.
                        </p>
                    </div>
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        <div class="icon"><i class="bi bi-piggy-bank"></i></div>
                        <h4 class="title">Affordable Excellence</h4>
                        <p class="description">
                            High-quality solutions shouldn't come with exorbitant price tags. Our competitive pricing ensures that businesses of all sizes can benefit from top-tier digital solutions without breaking the bank.
                        </p>
                    </div>
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        <div class="icon"><i class="bi bi-file-bar-graph"></i></div>
                        <h4 class="title">Client Success Stories</h4>
                        <p class="description">
                            Don't just take our word for it. Our extensive portfolio of satisfied clients stands testimony to our capabilities, commitment, and excellence.
                        </p>
                    </div>
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-gift"></i></div>*@
                        <div class="icon"><i class="bi bi-bezier"></i></div>
                        <h4 class="title">Client-Centric Approach</h4>
                        <p class="description">
                            We place you at the heart of everything we do. We listen intently, craft bespoke solutions, and adapt dynamically to your evolving needs. It's not just about delivering results, it's about forging partnerships built on trust, transparency, and a shared vision for success.
                        </p>
                    </div>
                    @*<div class="icon-box">
                    <div></div>
                    <h4 class="title"></h4>
                    <p class="description">
                    </p>
                    </div>*@

                </div>
                @* <div>
                    <p class="mx-5 mb-4">By partnering with Voxtus, you're not just getting a service provider but a dedicated partner committed to propelling your business into the digital future with clarity, confidence, and capability.</p>
                </div> *@
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>Features</h2>
                <p></p>
            </div>

<!--Old Features section-->

            @* <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-1.svg" class="img-fluid" alt="Web Development">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Web Development</h3>
                    <p class="fst-italic">
                     </p>
                    <ul>
                        <li><i class="bi bi-check"></i><b>Overview:</b>: Our team specializes in designing and developing user-centric websites that resonate with your brand and target audience.</li>
                        <li><i class="bi bi-check"></i><b>Features: </b>Responsive designs ensuring optimal viewing across various devices, SEO-friendly structures to improve search engine visibility, and integration of the latest web technologies for enhanced user experience.</li>
                        <li><i class="bi bi-check"></i><b>Tools & Technologies:</b>Use of popular frameworks and CMS platforms tailored to client needs, ensuring flexibility and scalability.</li>
                    </ul>
                </div>
            </div> 
            <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features-2.svg" class="img-fluid" alt="Cloud Services">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Cloud Services</h3>
            <p class="fst-italic">

            </p>
            <p>
            <ul>
            <li><i class="bi bi-check"></i><b>Overview:</b>Navigate the digital cloud with our tailored cloud services, from consulting and migration to deployment and management.</li>
            <li><i class="bi bi-check"></i><b>Features: </b>Secure data storage, scalable resources based on demand, disaster recovery solutions, and regular backups.</li>
            <li><i class="bi bi-check"></i><b>Tools & Technologies:</b> Collaboration with leading cloud providers to ensure optimal performance and security.</li>
            </ul>
            </p>
            </div>
            </div>

            <div class="row" data-aos="fade-up">
            <div class="col-md-5">
            <img src="assets/img/features-3.svg" class="img-fluid" alt="App Development">
            </div>
            <div class="col-md-7 pt-5">
            <h3>App Development</h3>
            <p></p>
            <ul>
            <li><i class="bi bi-check"></i><b>Overview:</b>We conceptualize, design, and develop software applications tailored for both Android and iOS platforms, focusing on user experience and functionality.</li>
            <li><i class="bi bi-check"></i><b>Features:</b>Intuitive UI/UX, smooth performance, regular updates to keep up with OS changes, and integration of features like push notifications, geolocation, and more.</li>
            <li><i class="bi bi-check"></i><b>Tools & Technologies:</b>Use of native development tools, as well as cross-platform solutions, depending on project requirements.</li>
            <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>
        </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="assets/img/features-4.svg" class="img-fluid" alt="Artificial Intelligence & Machine Learning">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3>Artificial Intelligence & Machine Learning</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <p>
                    <ul>
                        <li><i class="bi bi-check"></i><b>Overview:</b>Leverage the power of AI and ML to enhance business operations, from data analytics to automated customer interactions.</li>
                        <li><i class="bi bi-check"></i><b>Features: </b>Predictive analytics to anticipate market changes, chatbots for improved customer service, and algorithmic solutions for process optimization.</li>
                        <li><i class="bi bi-check"></i><b>Tools & Technologies:</b>Implementation of neural networks, deep learning models, and NLP for varied solutions.</li>
                    </ul>
                </p>
            </div>
        </div>*@

        <!--New Features Section-->

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-1.svg" class="img-fluid" alt="Web Development">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Power Platform Solutions</h3>
                    <p class="fst-italic">
                    </p>
                    <ul>
                        <li>
                            <i class="bi bi-check"></i><b>Overview: </b>Voxtus specializes in Microsoft's Power Platform, bringing deep expertise to transform your business.
                        </li>
                        <li>
                            <i class="bi bi-check"></i><b>Features: </b>Our solutions encompass custom applications, streamlined workflows, and insightful data analytics.
                        </li>
                        <li>
                            <i class="bi bi-check"></i><b>Tools & Technologies: </b>We utilize a range of tools available in Power Platform to create seamless integrations and powerful solutions.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-3.svg" class="img-fluid" alt="Cloud Services">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>Robotic Process Automation (RPA)</h3>
                    <p class="fst-italic">
                       
                    </p>
                    <p>
                        <ul>
                            <li>
                                <i class="bi bi-check"></i><b>Overview: </b>Our RPA proficiency drives task automation, enhancing efficiency and reducing manual effort.
                            </li>
                            <li>
                                <i class="bi bi-check"></i><b>Features: </b>Cost savings, error reduction, and process optimization are at the core of our RPA solutions.
                            </li>
                            <li>
                                <i class="bi bi-check"></i><b>Tools & Technologies: </b>We leverage cutting-edge RPA tools like UiPath, Power Automate and other technologies to streamline your processes.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="assets/img/features-4.svg" class="img-fluid" alt="App Development">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>Web Development</h3>
                    <p></p>
                    <ul>
                        <li>
                            <i class="bi bi-check"></i><b>Overview: </b>Our web development expertise brings your online presence to life, creating impactful digital experiences.
                        </li>
                        <li>
                            <i class="bi bi-check"></i><b>Features: </b>We craft responsive websites with user-friendly interfaces, ensuring your online success.
                        </li>
                        <li>
                            <i class="bi bi-check"></i><b>Tools & Technologies: </b>Our web development team utilizes a wide range of tools and technologies to deliver outstanding websites and applications.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="assets/img/features-2.svg" class="img-fluid" alt="Cloud Services">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>Dynamics 365 Solutions</h3>
                    <p class="fst-italic">

                    </p>
                    <p>
                        <ul>
                            <li>
                                <i class="bi bi-check"></i><b>Overview: </b>Voxtus excels in Microsoft Dynamics 365, providing comprehensive expertise to revolutionize your business processes.
                            </li>
                            <li>
                                <i class="bi bi-check"></i><b>Features: </b>Our solutions encompass tailored applications, optimized business workflows, and data-driven insights.
                            </li>
                            <li>
                                <i class="bi bi-check"></i><b>Tools & Technologies: </b>We leverage a suite of tools within Dynamics 365 to develop seamless integrations and robust solutions.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            
        </div>
    </section><!-- End Features Section -->

</main>
