@{
   // ViewData["Title"] = "Privacy Policy";
}<main id="main">
    <section>
        <div class="container mt-2" style="border:1px solid black">
            <h2 class="text-center mx-2 mt-4">Privacy Policy</h2>
            <p class="mx-3"><strong>Effective Date: </strong>17-08-2023</p>
            <h3 class="mx-3">Your privacy is important to us</h3>
            <p class="mx-3">Voxtus Technology Private Limited is located at:</p>
            <address class="mx-3">
            Voxtus Technology Private Limited<br>
            Lane No 5F, Shivraj Nagar, Badonwala, Badonwala, Dehradun <br>248007 Uttarakhand , India<br>
            Phone: +918630235507
        </address>
            <p class="mx-3">It is Voxtus Technology Private Limited's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="https://www.voxtus.com"> www.voxtus.com</a>. We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
            <p class="mx-3">This Privacy Policy, together with the Terms of service posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms of service.</p>
            <h3 class="mx-3" id="tableofcontents">Contents</h3>
            <p class="mx-3">Click below to jump to any section of this privacy policy</p>
            <ol class="mx-3" type="1">
            <li>
                <a href="#websitevisitors"><strong>Website Visitors</strong></a>
            </li>
            <li>
                <a href="#PII"><strong>Personally-Identifying Information</strong></a>
            </li>
            <li>
                <a href="#Security"><strong>Security</strong></a>
            </li>
            <li>
                <a href="#Ads"><strong>Advertisements</strong></a>
            </li>
            <li>
                <a href="#ExternalLinks"><strong>Links To External Sites</strong></a>
            </li>
            <li>
                <a href="#Remarketing"><strong>Voxtus Technology Private Limited uses Google AdWords for remarketing</strong></a>
            </li>
            <li>
                <a href="#PIIProtection"><strong>Protection of Certain Personally-Identifying Information</strong></a>
            </li>
            <li>
                <a href="#Affiliates"><strong>Affiliate Disclosure</strong></a>
            </li>
            <li>
                <a href="#Cookies"><strong>Cookies</strong></a>
            </li>
            <li>
                <a href="#Ecommerce"><strong>E-commerce</strong></a>
            </li>
            <li>
                <a href="#businesstransfers"><strong>Business Transfers</strong></a>
            </li>
            <li>
                <a href="#Changes"><strong>Privacy Policy Changes</strong></a>
            </li>
            <li>
                <a href="#Credit"><strong>Contact Information &amp; Credit</strong></a>
            </li>

        </ol>
            <h3 class="mx-3" id="websitevisitors">Website Visitors</h3>
            <p class="mx-3">Like most website operators, Voxtus Technology Private Limited collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Voxtus Technology Private Limited's purpose in collecting non-personally identifying information is to better understand how Voxtus Technology Private Limited's visitors use its website. From time to time, Voxtus Technology Private Limited may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
            <p class="mx-3">Voxtus Technology Private Limited also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on https://www.voxtus.com blog posts. Voxtus Technology Private Limited only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="PII">Personally-Identifying Information</h3>
            <p class="mx-3">Certain visitors to Voxtus Technology Private Limited's websites choose to interact with Voxtus Technology Private Limited in ways that require Voxtus Technology Private Limited to gather personally-identifying information. The amount and type of information that Voxtus Technology Private Limited gathers depends on the nature of the interaction. For example, we ask visitors who leave a comment at https://www.voxtus.com to provide a username and email address.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="Security">Security</h3>
            <p class="mx-3">The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="Ads">Advertisements</h3>
            <p class="mx-3">Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Voxtus Technology Private Limited and does not cover the use of cookies by any advertisers.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="ExternalLinks">Links To External Sites</h3>
            <p class="mx-3">Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms of service of every site you visit.</p>
            <p class="mx-3">We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="Remarketing">Voxtus Technology Private Limited uses Google AdWords for remarketing</h3>
            <p class="mx-3">Voxtus Technology Private Limited uses the remarketing services to advertise on third party websites (including Google) to previous visitors to our site. It could mean that we advertise to previous visitors who haven't completed a task on our site, for example using the contact form to make an enquiry. This could be in the form of an advertisement on the Google search results page, or a site in the Google Display Network. Third-party vendors, including Google, use cookies to serve ads based on someone's past visits. Of course, any data collected will be used in accordance with our own privacy policy and Google's privacy policy.</p>
            <p class="mx-3">You can set preferences for how Google advertises to you using the Google Ad Preferences page, and if you want to you can opt out of interest-based advertising entirely by cookie settings or permanently using a browser plugin.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="PIIProtection">Protection of Certain Personally-Identifying Information</h3>
            <p class="mx-3">Voxtus Technology Private Limited discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Voxtus Technology Private Limited's behalf or to provide services available at Voxtus Technology Private Limited's website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Voxtus Technology Private Limited's website, you consent to the transfer of such information to them. </p>
            <p class="mx-3">If you are a registered user of https://www.voxtus.com and have supplied your email address, Voxtus Technology Private Limited may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with Voxtus Technology Private Limited and our products.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="Affiliates">Affiliate Disclosure</h3>
            <p class="mx-3">This site uses affiliate links and does earn a commission from certain links. This does not affect your purchases or the price you may pay.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="Cookies">Cookies</h3>
            <p class="mx-3">To enrich and perfect your online experience, Voxtus Technology Private Limited uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
            <p class="mx-3">A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Voxtus Technology Private Limited uses cookies to help Voxtus Technology Private Limited identify and track visitors, their usage of https://www.voxtus.com, and their website access preferences. </p>
            <p class="mx-3">By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to Voxtus Technology Private Limited's use of cookies.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="Ecommerce">E-commerce</h3>
            <p class="mx-3">Those who engage in transactions with Voxtus Technology Private Limited – by purchasing Voxtus Technology Private Limited's services or products, are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Voxtus Technology Private Limited collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with Voxtus Technology Private Limited. </p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="businesstransfers">Business Transfers</h3>
            <p class="mx-3">If Voxtus Technology Private Limited, or substantially all of its assets, were acquired, or in the unlikely event that Voxtus Technology Private Limited goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Voxtus Technology Private Limited may continue to use your personal information as set forth in this policy.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="Changes">Privacy Policy Changes</h3>
            <p class="mx-3">Although most changes are likely to be minor, Voxtus Technology Private Limited may change its Privacy Policy from time to time, and in Voxtus Technology Private Limited's sole discretion. Voxtus Technology Private Limited encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

        <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>
            <h3 class="mx-3" id="Credit">Contact Information &amp; Credit</h3>
            <p class="mx-3">This privacy policy was created at <a style="text-decoration:none" href="https://privacyterms.io/privacy-policy-generator/" title="Privacy policy generator" target="_blank">privacyterms.io privacy policy generator</a>. If you have any questions about our Privacy Policy, please <a asp-controller="ContactUs" asp-action="Index">contact us</a>.</p>

            <p class="mx-3"><a href="#tableofcontents">Back to table of contents</a></p>

        </div>
    </section>
</main>

<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>


<!--The End of the Links Section-->