@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PowerAutomateLayout.cshtml";
}

        <div class="container bg-light mt-4 service-details align-items-center" style="border:2px solid black">
            <div class="mt-2 mx-2">
                <h1 class="mt-4 mx-3 text-center">
                    How to create table in Excel through Microsoft Power Automate.
                </h1><hr />
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <p class="mt-4 mx-3">Before starting if you have your excel sheet in your local system them you have to upload it into OneDrive or SharePoint. In this blog post we will see how it will work with OneDrive.</p>
                <ul class="mt-4 mx-3">
                    <li>Now open OneDrive in your browser and click on <span class="fw-bold">“<i class="bi bi-plus-lg"></i>Add new”</span> and then click on Excel Workbook.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_1.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Now this will open a blank worksheet in a new tab. Here edit the sheet name and paste your excel data from the excel sheet which is in your local computer.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_2.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Now open Power Automate in another tab and create an instant flow with the manual trigger.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_3.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_4.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Add a new step just by clicking on <span class="fw-bold">“<i class="bi bi-plus-lg"></i>New step”</span> button.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_5.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Select <span class="fw-bold">“Excel Online”</span> as a connector.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_6.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Select <span class="fw-bold">“Create table”</span> in action.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_7.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Enter all the details in their respective fields, you can refer to below image. Then click on <span class="fw-bold">"save"</span>. Once successfully saved we’ll hit on Test button to check this flow’s working.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_8.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Meanwhile you all can see currently this excel sheet is not formatted as a table.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_9.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Meanwhile you all can see currently this excel sheet is not formatted as a table.</li>
                </ul>
                <div class="container d-flex flex-row justify-content-around mt-4 mb-4 gap-1">
                    <b>a.</b>
            <img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_10.png" alt="createexcelthroughpowerautomate" class="img-fluid  border" width="45%" />
                    <b>b.</b>
            <img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_11.png" alt="createexcelthroughpowerautomate" class="img-fluid border" width="45%" />
                </div>
            <div class="container d-flex flex-row justify-content-around align-content-center mt-4 mb-4 gap-1">
                    <b>c.</b>
            <img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_12.png" alt="createexcelthroughpowerautomate" class="img-fluid border" width="45%" />
                    <b>d.</b>
            <img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_13.png" alt="createexcelthroughpowerautomate" class="img-fluid border h-75" width="45%" />
                </div>
            <div class="container d-flex flex-row justify-content-around align-content-center mt-4 mb-4 gap-1">
                    <b>e.</b>
            <img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_14.png" alt="createexcelthroughpowerautomate" class="img-fluid border h-75" width="45%" />
                    <b>f.</b>
            <img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_15.png" alt="createexcelthroughpowerautomate" class="img-fluid border" width="45%" />
                </div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1">
                <ul class="mt-4 mx-3">
                    <li>Once the flow runs successfully you’ll get notified.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_16.png" alt="createexcelthroughpowerautomate" class="img-fluid border" /></div>
            </div>
            <div class="mt-2 mx-3 bg-white pt-1 pb-3">
                <ul class="mt-4 mx-3">
                    <li>After a successful run of flow, the excel sheet will be formatted as a table.</li>
                </ul>
        <div class="container d-flex justify-content-center mt-4 mb-4"><img src="~/images/blog/power automate/createexcelthroughpowerautomate/screenshot_17.png" alt="createexcelthroughpowerautomate" class="img-fluid" /></div>
                <p class="mt-4 mx-3">In this guide, we've walked you through the step-by-step process of creating tables in Excel using Microsoft Power Automate. We hope you've found this tutorial helpful in harnessing the power of automation to streamline your data management tasks.</p>
                <p class="mt-4 mx-3">As you dive deeper into the world of Power Automate, you'll discover that the possibilities are virtually limitless. This is just the beginning of what you can achieve with this robust tool. From data collection and processing to report generation and task automation, Power Automate can be your trusted ally in simplifying and enhancing various aspects of your business operations.</p>
                <p class="mt-4 ps-5 pe-5 mt-3 fw-semibold text-center text-secondary">As you continue your automation journey, keep an eye on new features and updates from Microsoft, as Power Automate evolves to offer even more capabilities and integrations.</p>
                <h3 class="mx-3 text-center">Happy automating!</h3>
            </div>
            <hr />
            <div class="row mb-2">
                <h6 class="text-center text-primary">
                    If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                </h6>
            </div>

            <div class="row">
                <div class="col-8"></div>
                <div class="col-4"><p><b>Abhishek Kumar<br />Power Apps Consultant</b></p></div>
            </div>
        </div>
