@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PowerAutomateLayout.cshtml";
}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1MBFHK5D1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z1MBFHK5D1');
</script>
<div class="container bg-light mt-4 service-details align-content-center" style="border:2px solid black">
                    <div class="mt-2 mx-2">
                        <h1 class="mt-4 mx-3 text-center">
                            An unexpected exception encountered when evaluating branching condition.
                        </h1><hr />
                    </div>
                    <div class="mt-3 mx-3 bg-white pt-1">
                <p class="mt-3 mx-3 h5 text-primary  text-center">
                            What to do when you encounter following error.
                        </p>
                        <ul class="mt-4 mx-3 pb-3">
                    <li>Cloud Flow Error <b>“An unexpected exception encountered when evaluating branching condition”</b></li>
                        </ul>
                <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/power automate/unexpected_exception_encountered/screenshot_1.jpg" alt="unexpected_exception_encountered" class="img-fluid rounded mx-auto d-block h-50 w-75 " />
                        </div>
                <p class="mt-3 mx-3"><b>Solution :-</b></p>
                <ul class="mt-3 mx-3"><li> You will have to change the format of Switch’ Condition.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/power automate/unexpected_exception_encountered/screenshot_2.jpg" alt="unexpected_exception_encountered" class="img-fluid rounded mx-auto d-block h-50 w-75 " />
                        </div>
                <ul class="mt-3 mx-3 pb-3"><li>In my case I have used the Int expression and converted text in Integer format and it worked.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/power automate/unexpected_exception_encountered/screenshot_3.jpg" alt="unexpected_exception_encountered" class="img-fluid rounded mx-auto d-block h-50 w-75 " />
                        </div>
                <ul class="mt-3 mx-3 pb-3"><li>My flow ran successfully.</li></ul>
                        <div class="mt-3 mx-3 pt-3 pb-3">
            <img src="~/images/blog/power automate/unexpected_exception_encountered/screenshot_4.jpg" alt="unexpected_exception_encountered" class="img-fluid rounded mx-auto d-block h-50 w-75 " />
                        </div>
                    </div>
                    
                    <hr />
                    <div class="row mb-2">
                        <h6 class="text-center text-primary">
                            If you have any doubts or questions related to this blog, you can Contact us by Email: info@voxtus.com
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4"><p><b>Vijendra Rawat<br />Power Automate Consultant</b></p></div>
                    </div>
                </div>
