@{
    ViewData["Title"] = "Import Excel to SharePoint List with Power Automate Flow |";
}

<!-- ======= Meta Desctiption ======= -->
@section MetaTags {
    <meta name="title" content="Auto Generate Zoom Link from Microsoft Bookings">
    <meta name="description" content="Create a Power Automate flow to auto-generate Zoom links from Microsoft Bookings and send them via email using Zoom API and access tokens.">
    <meta name="keywords" content="Power Automate, Zoom API, Microsoft Bookings, Zoom link automation, send Zoom email, flow automation, access token, Zoom integration, Power Platform, Office 365, automate Zoom, Zoom meeting flow, Bookings automation, Zoom email trigger, API flow Microsoft">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_PowerAutomateLayout.cshtml";
}

<div class="container bg-light mt-4 service-details align-items-center" style="border:2px solid black">
    <div class="mt-2 mx-2">
        <h1 class="mt-4 mx-3 text-center">
            Create a Zoom meeting via Power Automate
        </h1><hr />
    </div>
    <div class="mt-2 mx-3 bg-white pt-1 pb-3">
        <h3 class="mt-4 mx-3">Step 1: Create a Shared Booking Page </h3>
        <ul class="mt-3 mx-1">
            <li>Click on the nine dots of the outlook page and then click on the “Bookings”. This will redirect to the Microsoft Bookings. </li>
        </ul>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/Bookingimage1.webp" alt="Booingimage1" title="Booingimage1" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <ul class="mt-3 mx-1">
            <li>
                There are two options for creating booking, Personal booking page & Share booking pages. Click on the “Shared booking pages”.
            </li>
        </ul>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/bookingimage2.webp" alt="Booingimage2" title="Booingimage2" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <ul class="mt-3 mx-1">
            <li><span class="fw-semibold">Name the Page: </span> </li>
        </ul>
        <p class="mt-4 mx-3">- Enter a unique **Name** (e.g., "VJ Test").  </p>
            <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/Bookingimage3.webp" alt="Booingimage3" title="Booingimage3" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
            </div>
        <ul class="mt-3 mx-1">
            <li><span class="fw-semibold">Add a Logo (Optional): </span> </li>
        </ul>
        <p class="mt-4 mx-3"> - Upload a logo for branding (e.g., company logo).  </p>
        <ul class="mt-3 mx-1">
            <li><span class="fw-semibold">Select Business Type:</span>  </li>
        </ul>
        <p class="mt-4 mx-3">- Choose from predefined categories like *IT support*, *Education*, or *Other*. </p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/bookingimage4.webp" alt="Booingimage4" title="Booingimage4" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <ul class="mt-3 mx-1">
            <li><span class="fw-semibold">Set Business Hours: </span></li>
        </ul>
        <p class="mt-4 mx-3">Default: Mon-Fri, 9:00 AM – 5:00 PM. Click **Change** to customize.</p>
        <ul class="mt-3 mx-1">
            <li>Click **Next** to proceed.  </li>
        </ul>
        <h5 class="mt-4 mx-3">Invite Staff</h5>
        <ul class="mt-3 mx-1">
            <li>Invite Team Members: </li>
        </ul>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/Bookingimage5.webp" alt="Booingimage5" title="Booingimage5" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3">
            Search for staff within your organization.</p>
        <p class="mt-4 mx-3">
            - Assign roles (default: *Team Member*). External users can be added later.</p>
        <p class="mt-4 mx-3">Click –Next- to continue.  </p>
        <h5 class="mt-4 mx-3">Set Up Services  </h5>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/bookingimage6.webp" alt="Booingimage6" title="Booingimage6" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <ul class="mt-3 mx-1">
            <li><span class="fw-semibold">Define Appointment Types:</span>  </li>
        </ul>
        <p class="mt-4 mx-3">- A default service (e.g., *IT support, 30 mins*) is pre-created.  </p>
        <p class="mt-4 mx-3">Modify duration, availability, or description.</p>
        <ul class="mt-3 mx-1">
            <li>Customize Later:  </li>
        </ul>
        <p>   - Add more services post-setup (e.g., *Consultation*, *Training*).  </p>
        <ul class="mt-3 mx-1">
            <li><span class="fw-semibold">Click -Next- to advance.</span></li>
        </ul>
        <h5>Configure Access Permissions </h5>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/Bookingimage7.webp" alt="Booingimage7" title="Booingimage7" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <h5 class="mt-3 mx-3 pt-3"> **Choose Audience**:  </h5>
        <p class="mt-3 mx-3 pt-3">- **No self-service**: Bookings managed internally.</p>
        <p class="mt-3 mx-3 pt-3">- **People in my organization**: Internal self-service page.</p>
        <p class="mt-3 mx-3 pt-3"><span class="fw-semibold">- **Anyone**: Public page (default for external users).</span></p>
        <p class="mt-3 mx-3 pt-3"><span class="fw-semibold">Click **Finish** to publish the booking page.</span></p>
        <hr />
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/Bookingimage8.webp" alt="Booingimage8" title="Booingimage8" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <ul class="mt-3 mx-1">
            <li><span class="fw-semibold" >Copy the link and paste in new tab for creating “Bookings”</span></li>
        </ul>
        <p class="mt-3 mx-3 pt-3">**Add User Input Fields**:  </p>
        <p class="mt-3 mx-3 pt-3">   - Require details like name, email, phone, and special requests.  </p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/bookingimage9.webp" alt="Bookingimage9" title="Bookingimage9" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/bookingimage10.webp" alt="Bookingimage10" title="Bookingimage10" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/bookingimage11.webp" alt="Bookingimage11" title="Bookingimage11" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <h5 class="mt-4 mx-3">Preview and Test </h5>
        <p class="mt-3 mx-3 pt-3"> **Check Availability**:</p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/bookingimages/bookingimage12.webp" alt="Bookingimage12" title="Bookingimage12" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <h3 class="mt-4 mx-3 ">Step 2: Create a Zoom App for API Access</h3>
        <p class="mt-4 mx-3"><span class="fw-semibold">1.Go to Zoom Marketplace:</span> https://marketplace.zoom.us/</p>
		<div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/zoom1.webp" alt="zoom1" title="zoom1" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3">
            <span class="fw-semibold">
                  2.	Sign In</span> with your Zoom admin account.
        </p>
        <p class="mt-4 mx-3">

            3.	Click on<span class="fw-semibold">
                "Develop" > "Build App".</span>
        </p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom2.webp" alt="zoom2" title="zoom2" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3">
            <span class="fw-semibold">4.	Select App Type:</span>
        </p>
        <ul class="mt-3 mx-1">
            <li>Choose  <span class="fw-semibold">"Server-to-Server OAuth App" </span>(recommended for automation).</li>
            <li>Click  <span class="fw-semibold">"Create".</span></li>
        </ul>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom3.webp" alt="zoom3" title="zoom3" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <h3 class="mt-4 mx-3">Configure the Server-to-Server OAuth App</h3>
        <p class="mt-4 mx-3">1.	App Name: Provide a meaningful name.</p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom4.webp" alt="zoom4" title="zoom4" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3"> <span class="fw-semibold">2.	Information:</span> Fill in required fields (developer contact, company name, etc.)..</p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom5.webp" alt="zoom5" title="zoom5" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom6.webp" alt="zoom6" title="zoom6" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <h3 class="mt-4 mx-3">3.	App Credentials:</h3>
        <ul class="mt-3 mx-1">
            <li>Save the Client ID, Client Secret, and Account ID securely.</li>
        </ul>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom7.webp" alt="zoom7" title="zoom7" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <h3 class="mt-4 mx-3">Set API Scopes</h3>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom8.webp" alt="zoom8" title="zoom8" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3">Go to <span class="fw-semibold">Scopes</span> tab in the app setup:</p>
        <ul>
            <li>Click "+ <span class="fw-semibold">Add Scopes</span>".</li>
            <li>Add scope: meeting:write:admin to create meetings.</li>
        </ul>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom9.webp" alt="zoom9" title="zoom9" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3">Save and <span class="fw-semibold">Activate the app.</span></p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom10.webp" alt="zoom10" title="zoom10" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom11.webp" alt="zoom11" title="zoom11" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/zoomimages/Zoom12.webp" alt="zoom12" title="zoom12" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <h3 class="mt-4 mx-3">Step 3: Create a Power Automate flow for Zoom API Access</h3>
        <p class="mt-4 mx-3">1.	<span class="fw-semibold">Trigger</span>: Use the <span class="fw-semibold">"When an appointment is created"</span> trigger from the <span class="fw-semibold">Microsoft Bookings</span> connector.</p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/powerautomate/PAimage1.webp" alt="paimage1" title="paimage1" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
		</div>
        <p class="mt-4 mx-3">Custom Value:</p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/powerautomate/PAimage2.webp" alt="paimage2" title="paimage2" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3">
            <span class="fw-semibold">
                Note:</span>-Paste the booking page link in the custom Value and remove first part from https till calendar/ from the link and remove last part from /booking till last. Rest of the part of the link paste in the Custom value. For reference, check below
            <span class="fw-semibold">https://outlook.office.com/owa/calendar/VJTest@53ldh0.onmicrosoft.com/bookings/?ismsaljsauthenabled</span>
        </p>
        <hr />
        <h4 class="mt-4 mx-3">Step (4-a1): “To Convert Time” just after "When an appointment is created" trigger</h4>
        <h5 class="mt-4 mx-3">Step 1: Add a new action:-“Compose”</h5>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C1.webp" alt="C1" title="C1" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
		</div>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C2.webp" alt="C2" title="C2" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3"><span class="fw-semibold">1.	 In the expression paste this formula:-</span></p>
        <p class="mt-4 mx-3">
            <span class="fw-semibold">convertTimeZone(triggerOutputs()?['body/startTime'], 'UTC', 'Eastern Standard Time', 'MM-dd-yyyy hh:mm tt')</span>
        </p>
         <p class="mt-4 mx-3">
            Note:- the above yellow part is the “output value of Start Time” will come from dynamic value. And change the Time Zone as per your location of USA. Here are the values of USA time zone, copy and paste in the expression.
         </p>
        <p class="mt-4 mx-3">Here are some common U.S. time zone IDs you can use:</p>
        <div class="mt-2 mx-3 bg-white pt-3 pb-1">
            <table>
                <tr>
                    <th style="border:1px solid black"><h5 class="text-center">Region</h5></th>
                    <th style="border:1px solid black"><h5 class="text-center">Time Zone ID</h5></th>
                </tr>
                <tr>
                    <td>Eastern Time (ET)</td>
                    <td>'Eastern Standard Time'</td>
                 </tr>
                   <tr>
                    <td>Central Time (CT)</td>
                    <td>'Central Standard Time'</td>
                 </tr>
                <tr>
                    <td>Mountain Time (MT)</td>
                    <td>'Mountain Standard Time'</td>
                </tr>
                <tr>
                    <td>Pacific Time (PT)</td>
                    <td>'Pacific Standard Time'</td>
                </tr>
             </table>
         </div>
        

        <h3 class="mt-4 mx-3 ">Step 4: Generate Zoom Access Token</h3>
        <h4 class="mt-4 mx-3">Action 1: Generate a Zoom Meeting Link via HTTP Request</h4>
        <h5 class="mt-4 mx-3">Action 1: Add a “Compose” and rename it “Generate base64 Encoder”</h5>
        <p class="mt-4 mx-3"><span class="fw-semibold">Inside the compose paste an Expression value type:-</span> base64(ClientID:ClientSecret)</p>
        <p class="mt-4 mx-3">Put the (ClientID:ClientSecret)which was saved earlier.</p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/powerautomate/PAimage3.webp" alt="paimage3" title="paimage3" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>

        <h3 class="mt-4 mx-3 ">Step 5: Use Power Automate to Get Token</h3>
        <h5 class="mt-4 mx-3" >Action 2: Add an “HTTP” Action:  and rename its name to HTTP</h5>
        <ul class="mt-3 mx-1 ">
            <li><span class="fw-semibold">Method: POST</span></li>
            <li><span class="fw-semibold">URI: https://zoom.us/oauth/token</span></li>
            <li><span class="fw-semibold">Headers</span></li>
        </ul>
        <p class="mt-4 mx-3">Authorization: Basic (Output of Generate base64 Encoder )</p>
        <p class="mt-4 mx-3">Content-Type: application/x-www-form-urlencoded</p>
        <ul class="mt-3 mx-1 ">
            <li><span class="fw-semibold">Queries:</span></li>
        </ul>
        <p class="mt-4 mx-3"><span class="fw-semibold">: account_credentials</span></p>
        <p class="mt-4 mx-3"><span class="fw-semibold">account_id: Paste account_id here (get account id from zoom market place)</span></p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/powerautomate/PAimage4.webp" alt="paimage4" title="paimage4" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>


        <h3 class="mt-4 mx-3">Step 6: Create a Zoom Meeting via API</h3>
        <h5 class="mt-4 mx-3">Action3: Add an “HTTP” Action: and Rename HTTP to Create Meeting</h5>
        <ul class="mt-3 mx-1 ">
            <li><span class="fw-semibold">Method: POST</span></li>
            <li><span class="fw-semibold">URI: https://api.zoom.us/v2/users/me/meetings</span></li>         
        </ul>
        <p class="mt-4 mx-3">
            Headers: {
            "Authorization": "Bearer ACCESS_TOKEN",
            "Content-Type": "application/json"
            }
        </p>
        <p class="mt-4 mx-3">Note:- Put Access Token value in Expression:-</p>
        <p class="mt-4 mx-3">body(‘Access Token Fetch’)?[‘access_token’]</p>
        <p class="mt-4 mx-3">Note:- After Bearer write the following expression in expression tab:-</p>
        <p class="mt-4 mx-3">body(‘New Name of HTTP action ’)?[‘access_token’]</p>
        <p class="mt-4 mx-3">if your HTTP action name is different then write your action name.</p>
        <p class="mt-4 mx-3">body(‘______’)?[‘access_token’]</p>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/powerautomate/PAimage5.webp" alt="paimage5" title="paimage5" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/powerautomate/PAimage7.webp" alt="paimage7" title="paimage7" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
        <p class="mt-4 mx-3">Below images used are used for inside body parameters :</p>
        <div class=" d-flex justify-content-between">
            <h6>Example:</h6>
            <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code1">
                <i class="bi bi-clipboard"></i>
            </button>
        </div>
        <pre id="code1" class="border px-5 pt-3 pb-3" style="background-color:whitesmoke">Body:
{
  "topic": "Zoom Meeting",
  "type": 2,
  "start_time": Under dynamic content select “Output of compose”,
“end_time”: Under expression put this value:         addMinutes(outputs('Compose'),30),

  "duration": 30,
  "timezone": Under dynamic content select “customer time zone for 1:1 meeting”,
  "settings": {
    "host_video": true,
    "participant_video": true,
    "join_before_host": true,
    "mute_upon_entry": true,
    "audio": "voip"
}
}
</pre>
        <div class="mt-3 mx-3 pt-3">
            <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C3.webp" alt="C3" title="C3" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
        </div>
    </div>

    <h5 class="mt-4 mx-3">1.body{start_time}</h5>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C4.webp" alt="C4" title="C4" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <h5 class="mt-4 mx-3">2.body{end_time}</h5>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C5.webp" alt="C5" title="C5" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <h5 class="mt-4 mx-3">3. body{timezone}</h5>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C6.webp" alt="C6" title="C6" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <h3 class="mt-4 mx-3">Step 7:- Add an Action named “Parse JSON”</h3>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C7.webp" alt="C7" title="C7" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <p class="mt-4 mx-3"> Content: In the content add dynamic value “Body” of Create Meeting</p>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C8.webp" alt="C8" title="C8" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <p class="mt-4 mx-3">Schema:- paste this Schema and save it.</p>
    <div class=" d-flex justify-content-between">
        <h6 class="mt-4 mx-3">Example:</h6>
        <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code2">
            <i class="bi bi-clipboard"></i>
        </button>
    </div>
    <pre id="code2" class="border px-5 pt-3 pb-3" style="background-color:whitesmoke">{
    "type": "object",
    "properties": {
        "join_url": {
            "type": "string"
        },
        "start_time": {
            "type": "string"
        },
        "topic": {
            "type": "string"
        },
        "password": {
            "type": "string"
        } ,
        "Meeting ID": {
            "type": "string"
        }

    }
}
</pre>

    <h3 class="mt-4 mx-3">Step 8:- Add an action named “Send an Email (V2)”</h3>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C9.webp" alt="C9" title="C9" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>

    <p class="mt-4 mx-3"> To: paste the dynamic value “Customer Email”</p>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C10.webp" alt="C10" title="C10" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>

    <p class="mt-4 mx-3">Subject:- Write the Subject</p>
    <p class="mt-4 mx-3"> Body:- Paste this format in HTML mode.</p>
    <div class=" d-flex justify-content-between">
        @* <h6 class="mt-4 mx-3">Example: </h6> *@
        <button class="btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#code3">
            <i class="bi bi-clipboard"></i>
        </button>
    </div>
    <pre id="code3" class="border px-5 pt-3 pb-3" style="background-color:whitesmoke"> Hello,<br>
    (Dynamic value “Customer Name”)<br>

    You are being invited to a scheduled zoom meeting.<br><br>
    Topic: body(‘Parse_JSON’)?[‘topic’]<br>
    Start Time: outputs(‘Compose’)<br>
    Join Link: <a href="body('Parse_JSON')?['join_url']">Click here to join Zoom</a><br><br>

    Meeting ID:- body(‘Parse_JSON’)?[‘id’]
    Passcode: body('Parse_JSON')?['password']<br><br>
    Thank you,<br>
    Kind Regards</pre>
    
   
   

    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C10.webp" alt="C10" title="C10" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>

    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C11.webp" alt="C11" title="C11" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C12.webp" alt="C12" title="C12" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C13.webp" alt="C13" title="C13" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C14.webp" alt="C14" title="C14" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <p class="mt-4 mx-3">Note:- Save the flow and create a meeting from “Booking” and check flow is working. Then check meeting is created in Zoom App.</p>
    <div class="mt-3 mx-3 pt-3">
        <img src="~/images/blog/power automate/zoommeetingviapowerautomate/step4a1/C15.webp" alt="C15" title="C15" loading="lazy" class="img-fluid rounded mx-auto d-block" height="760" width="870" />
    </div>
    <hr />
    <div class="row mb-2">
        <h6 class="text-center text-primary">
            If you have any doubts or questions related to this blog, you can Contact us by Email: <a href="mailto:info@voxtus.com" target="_blank" class="text-decoration-none">info@voxtus.com</a>
        </h6>
    </div>

    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><p><b>Himanshu Nauityal<br />Power Automate Consultant</b></p></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script>
    new ClipboardJS('.btn');
</script>