/* Initially hide the sidebar */
/*.sidebar {
    display: block;*/ /* Show on non-mobile viewports */
/*}

.mobile-toggle-button {
    display: none;*/ /* Hide on non-mobile viewports */
/*}*/

/* Show the sidebar on mobile viewports */
/*@media (max-width: 767px) {
    .sidebar {
        display: none;*/ /* Hide on mobile viewports */
    /*}

    .mobile-toggle-button {
        display: block;*/ /* Show on mobile viewports */
    /*}
}*/
