/* Initially hide the sidebar */
/*.sidebar {
    display: block;*/ /* Show on non-mobile viewports */
/*}

.mobile-toggle-button {
    display: none;*/ /* Hide on non-mobile viewports */
/*}*/

/* Show the sidebar on mobile viewports */
/*@media (max-width: 767px) {
    .sidebar {
        display: none;*/ /* Hide on mobile viewports */
    /*}

    .mobile-toggle-button {
        display: block;*/ /* Show on mobile viewports */
    /*}
}*/
/* Add custom CSS for desktop view */
/*@media (min-width: 992px) {
    .offcanvas 
    {
        transform: translateX(0) !important;
        visibility: visible !important;
        display: block !important;
    }

}*/
/*.offcanvas 
{
    width: 100px;
}*/


#side_nav {
    background-color: #cbe0f5;
    min-width: 250px;
    max-width: 250px;
    overflow-y: scroll;
    transition: all 0.2s;
}
.content{
    min-height:100vh;
    width:100%;
    overflow-y:scroll;
}
hr.h-color{
    background-color:#eee;
}
.sidebar li.active{
    background-color:#eee;
    border-radius:8px;

}
.sidebar li.active a, .sidebar li.active a:hover{
    color:#000;
}
.sidebar li a {
    color: #266aad;
    font-weight:600;
}
/*.menu-item {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}*/
.active, .menu-item:hover {
    background-color: #90b2d4;
    color: black;
    border-radius: 8px;
}
.menu-item:active {
    background-color: #68A4C4;
    color: black;
    border-radius: 8px;
}
.headp {
    color: #000;
    cursor: pointer;
    font-size: 18px;
    border-top: 1px solid gray;
    font-weight: 700;
}

@media(max-width:767px) {
    #side_nav{
        margin-left:-250px;
        position:fixed;
        min-height:100vh;
        margin-bottom:900px;
        z-index:1;
    }
    #side_nav.active{
        margin-left:0;
    }
}
.sidebar {
    overflow-y: scroll;
}
.main-container {
    margin-top: 69px;
    max-height:100vh;
    width:100%;
    position:fixed;
    padding-top:11px;
    padding-bottom:100px;
}
