/*@media (min-width: 48em) {
    .column-1 {
        width: 70%;
        float: left;
    }

    .column-2 {
        width: 30%;
        float: left;
    }

    .columns {
        content: "";
        display: table;
        clear: both;
    }
    
}
.box {
    padding: 0;
    margin: 0;
}
*/

/*.wrapper {
    display: flex;
    flex-direction: column;
}

    .wrapper .kutija1 {
        width: 50%;
        height: 300px;
        background: lightblue;
        margin: 20px auto;
        position: relative;
        order: 1;
    }

@media (max-width: 500px) {
    .wrapper .kutija1 {
        order: 2;
    }
}

.wrapper .kutija1 .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.wrapper .kutija2 {
    width: 50%;
    height: 300px;
    background: #b4da77;
    margin: 20px auto;
    position: relative;
    order: 2;
}

@media (max-width: 500px) {
    .wrapper .kutija2 {
        order: 1;
    }
}

.wrapper .kutija2 .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.cd__main {
    display: block !important;
}*/


.box1{ background-color:aliceblue;
       padding:40px 80px;
}
.box2 {
    background-color:whitesmoke; 
    padding: 40px 80px;
}