<!-- ======= Header ======= -->
<main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>UI Path Blog</h2>
                <ol>
                    @*<li><a href="index.html">Home</a></li>
                    <li>Our Portfolio</li>*@
                </ol>
            </div>

        </div>
    </section><!-- End Our Portfolio Section -->
    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>

                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">


                <!--start-->
                <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
                    <div class="portfolio-item">
                        <a asp-controller="UIPath" asp-action="UiPathVsPowerAutomate">
                            <center><img src="~/images/blog/ui path/untitled-2.jpg" class="img-fluid rounded mx-lg-auto d-block pt-4" alt="UiPathVsPowerAutomate"></center>
                        </a>

                        <div class="portfolio-info">
                            @*<a asp-controller="UIPath" asp-action="UiPathVsPowerAutomate"><h3>UiPath vs. Power Automate</h3></a>*@
                            @*<div>
                            <a href="~/images/blog/powerapps/barcodereader/scanbarcode.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="BarCode Reader"><i class="bx bx-plus"></i></a>
                            <a asp-controller="PowerApps" asp-action="BarCodeReader" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                    </div>
                    <div class="text-justify">
                        <a style="text-decoration:none" class="text-dark" asp-controller="UIPath" asp-action="UiPathVsPowerAutomate">
                            <h6 class="text-center">UiPath vs. Power Automate</h6>
                        </a>
                    </div>
                    <hr />
                </div>

                <div class="col-lg-4 col-md-6 portfolio-wrap filter-web">
                    <div class="portfolio-item">
                        <a asp-controller="UIPath" asp-action="UiPathOrchestrator">
                            <center><img src="~/images/blog/ui path/uipathorchestrator/screenshot_1.png" class="img-fluid rounded mx-lg-auto d-block pt-4" alt="UiPathOrchestrator"></center>
                        </a>

                        <div class="portfolio-info">
                            @*<a asp-controller="UIPath" asp-action="UiPathVsPowerAutomate"><h3>UiPath vs. Power Automate</h3></a>*@
                            @*<div>
                            <a href="~/images/blog/powerapps/barcodereader/scanbarcode.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="BarCode Reader"><i class="bx bx-plus"></i></a>
                            <a asp-controller="PowerApps" asp-action="BarCodeReader" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>*@
                        </div>
                    </div>
                    <div class="text-justify">
                        <a style="text-decoration:none" class="text-dark" asp-controller="UIPath" asp-action="UiPathOrchestrator">
                            <h6 class="text-center">UiPath Orchestrator: A Comprehensive Guide</h6>
                        </a>
                    </div>
                    <hr />
                </div>
                <!--End-->
                


            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<!--Our Links Section Start Here-->
<link href="~/assets/css/style.css" rel="stylesheet" />
<script src="~/assets/js/main.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />


<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">





<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>



<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
<link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />



<!--The End of the Links Section-->